Repository ethereum/sourcify: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-monitor, run-build-server, run-build-repository, run-build-packages, run-build-ui

Update changelogs
  CHANGELOG.md
  packages/bytecode-utils/CHANGELOG.md
  packages/compilers/CHANGELOG.md
  packages/lib-sourcify/CHANGELOG.md
  services/database/CHANGELOG.md
  services/monitor/CHANGELOG.md
  services/server/CHANGELOG.md
Due: run-build-monitor, run-build-server, run-build-packages

use mocked data in upgadeContract
  services/server/src/server/apiv1/verification/private/stateless/private.stateless.handlers.ts
Due: run-build-server

chore(release): publish
  package-lock.json
  package.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  services/database/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

Make SourcifyChainMap cloneable to worker
  packages/lib-sourcify/src/SourcifyChain/SourcifyChain.ts
  packages/lib-sourcify/src/SourcifyChain/SourcifyChainTypes.ts
  packages/lib-sourcify/src/Verification/Verification.ts
  packages/lib-sourcify/src/index.ts
  packages/lib-sourcify/test/SourcifyChain.spec.ts
  services/monitor/src/Monitor.ts
  services/monitor/test/Monitor.spec.ts
  services/server/src/server/services/VerificationService.ts
  services/server/src/server/services/workers/verificationWorker.ts
  services/server/src/sourcify-chains.ts
  services/server/test/chains/deployContracts.ts
Due: run-build-monitor, run-build-server, run-build-packages

Shutdown workers gracefully
  services/server/src/server/server.ts
  services/server/src/server/services/StorageService.ts
  services/server/src/server/services/VerificationService.ts
  services/server/src/server/services/services.ts
  services/server/test/helpers/ServerFixture.ts
Due: run-build-server

fix on conflict clause for insertContractDeployment
  services/server/src/server/services/utils/Database.ts
Due: run-build-server

Fix on conflict clause for insertContractDeployment (#2020)
  services/server/src/server/services/utils/Database.ts
Due: run-build-server

Update changelogs
  CHANGELOG.md
  services/server/CHANGELOG.md
Due: run-build-server

Update changelogs
  services/server/CHANGELOG.md
Due: run-build-server

chore(release): publish
  package-lock.json
  services/server/package.json
Due: run-build-server

Removed RPC from Zircuit Testnet and Garfield
  services/server/src/sourcify-chains-default.json
Due: run-build-server

Rename `code` of `IResponseError` to `statusCode`
  services/server/src/common/errors/BadGatewayError.ts
  services/server/src/common/errors/BadRequestError.ts
  services/server/src/common/errors/ConflictError.ts
  services/server/src/common/errors/ContractIsAlreadyBeingVerifiedError.ts
  services/server/src/common/errors/GenericErrorHandler.ts
  services/server/src/common/errors/InternalServerError.ts
  services/server/src/common/errors/NotFoundError.ts
  services/server/src/common/errors/PayloadTooLargeError.ts
  services/server/src/common/errors/TooManyRequests.ts
  services/server/src/common/interfaces.ts
  services/server/src/server/apiv2/errors.ts
Due: run-build-server

Catch errors inside `genericErrorHandler`
  services/server/src/common/errors/GenericErrorHandler.ts
Due: run-build-server

Improve express error handler (#2027)
  services/server/src/common/errors/BadGatewayError.ts
  services/server/src/common/errors/BadRequestError.ts
  services/server/src/common/errors/ConflictError.ts
  services/server/src/common/errors/ContractIsAlreadyBeingVerifiedError.ts
  services/server/src/common/errors/GenericErrorHandler.ts
  services/server/src/common/errors/InternalServerError.ts
  services/server/src/common/errors/NotFoundError.ts
  services/server/src/common/errors/PayloadTooLargeError.ts
  services/server/src/common/errors/TooManyRequests.ts
  services/server/src/common/interfaces.ts
  services/server/src/server/apiv2/errors.ts
Due: run-build-server

Added Zircuit Garfield Testnet (#2016)
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

Set `availableParallelism` manually in CircleCI
  services/server/src/server/services/VerificationService.ts
Due: run-build-server

add test for version <= 0.4.10
  package-lock.json
  services/server/test/integration/apiv1/verification-handlers/verify.stateless.spec.ts
  services/server/test/testcontracts/0_4_10/artifact.json
  services/server/test/testcontracts/0_4_10/landcontract_NEW.sol
  services/server/test/testcontracts/0_4_10/metadata.json
Due: run-build-server

fix(deps): update all patch and minor dependencies
  package-lock.json
  packages/bytecode-utils/package.json
  packages/compilers/package.json
  packages/lib-sourcify/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

Remove error that prevents finding creationAuxdata by recompilation
  packages/lib-sourcify/src/Compilation/SolidityCompilation.ts
Due: run-build-packages

fix(deps): update all patch and minor dependencies (#2030)
  package-lock.json
  packages/bytecode-utils/package.json
  packages/compilers/package.json
  packages/lib-sourcify/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

Implement `tryToFindPerfectMetadata` in `SolidityMetadataContract`and call it in Verification.verify()
  packages/lib-sourcify/src/Validation/SolidityMetadataContract.ts
  packages/lib-sourcify/src/Validation/hashFunctions/ipfsHash.ts
  packages/lib-sourcify/src/Validation/hashFunctions/swarmHash.ts
  packages/lib-sourcify/src/Validation/variationsUtils.ts
  packages/lib-sourcify/src/Verification/Verification.ts
Due: run-build-packages

add test for `tryToFindPerfectMetadata`
  packages/lib-sourcify/test/Verification/Verification.spec.ts
  packages/lib-sourcify/test/sources/ContractWithVariatedSources/artifact.json
  packages/lib-sourcify/test/sources/ContractWithVariatedSources/metadata.json
  packages/lib-sourcify/test/sources/ContractWithVariatedSources/sources/TheGraphGreeter.sol
Due: run-build-packages

Fix `insertVerificationJob` function
  services/server/src/server/services/utils/Database.ts
Due: run-build-server

Add compilationTime property to compilation
  packages/lib-sourcify/src/Compilation/AbstractCompilation.ts
  packages/lib-sourcify/src/Verification/Verification.ts
  packages/lib-sourcify/src/Verification/VerificationTypes.ts
Due: run-build-packages

Check if job is already running and if contract is already verified
  services/database/migrations/20231109160023-sourcify.js
  services/server/src/server/apiv2/errors.ts
  services/server/src/server/apiv2/middlewares.ts
  services/server/src/server/apiv2/verification/verification.routes.ts
  services/server/src/server/services/StorageService.ts
  services/server/src/server/services/VerificationService.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/src/server/services/utils/Database.ts
  services/server/src/server/services/utils/database-util.ts
  services/server/test/integration/apiv2/verification/verify.json.spec.ts
Due: run-build-server

Update apiv2 spec
  services/server/src/apiv2.yaml
Due: run-build-server

Add POST `/v2/verify/:chainId/:address` endpoint
  services/server/src/server/apiv2/middlewares.ts
  services/server/src/server/apiv2/routes.ts
  services/server/src/server/apiv2/verification/verification.handlers.ts
  services/server/src/server/apiv2/verification/verification.routes.ts
  services/server/src/server/services/workers/verificationWorker.ts
Due: run-build-server

Remove language parameter and validate standard json input
  services/server/src/server/apiv2/middlewares.ts
  services/server/src/server/apiv2/verification/verification.handlers.ts
  services/server/src/server/apiv2/verification/verification.routes.ts
  services/server/src/server/services/VerificationService.ts
  services/server/src/server/services/workers/verificationWorker.ts
  services/server/src/server/services/workers/workerTypes.ts
  services/server/test/integration/apiv2/verification/verify.json.spec.ts
Due: run-build-server

Enable get job and verify endpoint in openapi.yaml
  services/server/src/openapi.yaml
Due: run-build-server

Add tests for GET `/v2/verify/:verificationId` endpoint
  services/server/src/server/server.ts
  services/server/src/server/services/VerificationService.ts
  services/server/src/server/services/workers/verificationWorker.ts
  services/server/src/server/services/workers/workerTypes.ts
  services/server/test/helpers/LocalChainFixture.ts
  services/server/test/helpers/assertions.ts
  services/server/test/helpers/helpers.ts
  services/server/test/integration/apiv2/verification/verify.json.spec.ts
Due: run-build-server

Add additional error logging to API v2 errors
  services/server/src/server/apiv2/errors.ts
Due: run-build-server

Rename `unknown_error` code to `internal_error`
  services/server/src/server/apiv2/errors.ts
  services/server/src/server/services/VerificationService.ts
Due: run-build-server

Add `verifyFromJsonInputViaWorker` method to `VerificationService`
  services/database/migrations/20231109160023-sourcify.js
  services/server/src/server/apiv2/errors.ts
  services/server/src/server/cli.ts
  services/server/src/server/common.ts
  services/server/src/server/server.ts
  services/server/src/server/services/StorageService.ts
  services/server/src/server/services/VerificationService.ts
  services/server/src/server/services/services.ts
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/src/server/services/utils/Database.ts
  services/server/src/server/services/utils/database-util.ts
  services/server/src/server/services/workers/verificationWorker.ts
  services/server/src/server/services/workers/workerWrapper.js
  services/server/src/server/types.ts
  services/server/test/helpers/ServerFixture.ts
  services/server/test/integration/apiv2/jobs.spec.ts
  services/server/test/unit/VerificationService.spec.ts
Due: run-build-server

Path conditions:
  run-build-monitor: any of: services/monitor/.*
  run-build-server: any of: services/server/.*
  run-build-repository: any of: h5ai-nginx
  run-build-packages: any of: packages/.*
  run-build-ui: any of: ui/.*
