Repository ethereum/sourcify: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-monitor, run-build-server, run-build-repository, run-build-packages, run-build-ui

Path conditions:
  run-build-monitor: any of: services/monitor/.*
  run-build-server: any of: services/server/.*
  run-build-repository: any of: h5ai-nginx
  run-build-packages: any of: packages/.*
  run-build-ui: any of: ui/.*

Fix typo
  .circleci/scripts/deploy_to_gcp.sh
Due: none

chore(deps): update dependency @types/node to v20.14.13
  package-lock.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  services/monitor/package.json
  services/server/package.json
  ui/package.json
Due: run-build-monitor, run-build-server, run-build-packages, run-build-ui

Change project id to project number in gcp deploy job
  .circleci/continue_config.yml
Due: none

chore(deps): update dependency @types/node to v20.14.13 (#1503)
  package-lock.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  services/monitor/package.json
  services/server/package.json
  ui/package.json
Due: run-build-monitor, run-build-server, run-build-packages, run-build-ui

fix(deps): update all patch dependencies
  package-lock.json
  packages/lib-sourcify/package.json
  services/monitor/package.json
  services/server/package.json
  ui/package.json
Due: run-build-monitor, run-build-server, run-build-packages, run-build-ui

Add region to the deploy command
  .circleci/scripts/deploy_to_gcp.sh
Due: none

fix(deps): update all patch dependencies (#1504)
  package-lock.json
  packages/lib-sourcify/package.json
  services/monitor/package.json
  services/server/package.json
  ui/package.json
Due: run-build-monitor, run-build-server, run-build-packages, run-build-ui

fix #1508 monitor logs support errors
  services/monitor/src/ChainMonitor.ts
  services/monitor/src/DecentralizedStorageFetcher.ts
  services/monitor/src/logger.ts
Due: run-build-monitor

replace fetch with axios in monitor
  package-lock.json
  services/monitor/package.json
  services/monitor/src/PendingContract.ts
Due: run-build-monitor

Add .nx to dockerignore
  .dockerignore
Due: none

Create devcontainer.json
  .devcontainer/devcontainer.json
Due: none

Update and rename chains.json to chains.json Abdulhafez
  services/server/src/chains.json Abdulhafez
Due: run-build-server

Update repositories paths in staging config
  services/server/src/config/staging.js
Due: run-build-server

Update solc path in staging config
  services/server/src/config/staging.js
Due: run-build-server

rename repositoryV1 path
  services/server/src/config/staging.js
Due: run-build-server

chore(deps): update dependency @types/node to v20.14.14
  package-lock.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  services/monitor/package.json
  services/server/package.json
  ui/package.json
Due: run-build-monitor, run-build-server, run-build-packages, run-build-ui

fix(deps): update all minor dependencies
  package-lock.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  services/monitor/package.json
  services/server/package.json
  ui/package.json
Due: run-build-monitor, run-build-server, run-build-packages, run-build-ui

chore(deps): update dependency @types/node to v20.14.14 (#1519)
  package-lock.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  services/monitor/package.json
  services/server/package.json
  ui/package.json
Due: run-build-monitor, run-build-server, run-build-packages, run-build-ui

chore(deps): update all patch dependencies
  package-lock.json
  package.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  services/monitor/package.json
  services/server/package.json
  ui/package.json
Due: run-build-monitor, run-build-server, run-build-packages, run-build-ui

chore(deps): update all patch dependencies (#1518)
  package-lock.json
  package.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  services/monitor/package.json
  services/server/package.json
  ui/package.json
Due: run-build-monitor, run-build-server, run-build-packages, run-build-ui

Update services/database/migrations/20240729112258-compiled_contracts-constraints.js
  services/database/migrations/20240729112258-compiled_contracts-constraints.js
Due: none

add missing type,seed variable
  services/database/migrations/20240729112258-compiled_contracts-constraints.js
Due: none

add `compiled_contracts` artifacts constraints
  services/database/migrations/20240729112258-compiled_contracts-constraints.js
Due: none
