Repository ethereum/sourcify: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-monitor, run-build-server, run-build-repository, run-build-packages, run-build-ui

Path conditions:
  run-build-monitor: any of: services/monitor/.*
  run-build-server: any of: services/server/.*
  run-build-repository: any of: h5ai-nginx
  run-build-packages: any of: packages/.*
  run-build-ui: any of: ui/.*

add commented SOURCIFY_POSTGRES_SCHEMA, ALLIANCE_POSTGRES_SCHEMA in .env.dev
  services/server/.env.dev
Due: run-build-server

add custom schema comment default public
  services/server/.env.dev
Due: run-build-server

Remove lauch.json Monitor with build
  .vscode/launch.json
Due: none

Log chainId and don't throw when can't send to Sourcify server
  services/monitor/src/ChainMonitor.ts
Due: run-build-monitor

add metis mainnet and testnet
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

Update changelogs
  CHANGELOG.md
  packages/bytecode-utils/CHANGELOG.md
  packages/lib-sourcify/CHANGELOG.md
  scripts/release/main.sh
  scripts/release/release.sh
  services/database/CHANGELOG.md
  services/monitor/CHANGELOG.md
  services/server/CHANGELOG.md
Due: run-build-monitor, run-build-server, run-build-packages

chore(release): publish
  package-lock.json
  package.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  services/database/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

fix(deps): update all patch dependencies
  package-lock.json
  package.json
  packages/lib-sourcify/package.json
  serverless/compiler-lambda/package-lock.json
  serverless/compiler-lambda/package.json
  services/database/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

Refactor database utils into a class (#1689)
  services/server/.env.dev
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/src/server/services/storageServices/AllianceDatabaseService.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/src/server/services/utils/Database.ts
  services/server/src/server/services/utils/database-util.ts
  services/server/test/helpers/ServerFixture.ts
  services/server/test/integration/database.spec.ts
Due: run-build-server

fix(deps): update all patch dependencies (#1699)
  package-lock.json
  package.json
  packages/lib-sourcify/package.json
  serverless/compiler-lambda/package-lock.json
  serverless/compiler-lambda/package.json
  services/database/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

fix(deps): update all minor dependencies
  package-lock.json
  packages/lib-sourcify/package.json
  services/server/package.json
Due: run-build-server, run-build-packages

fix(deps): update all minor dependencies (#1700)
  package-lock.json
  packages/lib-sourcify/package.json
  services/server/package.json
Due: run-build-server, run-build-packages

Add Metis Andromeda and Metis Sepolia (#1694)
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

Added Zircuit Testnet and Mainnet
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

Zircuit update
  services/server/src/sourcify-chains-default.json
Due: run-build-server

Add chain 48900 48899 (#1703)
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

Add proxy detection and resolution to /check-all-by-addresses endpoint
  package-lock.json
  packages/lib-sourcify/src/lib/SourcifyChain.ts
  packages/lib-sourcify/src/lib/types.ts
  services/server/package.json
  services/server/src/server/controllers/repository/repository.handlers.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/src/server/services/utils/Database.ts
  services/server/src/server/services/utils/database-util.ts
  services/server/src/server/services/utils/proxy-contract-util.ts
Due: run-build-server, run-build-packages

Enabling Flare Mainnet Chain-14 support
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

Fixing issue
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

Etherscan instance tests for 2442: change expected status of 0xd5a515CE2dF4C69aA809De5b9318a3D4452D86BE to partial
  services/server/test/helpers/etherscanInstanceContracts.json
Due: run-build-server

Enabling Flare Mainnet Chain-14 support (#1704)
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

Revise implementation
  services/server/src/server/controllers/repository/repository.handlers.ts
  services/server/src/server/services/utils/proxy-contract-util.ts
Due: run-build-server

Add optional API parameter
  services/server/src/server/controllers/repository/check-all-by-addresses.stateless.paths.yaml
  services/server/src/server/controllers/repository/repository.handlers.ts
Due: run-build-server

Add support for DiamondProxies
  packages/lib-sourcify/src/lib/SourcifyChain.ts
  services/server/src/server/services/utils/proxy-contract-util.ts
Due: run-build-server, run-build-packages

Fix import
  services/server/src/server/services/utils/proxy-contract-util.ts
Due: run-build-server

Add unit tests for proxy-contract-util
  services/server/src/server/services/utils/proxy-contract-util.ts
  services/server/test/unit/utils/proxy-bytecodes.json
  services/server/test/unit/utils/proxy-contract-util.spec.ts
Due: run-build-server

Etherscan instance tests for 2442: change expected status of 0xd5a515CE2dF4C69aA809De5b9318a3D4452D86BE to partial (#1705)
  services/server/test/helpers/etherscanInstanceContracts.json
Due: run-build-server

Update all monitor RPCs to public RPCs
  services/monitor/monitorChains.json
Due: run-build-monitor

Publish sourcify-server and only publish the package in its own CI run
  .circleci/scripts/publish_to_npm.sh
Due: none

chore(deps): update all patch dependencies
  package-lock.json
  packages/lib-sourcify/package.json
Due: run-build-packages

chore(deps): update all patch dependencies (#1709)
  package-lock.json
  packages/lib-sourcify/package.json
Due: run-build-packages

fix(deps): update all minor dependencies
  package-lock.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

fix(deps): update all minor dependencies (#1710)
  package-lock.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

Fix checking address created by the creatorTxHash for create2
  packages/lib-sourcify/src/lib/SourcifyChain.ts
  packages/lib-sourcify/src/lib/verification.ts
Due: run-build-packages

Mark rpcs with trace_transaction support
  packages/lib-sourcify/src/lib/SourcifyChain.ts
  packages/lib-sourcify/src/lib/types.ts
  services/server/src/sourcify-chains-default.json
  services/server/src/sourcify-chains.ts
Due: run-build-server, run-build-packages

Fix typo in RPC type
  services/server/src/sourcify-chains-default.json
Due: run-build-server

Fix build due to unused function
  packages/lib-sourcify/src/lib/verification.ts
Due: run-build-packages

Fix extracting wrong fields from the traces
  packages/lib-sourcify/src/lib/SourcifyChain.ts
  services/server/src/sourcify-chains.ts
Due: run-build-server, run-build-packages
