Repository ethereum/sourcify: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-monitor, run-build-server, run-build-repository, run-build-packages, run-build-ui

Path conditions:
  run-build-monitor: any of: services/monitor/.*
  run-build-server: any of: services/server/.*
  run-build-repository: any of: h5ai-nginx
  run-build-packages: any of: packages/.*
  run-build-ui: any of: ui/.*

Use source_hash instead of source_hash_keccak when finding sources (#1671)
  services/server/src/server/services/utils/database-util.ts
Due: run-build-server

vyper experiment
  packages/lib-sourcify/src/lib/CheckedContract.ts
  packages/lib-sourcify/test/compiler/vyperCompiler.ts
  packages/lib-sourcify/test/sources/Vyper/contract/artifact.json
  packages/lib-sourcify/test/sources/Vyper/contract/metadata.json
  packages/lib-sourcify/test/sources/Vyper/contract/sources/EIP1967Admin.sol
  packages/lib-sourcify/test/sources/Vyper/contract/sources/EIP1967Proxy.sol
  packages/lib-sourcify/test/sources/Vyper/correct-metadata.json
  packages/lib-sourcify/test/utils.ts
  packages/lib-sourcify/test/verification.spec.ts
Due: run-build-packages

Update the release script to avoid merging master back to staging
  scripts/release/git_utils.sh
  scripts/release/main.sh
Due: none

Start the release script from staging instead of master
  scripts/release/git_utils.sh
  scripts/release/main.sh
Due: none

chore(deps): update all patch dependencies
  package-lock.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

Use server public url in getTree instead of repositoryV1 url
  services/server/README.md
  services/server/src/config/default.js
  services/server/src/config/master.js
  services/server/src/config/migration.js
  services/server/src/config/staging.js
  services/server/src/server/cli.ts
  services/server/src/server/services/StorageService.ts
  services/server/src/server/services/storageServices/RepositoryV1Service.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/test/helpers/ServerFixture.ts
  services/server/test/integration/repository-handlers/files.spec.ts
Due: run-build-server

in `file.spec.ts` use serverUrl from config
  services/server/test/integration/repository-handlers/files.spec.ts
Due: run-build-server

fix tests
  services/server/test/integration/repository-handlers/files.spec.ts
Due: run-build-server

chore(deps): update all patch dependencies (#1675)
  package-lock.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

fix(deps): update all minor dependencies
  package-lock.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

Use server public url in getTree instead of repositoryV1 url (#1677)
  services/server/README.md
  services/server/src/config/default.js
  services/server/src/config/master.js
  services/server/src/config/migration.js
  services/server/src/config/staging.js
  services/server/src/server/cli.ts
  services/server/src/server/services/StorageService.ts
  services/server/src/server/services/storageServices/RepositoryV1Service.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/test/helpers/ServerFixture.ts
  services/server/test/integration/repository-handlers/files.spec.ts
Due: run-build-server

fix(deps): update all minor dependencies (#1676)
  package-lock.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

Add script to finalize v1 migration
  services/database/schema-updates/post-v0-to-v1-upgrade.mjs
Due: none

implement PR suggestions
  package-lock.json
  services/database/.env.template
  services/database/package.json
  services/database/schema-updates/post-v0-to-v1-upgrade.mjs
Due: none

Add script to finalize v1 migration (#1681)
  package-lock.json
  services/database/.env.template
  services/database/package.json
  services/database/schema-updates/post-v0-to-v1-upgrade.mjs
Due: none

parse as integer process.env.BATCH_SIZE
  services/database/schema-updates/post-v0-to-v1-upgrade.mjs
Due: none

Parse as integer process.env.BATCH_SIZE (#1682)
  services/database/schema-updates/post-v0-to-v1-upgrade.mjs
Due: none

Fix missing source after match upgrade
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/test/helpers/helpers.ts
  services/server/test/integration/verification-handlers/verify.stateless.spec.ts
Due: run-build-server

Fix missing source after match upgrade (#1684)
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/test/helpers/helpers.ts
  services/server/test/integration/verification-handlers/verify.stateless.spec.ts
Due: run-build-server

chore: add new chain OORT
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

chore: fix prettier
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

chore: update
  services/server/src/sourcify-chains-default.json
Due: run-build-server

chore: add new chain B2
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

chore: add new chain OORT Mainnet (#1685)
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

remove routescanApi fields
  services/server/src/sourcify-chains-default.json
Due: run-build-server

chore(deps): update all patch dependencies
  package-lock.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  services/database/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

chore(deps): update all patch dependencies (#1687)
  package-lock.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  services/database/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

fix(deps): update all minor dependencies
  .circleci/new_branch.yml
  package-lock.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

fix(deps): update all minor dependencies (#1688)
  .circleci/new_branch.yml
  package-lock.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

Refactor database utils into class
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/src/server/services/storageServices/AllianceDatabaseService.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/src/server/services/utils/Database.ts
  services/server/src/server/services/utils/database-util.ts
  services/server/test/helpers/ServerFixture.ts
  services/server/test/integration/database.spec.ts
Due: run-build-server

Remove etherscanApi
  services/server/src/sourcify-chains-default.json
Due: run-build-server

chore: add new chain B2 Mainnet (#1686)
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

Add Polygon zkEVM Cardona Testnet chain
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
  services/server/test/helpers/etherscanInstanceContracts.json
Due: run-build-server

Change Arbitrum monitor APIs to Alchemy
  services/monitor/monitorChains.json
Due: run-build-monitor

Fix Avalanche chain Blast RPCs
  services/monitor/monitorChains.json
Due: run-build-monitor

Add Polygon zkEVM Cardona Testnet chain (#1690)
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
  services/server/test/helpers/etherscanInstanceContracts.json
Due: run-build-server
