Repository ethereum/sourcify: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-monitor, run-build-server, run-build-repository, run-build-packages, run-build-ui

Use VerificationExport for storeVerification methods of storage services
  packages/lib-sourcify/src/Verification/Verification.ts
  packages/lib-sourcify/src/Verification/VerificationTypes.ts
  services/server/src/server/apiv1/verification/etherscan/stateless/etherscan.stateless.handlers.ts
  services/server/src/server/apiv1/verification/solc-json/stateless/solc-json.stateless.handlers.ts
  services/server/src/server/apiv1/verification/verification.common.ts
  services/server/src/server/apiv1/verification/verify/stateless/verify.stateless.handlers.ts
  services/server/src/server/apiv1/verification/vyper/stateless/vyper.stateless.handlers.ts
  services/server/src/server/services/StorageService.ts
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/src/server/services/storageServices/AllianceDatabaseService.ts
  services/server/src/server/services/storageServices/RepositoryV1Service.ts
  services/server/src/server/services/storageServices/RepositoryV2Service.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/src/server/services/utils/database-util.ts
  services/server/src/server/services/utils/util.ts
Due: run-build-server, run-build-packages

Insert new contract_deployment row if the existing one doesn't have creation information
  services/database/migrations/20231109160023-sourcify.js
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/src/server/services/utils/Database.ts
  services/server/test/integration/apiv1/verification-handlers/verify.stateless.spec.ts
Due: run-build-server

Always insert new contract_deployments row on update
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/test/integration/apiv1/verification-handlers/verify.stateless.spec.ts
Due: run-build-server

Update Database.ts to include contract_id in contract deployment insert query
  services/server/src/server/services/utils/Database.ts
Due: run-build-server

Improve `validateVerificationBeforeStoring` methods of storage services
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
Due: run-build-server

Use VerificationExport for storeVerification methods of storage services (#1995)
  packages/lib-sourcify/src/Verification/Verification.ts
  packages/lib-sourcify/src/Verification/VerificationTypes.ts
  services/server/src/server/apiv1/verification/etherscan/stateless/etherscan.stateless.handlers.ts
  services/server/src/server/apiv1/verification/solc-json/stateless/solc-json.stateless.handlers.ts
  services/server/src/server/apiv1/verification/verification.common.ts
  services/server/src/server/apiv1/verification/verify/stateless/verify.stateless.handlers.ts
  services/server/src/server/apiv1/verification/vyper/stateless/vyper.stateless.handlers.ts
  services/server/src/server/services/StorageService.ts
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/src/server/services/storageServices/AllianceDatabaseService.ts
  services/server/src/server/services/storageServices/RepositoryV1Service.ts
  services/server/src/server/services/storageServices/RepositoryV2Service.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/src/server/services/utils/database-util.ts
  services/server/src/server/services/utils/util.ts
Due: run-build-server, run-build-packages

Turn on Bear Network (641230) support with new test contract
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

refactor migrations
  services/database/migrations/20231109160023-sourcify.js
Due: none

Fix creation match upgrade (#1969)
  services/database/migrations/20231109160023-sourcify.js
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/src/server/services/utils/Database.ts
  services/server/test/integration/apiv1/verification-handlers/verify.stateless.spec.ts
Due: run-build-server

Deprecate v1 repository endpoints in openapi spec
  services/server/src/openapi.yaml
  services/server/src/server/apiv1/repository/check-all-by-addresses.stateless.paths.yaml
  services/server/src/server/apiv1/repository/check-by-addresses.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-contract-addresses-all.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-contract-addresses-paginated-all.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-contract-addresses-paginated-full.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-contract-addresses-paginated-partial.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-file-static.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-file-tree-all.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-file-tree-full.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-source-files-all.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-source-files-full.stateless.paths.yaml
Due: run-build-server

Deprecate v1 repository endpoints in openapi spec (#2004)
  services/server/src/openapi.yaml
  services/server/src/server/apiv1/repository/check-all-by-addresses.stateless.paths.yaml
  services/server/src/server/apiv1/repository/check-by-addresses.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-contract-addresses-all.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-contract-addresses-paginated-all.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-contract-addresses-paginated-full.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-contract-addresses-paginated-partial.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-file-static.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-file-tree-all.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-file-tree-full.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-source-files-all.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-source-files-full.stateless.paths.yaml
Due: run-build-server

Add missing tests in lib-sourcify@2
  packages/lib-sourcify/src/Compilation/SolidityCompilation.ts
  packages/lib-sourcify/src/Compilation/VyperCompilation.ts
  packages/lib-sourcify/test/Compilation/VyperCompilation.spec.ts
  packages/lib-sourcify/test/SourcifyChain.spec.ts
  packages/lib-sourcify/test/Validation/processFiles.spec.ts
  packages/lib-sourcify/test/Verification/Verification.spec.ts
Due: run-build-packages

fix(deps): update all patch and minor dependencies
  package-lock.json
  packages/compilers/package.json
  services/database/package.json
  services/server/package.json
Due: run-build-server, run-build-packages

fix(deps): update all patch and minor dependencies (#2006)
  package-lock.json
  packages/compilers/package.json
  services/database/package.json
  services/server/package.json
Due: run-build-server, run-build-packages

fix sourcifychains test
  packages/lib-sourcify/test/SourcifyChain.spec.ts
Due: run-build-packages

improve logging and errors
  services/server/src/server/apiv1/verification/verify/stateless/verify.stateless.handlers.ts
Due: run-build-server

Add verification test for failing generateCborAuxdataPositions call
  packages/lib-sourcify/test/Verification/Verification.spec.ts
Due: run-build-packages

move sourcifychains unit tests out of the main describe block
  packages/lib-sourcify/test/SourcifyChain.spec.ts
Due: run-build-packages

Add missing tests in lib-sourcify (#2005)
  packages/lib-sourcify/src/Compilation/SolidityCompilation.ts
  packages/lib-sourcify/src/Compilation/VyperCompilation.ts
  packages/lib-sourcify/test/Compilation/VyperCompilation.spec.ts
  packages/lib-sourcify/test/SourcifyChain.spec.ts
  packages/lib-sourcify/test/Validation/processFiles.spec.ts
  packages/lib-sourcify/test/Verification/Verification.spec.ts
  services/server/src/server/apiv1/verification/verify/stateless/verify.stateless.handlers.ts
Due: run-build-server, run-build-packages

Fixes after merge
  services/server/src/server/apiv1/verification/solc-json/session/solc-json.session.handlers.ts
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
Due: run-build-server

Improve error handling for lib-sourcify
  packages/lib-sourcify/src/Compilation/AbstractCompilation.ts
  packages/lib-sourcify/src/Compilation/CompilationTypes.ts
  packages/lib-sourcify/src/Compilation/SolidityCompilation.ts
  packages/lib-sourcify/src/Compilation/VyperCompilation.ts
  packages/lib-sourcify/src/SourcifyLibError.ts
  packages/lib-sourcify/src/Verification/Verification.ts
  packages/lib-sourcify/src/Verification/VerificationTypes.ts
  packages/lib-sourcify/src/index.ts
  packages/lib-sourcify/test/Compilation/VyperCompilation.spec.ts
  packages/lib-sourcify/test/Verification/Verification.spec.ts
Due: run-build-packages

Update API v2 spec
  services/server/src/apiv2.yaml
Due: run-build-server

Add verificationWorker to server
  package-lock.json
  services/server/package.json
  services/server/src/server/apiv2/errors.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/src/server/services/workers/verificationWorker.ts
  services/server/test/integration/apiv2/jobs.spec.ts
Due: run-build-server

Add compilationTime property to compilation
  packages/lib-sourcify/src/Compilation/AbstractCompilation.ts
  packages/lib-sourcify/src/Verification/Verification.ts
  packages/lib-sourcify/src/Verification/VerificationTypes.ts
Due: run-build-packages

Add Ethereum Hoodi Testnet (560048), update chains.json
  services/server/src/chains.json
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

Add `verifyFromJsonInputViaWorker` method to `VerificationService`
  services/database/migrations/20231109160023-sourcify.js
  services/server/src/server/apiv2/errors.ts
  services/server/src/server/cli.ts
  services/server/src/server/common.ts
  services/server/src/server/server.ts
  services/server/src/server/services/StorageService.ts
  services/server/src/server/services/VerificationService.ts
  services/server/src/server/services/services.ts
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/src/server/services/utils/Database.ts
  services/server/src/server/services/utils/database-util.ts
  services/server/src/server/services/workers/verificationWorker.ts
  services/server/src/server/services/workers/workerWrapper.js
  services/server/src/server/types.ts
  services/server/test/helpers/ServerFixture.ts
  services/server/test/integration/apiv2/jobs.spec.ts
  services/server/test/unit/VerificationService.spec.ts
Due: run-build-server

Rename `unknown_error` code to `internal_error`
  services/server/src/server/apiv2/errors.ts
  services/server/src/server/services/VerificationService.ts
Due: run-build-server

Update the updated lib-sourcify docs
  packages/lib-sourcify/README.md
Due: run-build-packages

Add POST `/v2/verify/:chainId/:address` endpoint
  services/server/src/server/apiv2/middlewares.ts
  services/server/src/server/apiv2/routes.ts
  services/server/src/server/apiv2/verification/verification.handlers.ts
  services/server/src/server/apiv2/verification/verification.routes.ts
  services/server/src/server/services/workers/verificationWorker.ts
Due: run-build-server

Fix avax API test
  services/server/test/unit/utils/contract-creation-util.spec.ts
Due: run-build-server

update happy testnet (new url)
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

Added Zircuit Garfield Testnet
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

Update update lib sourcify docs (#2010)
  packages/lib-sourcify/README.md
Due: run-build-packages

Add upgrade endpoint to fix misaligned data
  services/server/src/server/apiv1/verification/private/private.routes.ts
  services/server/src/server/apiv1/verification/private/stateless/private.stateless.handlers.ts
  services/server/src/server/apiv1/verification/private/stateless/private.stateless.paths.yaml
  services/server/src/server/apiv1/verification/private/stateless/private.stateless.routes.ts
Due: run-build-server

fix typescript examples
  packages/lib-sourcify/README.md
Due: run-build-packages

Update lib-sourcify documention (#1991)
  packages/lib-sourcify/README.md
Due: run-build-packages

Path conditions:
  run-build-monitor: any of: services/monitor/.*
  run-build-server: any of: services/server/.*
  run-build-repository: any of: h5ai-nginx
  run-build-packages: any of: packages/.*
  run-build-ui: any of: ui/.*
