Repository ethereum/sourcify: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-monitor, run-build-server, run-build-repository, run-build-packages, run-build-ui

Remove lib-sourcify from compilers as a dependency
  package-lock.json
  packages/compilers/package.json
  packages/compilers/src/lib/solidityCompiler.ts
  packages/compilers/src/lib/vyperCompiler.ts
Due: run-build-packages

Add content to compilers package
  package-lock.json
  packages/compilers/.gitignore
  packages/compilers/.mocharc.json
  packages/compilers/LICENSE
  packages/compilers/README.md
  packages/compilers/package.json
  packages/compilers/src/index.ts
  packages/compilers/src/lib/common.ts
  packages/compilers/src/lib/compilerWorker.ts
  packages/compilers/src/lib/solidityCompiler.ts
  packages/compilers/src/lib/vyperCompiler.ts
  packages/compilers/src/logger.ts
  packages/compilers/test/solidityCompiler.spec.ts
  packages/compilers/test/utils/pre-v0.4.0-input.json
  packages/compilers/tsconfig.json
  packages/compilers/tsconfig.module.json
  packages/lib-sourcify/test/functions.spec.ts
Due: run-build-packages

Use compiler package in lib-sourcify
  packages/lib-sourcify/package.json
  packages/lib-sourcify/test/compiler/common.ts
  packages/lib-sourcify/test/compiler/compilerWorker.ts
  packages/lib-sourcify/test/compiler/solidityCompiler.ts
  packages/lib-sourcify/test/compiler/vyperCompiler.ts
  packages/lib-sourcify/test/utils.ts
  packages/lib-sourcify/test/verification.spec.ts
Due: run-build-packages

Use compiler package in server
  package-lock.json
  services/server/package.json
  services/server/src/server/services/VerificationService.ts
  services/server/src/server/services/compiler/local/SolcLocal.ts
  services/server/src/server/services/compiler/local/VyperLocal.ts
  services/server/src/server/services/compiler/local/common.ts
  services/server/src/server/services/compiler/local/compilerWorker.ts
  services/server/src/server/services/compiler/local/solidityCompiler.ts
  services/server/src/server/services/compiler/local/vyperCompiler.ts
  services/server/test/integration/apiv1/verification-handlers/verify.stateless.spec.ts
  services/server/test/integration/path-sanitization.spec.ts
  services/server/test/unit/VerificationService.spec.ts
Due: run-build-server

Add README to compiler package
  packages/compilers/README.md
Due: run-build-packages

Add compilers package to priority_packages of release script
  scripts/release/release.sh
Due: none

Add compilers package to set of packages that should be published via npm
  .circleci/scripts/publish_to_npm.sh
Due: none

Fix extra-file-input-bug at bytecode mismatch error
  packages/lib-sourcify/src/Verification/Verification.ts
  packages/lib-sourcify/src/Verification/VerificationTypes.ts
  packages/lib-sourcify/test/Verification/Verification.spec.ts
Due: run-build-packages

fix `should return null match when there is no perfect match and no auxdata`
  packages/lib-sourcify/test/Verification/Verification.spec.ts
Due: run-build-packages

fix "maliciously verify with creation bytecode that startsWith the creatorTx input" test
  packages/lib-sourcify/test/Verification/Verification.spec.ts
Due: run-build-packages

Log unknown server errors
  services/server/src/server/apiv2/errors.ts
Due: run-build-server

Remove duplicate `RouteNotFoundError`
  services/server/src/server/apiv2/errors.ts
Due: run-build-server

Use GenericErrorResponse for all errors returned from /v2 (#1946)
  services/server/src/server/apiv1/controllers.common.ts
  services/server/src/server/apiv1/routes.ts
  services/server/src/server/apiv1/validation.ts
  services/server/src/server/apiv2/errors.ts
  services/server/src/server/common.ts
  services/server/src/server/server.ts
  services/server/test/integration/apiv2/lookup.spec.ts
  services/server/test/integration/errors.spec.ts
Due: run-build-server

Add config for compilers tests to launch.json
  .vscode/launch.json
Due: none

Do not throw when chain API keys missing on production
  packages/lib-sourcify/src/lib/SourcifyChain.ts
  services/server/src/sourcify-chains.ts
Due: run-build-server, run-build-packages

fix(deps): update all patch and minor dependencies
  package-lock.json
  package.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

fix(deps): update all patch and minor dependencies (#1949)
  package-lock.json
  package.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

verifier-alliance tests working
  packages/lib-sourcify/src/Compilation/AbstractCompilation.ts
  services/server/src/server/services/storageServices/RepositoryV1Service.ts
  services/server/src/server/services/storageServices/RepositoryV2Service.ts
  services/server/src/server/services/utils/database-util.ts
  services/server/test/integration/apiv1/verification-handlers/verify.stateless.spec.ts
Due: run-build-server, run-build-packages

fixes after PR review
  packages/lib-sourcify/test/Verification/Verification.spec.ts
Due: run-build-packages

Improve source file reading and verification error handling
  packages/lib-sourcify/src/Verification/Verification.ts
  packages/lib-sourcify/test/Verification/Verification.spec.ts
Due: run-build-packages

update vyper api to new verification flow
  services/server/src/server/apiv1/verification/vyper/stateless/vyper.stateless.handlers.ts
  services/server/test/verifier-alliance/vyper/auxdata-0.3.4.json
  services/server/test/verifier-alliance/vyper/auxdata-0.3.8.json
  services/server/test/verifier-alliance/vyper/auxdata-0.4.0.json
  services/server/test/verifier-alliance/vyper/auxdata-0.4.1.json
  services/server/test/verifier-alliance/vyper/constructor_args_immutables.json
Due: run-build-server

Integrate the new verification flow in stateless endpoints
  packages/lib-sourcify/src/Validation/processFiles.ts
  packages/lib-sourcify/src/Verification/Verification.ts
  services/server/src/server/apiv1/verification/etherscan/etherscan.common.ts
  services/server/src/server/apiv1/verification/etherscan/stateless/etherscan.stateless.handlers.ts
  services/server/src/server/apiv1/verification/solc-json/stateless/solc-json.stateless.handlers.ts
  services/server/src/server/apiv1/verification/verify/stateless/verify.stateless.handlers.ts
  services/server/src/server/common.ts
  services/server/src/server/services/VerificationService.ts
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/src/server/services/utils/database-util.ts
  services/server/test/integration/apiv1/verification-handlers/verify.stateless.spec.ts
Due: run-build-server, run-build-packages

Fix after merge
  packages/lib-sourcify/src/Compilation/AbstractCompilation.ts
  packages/lib-sourcify/src/Compilation/SolidityCompilation.ts
Due: run-build-packages

Integrate the new verification flow in session API
  packages/lib-sourcify/src/Validation/SolidityMetadataContract.ts
  packages/lib-sourcify/src/Validation/processFiles.ts
  packages/lib-sourcify/src/index.ts
  packages/lib-sourcify/src/lib/validation.ts
  services/server/src/server/apiv1/verification/etherscan/session/etherscan.session.handlers.ts
  services/server/src/server/apiv1/verification/session-state/session-state.handlers.ts
  services/server/src/server/apiv1/verification/solc-json/session/solc-json.session.handlers.ts
  services/server/src/server/apiv1/verification/verification.common.ts
  services/server/src/server/apiv1/verification/verify/session/verify.session.handlers.ts
  services/server/src/server/apiv1/verification/vyper/stateless/vyper.stateless.handlers.ts
  services/server/src/server/common.ts
  services/server/src/server/services/storageServices/RepositoryV1Service.ts
Due: run-build-server, run-build-packages

fix linter
  packages/lib-sourcify/src/index.ts
  services/server/src/server/apiv1/verification/etherscan/etherscan.common.ts
  services/server/src/server/apiv1/verification/etherscan/session/etherscan.session.handlers.ts
  services/server/src/server/apiv1/verification/verification.common.ts
  services/server/src/server/apiv1/verification/verify/session/verify.session.handlers.ts
  services/server/src/server/services/compiler/local/solidityCompiler.ts
  services/server/test/integration/apiv1/verification-handlers/verify.stateless.spec.ts
  services/server/test/integration/path-sanitization.spec.ts
Due: run-build-server, run-build-packages

Refactor stateless verification endpoint to improve contract compilation check
  services/server/src/server/apiv1/verification/verify/stateless/verify.stateless.handlers.ts
Due: run-build-server

fix lib-sourcify tests
  packages/lib-sourcify/test/Verification/Verification.spec.ts
  packages/lib-sourcify/test/utils.ts
  packages/lib-sourcify/test/validation.spec.ts
  packages/lib-sourcify/test/verification.spec.ts
Due: run-build-packages

Implement Compilation tests with 100% coverage (#1856)
  packages/lib-sourcify/src/Compilation/SolidityCompilation.ts
  packages/lib-sourcify/src/Compilation/VyperCompilation.ts
  packages/lib-sourcify/test/Compilation/SolidityCompilation.spec.ts
  packages/lib-sourcify/test/Compilation/VyperCompilation.spec.ts
  packages/lib-sourcify/test/sources/NoImmutableField/metadata.json
  packages/lib-sourcify/test/sources/NoImmutableField/sources/NoImmutable.sol
Due: run-build-packages

Refactor AbstractCompilation to use protected properties and getter methods
  packages/lib-sourcify/src/Compilation/AbstractCompilation.ts
  packages/lib-sourcify/src/Compilation/SolidityCompilation.ts
  packages/lib-sourcify/src/Compilation/VyperCompilation.ts
  packages/lib-sourcify/src/Verification/Verification.ts
  packages/lib-sourcify/test/Compilation/SolidityCompilation.spec.ts
  packages/lib-sourcify/test/Compilation/VyperCompilation.spec.ts
  packages/lib-sourcify/test/Verification/Verification.spec.ts
Due: run-build-packages

Add tests for SolidityMetadataContract (#1869)
  packages/lib-sourcify/src/Validation/SolidityMetadataContract.ts
  packages/lib-sourcify/test/Validation-draft/SolidityMetadataContract.spec.ts
Due: run-build-packages

Add Compilation classes and types (#1849)
  packages/lib-sourcify/src/Compilation/AbstractCompilation.ts
  packages/lib-sourcify/src/Compilation/CompilationTypes.ts
  packages/lib-sourcify/src/Compilation/SolidityCompilation.ts
  packages/lib-sourcify/src/Compilation/SolidityTypes.ts
  packages/lib-sourcify/src/Compilation/VyperCompilation.ts
  packages/lib-sourcify/src/Compilation/VyperTypes.ts
  packages/lib-sourcify/src/Compilation/auxdataUtils.ts
  packages/lib-sourcify/test/Compilation/SolidityCompilation.spec.ts
  packages/lib-sourcify/test/Compilation/VyperCompilation.spec.ts
  packages/lib-sourcify/test/compiler/solidityCompiler.ts
  packages/lib-sourcify/test/utils.ts
Due: run-build-packages

Refactor runtime bytecode matching and add call protection transformation
  packages/lib-sourcify/src/Verification/Verification.ts
Due: run-build-packages

handle ContructorTransformation
  packages/lib-sourcify/src/Verification/Verification.ts
  packages/lib-sourcify/src/lib/verification.ts
  packages/lib-sourcify/test/Verification/Verification.spec.ts
  packages/lib-sourcify/test/verification.spec.ts
Due: run-build-packages

add comment
  packages/lib-sourcify/test/Verification/Verification.spec.ts
Due: run-build-packages

Move check transformation functions into Verification class Refactor project structure and import paths in lib-sourcify
  packages/lib-sourcify/src/Compilation/AbstractCompilation.ts
  packages/lib-sourcify/src/Compilation/SolidityTypes.ts
  packages/lib-sourcify/src/Compilation/VyperCompilation.ts
  packages/lib-sourcify/src/SourcifyChain.ts
  packages/lib-sourcify/src/Validation/SolidityMetadataContract.ts
  packages/lib-sourcify/src/Validation/ValidationTypes.ts
  packages/lib-sourcify/src/Validation/fetchUtils.ts
  packages/lib-sourcify/src/Validation/processFiles.ts
  packages/lib-sourcify/src/Validation/zipUtils.ts
  packages/lib-sourcify/src/Verification/Transformations.ts
  packages/lib-sourcify/src/Verification/Verification.ts
  packages/lib-sourcify/src/index.ts
  packages/lib-sourcify/src/lib/SolidityCheckedContract.ts
  packages/lib-sourcify/src/lib/VyperCheckedContract.ts
  packages/lib-sourcify/src/lib/types.ts
  packages/lib-sourcify/src/lib/utils.ts
  packages/lib-sourcify/src/lib/validation.ts
  packages/lib-sourcify/src/lib/verification.ts
  packages/lib-sourcify/src/logger.ts
  packages/lib-sourcify/test/Verification/Verification.spec.ts
  packages/lib-sourcify/test/compiler/common.ts
  packages/lib-sourcify/test/compiler/solidityCompiler.ts
  packages/lib-sourcify/test/compiler/vyperCompiler.ts
Due: run-build-packages

Add tests
  packages/lib-sourcify/src/Compilation/AbstractCompilation.ts
  packages/lib-sourcify/src/Compilation/SolidityCompilation.ts
  packages/lib-sourcify/src/Compilation/VyperCompilation.ts
  packages/lib-sourcify/src/Verification/Verification.ts
  packages/lib-sourcify/test/Verification/Verification.spec.ts
  packages/lib-sourcify/test/sources/ViaIRUnoptimizedMismatch/sources/A
Due: run-build-packages

implement Verifcation.ts
  packages/lib-sourcify/src/Verification/Verification.ts
Due: run-build-packages

Path conditions:
  run-build-monitor: any of: services/monitor/.*
  run-build-server: any of: services/server/.*
  run-build-repository: any of: h5ai-nginx
  run-build-packages: any of: packages/.*
  run-build-ui: any of: ui/.*
