Repository ethereum/sourcify: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-monitor, run-build-server, run-build-repository, run-build-packages, run-build-ui

Path conditions:
  run-build-monitor: any of: services/monitor/.*
  run-build-server: any of: services/server/.*
  run-build-repository: any of: h5ai-nginx
  run-build-packages: any of: packages/.*
  run-build-ui: any of: ui/.*

Add APIv2 OpenAPI specification
  services/server/src/apiv2.yaml
  services/server/src/openapi.yaml
  services/server/src/server/apiv1/repository/check-all-by-addresses.stateless.paths.yaml
  services/server/src/server/apiv1/repository/check-by-addresses.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-contract-addresses-all.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-contract-addresses-paginated-all.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-contract-addresses-paginated-full.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-contract-addresses-paginated-partial.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-file-static.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-file-tree-all.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-file-tree-full.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-source-files-all.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-source-files-full.stateless.paths.yaml
  services/server/src/server/apiv1/verification/etherscan/session/etherscan.session.paths.yaml
  services/server/src/server/apiv1/verification/etherscan/stateless/etherscan.stateless.paths.yaml
  services/server/src/server/apiv1/verification/session-state/clear.session-state.paths.yaml
  services/server/src/server/apiv1/verification/session-state/data.session-state.paths.yaml
  services/server/src/server/apiv1/verification/session-state/input-contract.session-state.paths.yaml
  services/server/src/server/apiv1/verification/session-state/input-files.session-state.paths.yaml
  services/server/src/server/apiv1/verification/solc-json/session/solc-json.session.paths.yaml
  services/server/src/server/apiv1/verification/solc-json/stateless/solc-json.stateless.paths.yaml
  services/server/src/server/apiv1/verification/verify/session/verify.session.paths.yaml
  services/server/src/server/apiv1/verification/verify/stateless/verify.stateless.paths.yaml
  services/server/src/server/apiv1/verification/vyper/stateless/vyper.stateless.paths.yaml
  services/server/src/server/server.ts
Due: run-build-server

Init SolidityMetadataContracts, split zipUtils and processFiles
  packages/lib-sourcify/src/Validation/SolidityMetadataContract.ts
  packages/lib-sourcify/src/Validation/processFiles.ts
  packages/lib-sourcify/src/Validation/zipUtils.ts
  packages/lib-sourcify/src/lib/types.ts
Due: run-build-packages

Deprecate API v1 endpoints
  services/server/src/openapi.yaml
  services/server/src/server/apiv1/repository/check-all-by-addresses.stateless.paths.yaml
  services/server/src/server/apiv1/repository/check-by-addresses.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-contract-addresses-all.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-contract-addresses-paginated-all.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-contract-addresses-paginated-full.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-contract-addresses-paginated-partial.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-file-static.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-file-tree-all.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-file-tree-full.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-source-files-all.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-source-files-full.stateless.paths.yaml
  services/server/src/server/apiv1/verification/etherscan/session/etherscan.session.paths.yaml
  services/server/src/server/apiv1/verification/etherscan/stateless/etherscan.stateless.paths.yaml
  services/server/src/server/apiv1/verification/session-state/clear.session-state.paths.yaml
  services/server/src/server/apiv1/verification/session-state/data.session-state.paths.yaml
  services/server/src/server/apiv1/verification/session-state/input-contract.session-state.paths.yaml
  services/server/src/server/apiv1/verification/session-state/input-files.session-state.paths.yaml
  services/server/src/server/apiv1/verification/solc-json/session/solc-json.session.paths.yaml
  services/server/src/server/apiv1/verification/solc-json/stateless/solc-json.stateless.paths.yaml
  services/server/src/server/apiv1/verification/verify/session/verify.session.paths.yaml
  services/server/src/server/apiv1/verification/verify/stateless/verify.stateless.paths.yaml
  services/server/src/server/apiv1/verification/vyper/stateless/vyper.stateless.paths.yaml
Due: run-build-server

SolidityMetadataContract: create dummy Compilation, add fetchMissing methods
  packages/lib-sourcify/src/Validation/SolidityMetadataContract.ts
  packages/lib-sourcify/src/Validation/fetchUtils.ts
  packages/lib-sourcify/src/Validation/processFiles.ts
Due: run-build-packages

Add tests for zipUtils, Fix directories being in `files` array
  packages/lib-sourcify/src/Validation/zipUtils.ts
  packages/lib-sourcify/test/Validation-draft/zipUtils.spec.ts
Due: run-build-packages

Add fetchUtils tests
  packages/lib-sourcify/test/Validation-draft/fetchUtils.spec.ts
Due: run-build-packages

Fix modifying metadata of test contract Constructor. Also fix test
  packages/lib-sourcify/test/sources/Constructor/metadata.json
  packages/lib-sourcify/test/sources/ConstructorModified/artifact.json
  packages/lib-sourcify/test/sources/ConstructorModified/sources/ConstructorModified.sol
  packages/lib-sourcify/test/verification.spec.ts
Due: run-build-packages

Remove .only() in test
  packages/lib-sourcify/test/verification.spec.ts
Due: run-build-packages

Fix perfect creation matching when CBOR is not at the end
  packages/lib-sourcify/src/lib/verification.ts
Due: run-build-packages

Add tests for fixing not perfect matching when CBOR not in the end
  packages/lib-sourcify/test/sources/CBORInTheMiddle/artifact.json
  packages/lib-sourcify/test/sources/CBORInTheMiddle/metadata.json
  packages/lib-sourcify/test/sources/CBORInTheMiddle/sources/DeploymentHelper.sol
  packages/lib-sourcify/test/sources/CBORInTheMiddleFactory/artifact.json
  packages/lib-sourcify/test/sources/CBORInTheMiddleFactory/metadata.json
  packages/lib-sourcify/test/sources/CBORInTheMiddleFactory/sources/@openzeppelin/contracts/interfaces/draft-IERC1822.sol
  packages/lib-sourcify/test/sources/CBORInTheMiddleFactory/sources/@openzeppelin/contracts/proxy/ERC1967/ERC1967Proxy.sol
  packages/lib-sourcify/test/sources/CBORInTheMiddleFactory/sources/@openzeppelin/contracts/proxy/ERC1967/ERC1967Utils.sol
  packages/lib-sourcify/test/sources/CBORInTheMiddleFactory/sources/@openzeppelin/contracts/proxy/Proxy.sol
  packages/lib-sourcify/test/sources/CBORInTheMiddleFactory/sources/@openzeppelin/contracts/proxy/beacon/IBeacon.sol
  packages/lib-sourcify/test/sources/CBORInTheMiddleFactory/sources/@openzeppelin/contracts/proxy/utils/Initializable.sol
  packages/lib-sourcify/test/sources/CBORInTheMiddleFactory/sources/@openzeppelin/contracts/proxy/utils/UUPSUpgradeable.sol
  packages/lib-sourcify/test/sources/CBORInTheMiddleFactory/sources/@openzeppelin/contracts/token/ERC1155/IERC1155Receiver.sol
  packages/lib-sourcify/test/sources/CBORInTheMiddleFactory/sources/@openzeppelin/contracts/token/ERC721/IERC721Receiver.sol
  packages/lib-sourcify/test/sources/CBORInTheMiddleFactory/sources/@openzeppelin/contracts/utils/Address.sol
  packages/lib-sourcify/test/sources/CBORInTheMiddleFactory/sources/@openzeppelin/contracts/utils/Create2.sol
  packages/lib-sourcify/test/sources/CBORInTheMiddleFactory/sources/@openzeppelin/contracts/utils/StorageSlot.sol
  packages/lib-sourcify/test/sources/CBORInTheMiddleFactory/sources/@openzeppelin/contracts/utils/Strings.sol
  packages/lib-sourcify/test/sources/CBORInTheMiddleFactory/sources/@openzeppelin/contracts/utils/cryptography/ECDSA.sol
  packages/lib-sourcify/test/sources/CBORInTheMiddleFactory/sources/@openzeppelin/contracts/utils/cryptography/MessageHashUtils.sol
  packages/lib-sourcify/test/sources/CBORInTheMiddleFactory/sources/@openzeppelin/contracts/utils/introspection/IERC165.sol
  packages/lib-sourcify/test/sources/CBORInTheMiddleFactory/sources/@openzeppelin/contracts/utils/math/Math.sol
  packages/lib-sourcify/test/sources/CBORInTheMiddleFactory/sources/@openzeppelin/contracts/utils/math/SignedMath.sol
  packages/lib-sourcify/test/sources/CBORInTheMiddleFactory/sources/contracts/core/BaseAccount.sol
  packages/lib-sourcify/test/sources/CBORInTheMiddleFactory/sources/contracts/core/Helpers.sol
  packages/lib-sourcify/test/sources/CBORInTheMiddleFactory/sources/contracts/core/UserOperationLib.sol
  packages/lib-sourcify/test/sources/CBORInTheMiddleFactory/sources/contracts/interfaces/IAccount.sol
  packages/lib-sourcify/test/sources/CBORInTheMiddleFactory/sources/contracts/interfaces/IAggregator.sol
  packages/lib-sourcify/test/sources/CBORInTheMiddleFactory/sources/contracts/interfaces/IEntryPoint.sol
  packages/lib-sourcify/test/sources/CBORInTheMiddleFactory/sources/contracts/interfaces/INonceManager.sol
  packages/lib-sourcify/test/sources/CBORInTheMiddleFactory/sources/contracts/interfaces/IStakeManager.sol
  packages/lib-sourcify/test/sources/CBORInTheMiddleFactory/sources/contracts/interfaces/PackedUserOperation.sol
  packages/lib-sourcify/test/sources/CBORInTheMiddleFactory/sources/contracts/samples/SimpleAccount.sol
  packages/lib-sourcify/test/sources/CBORInTheMiddleFactory/sources/contracts/samples/SimpleAccountFactory.sol
  packages/lib-sourcify/test/sources/CBORInTheMiddleFactory/sources/contracts/samples/callback/TokenCallbackHandler.sol
  packages/lib-sourcify/test/sources/Constructor/metadata.json
  packages/lib-sourcify/test/verification.spec.ts
Due: run-build-packages

Change localhost to 127.0.0.1
  packages/lib-sourcify/test/verification.spec.ts
Due: run-build-packages

Move (Deprecated) to the beginning of titles
  services/server/src/openapi.yaml
  services/server/src/server/apiv1/repository/check-all-by-addresses.stateless.paths.yaml
  services/server/src/server/apiv1/repository/check-by-addresses.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-contract-addresses-all.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-contract-addresses-paginated-all.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-contract-addresses-paginated-full.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-contract-addresses-paginated-partial.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-file-static.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-file-tree-all.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-file-tree-full.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-source-files-all.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-source-files-full.stateless.paths.yaml
  services/server/src/server/apiv1/verification/etherscan/session/etherscan.session.paths.yaml
  services/server/src/server/apiv1/verification/etherscan/stateless/etherscan.stateless.paths.yaml
  services/server/src/server/apiv1/verification/session-state/clear.session-state.paths.yaml
  services/server/src/server/apiv1/verification/session-state/data.session-state.paths.yaml
  services/server/src/server/apiv1/verification/session-state/input-contract.session-state.paths.yaml
  services/server/src/server/apiv1/verification/session-state/input-files.session-state.paths.yaml
  services/server/src/server/apiv1/verification/solc-json/session/solc-json.session.paths.yaml
  services/server/src/server/apiv1/verification/solc-json/stateless/solc-json.stateless.paths.yaml
  services/server/src/server/apiv1/verification/verify/session/verify.session.paths.yaml
  services/server/src/server/apiv1/verification/verify/stateless/verify.stateless.paths.yaml
  services/server/src/server/apiv1/verification/vyper/stateless/vyper.stateless.paths.yaml
Due: run-build-server

Run tests both under test/*.spec.ts and in subfolders test/**/*.spec.ts
  packages/lib-sourcify/package.json
Due: run-build-packages

Make Solidity metadata explicit
  services/server/src/apiv2.yaml
Due: run-build-server

Add APIv2 OpenAPI specification (#1852)
  services/server/src/apiv2.yaml
  services/server/src/openapi.yaml
  services/server/src/server/apiv1/repository/check-all-by-addresses.stateless.paths.yaml
  services/server/src/server/apiv1/repository/check-by-addresses.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-contract-addresses-all.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-contract-addresses-paginated-all.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-contract-addresses-paginated-full.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-contract-addresses-paginated-partial.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-file-static.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-file-tree-all.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-file-tree-full.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-source-files-all.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-source-files-full.stateless.paths.yaml
  services/server/src/server/apiv1/verification/etherscan/session/etherscan.session.paths.yaml
  services/server/src/server/apiv1/verification/etherscan/stateless/etherscan.stateless.paths.yaml
  services/server/src/server/apiv1/verification/session-state/clear.session-state.paths.yaml
  services/server/src/server/apiv1/verification/session-state/data.session-state.paths.yaml
  services/server/src/server/apiv1/verification/session-state/input-contract.session-state.paths.yaml
  services/server/src/server/apiv1/verification/session-state/input-files.session-state.paths.yaml
  services/server/src/server/apiv1/verification/solc-json/session/solc-json.session.paths.yaml
  services/server/src/server/apiv1/verification/solc-json/stateless/solc-json.stateless.paths.yaml
  services/server/src/server/apiv1/verification/verify/session/verify.session.paths.yaml
  services/server/src/server/apiv1/verification/verify/stateless/verify.stateless.paths.yaml
  services/server/src/server/apiv1/verification/vyper/stateless/vyper.stateless.paths.yaml
  services/server/src/server/server.ts
Due: run-build-server

Add tests
  packages/lib-sourcify/src/Compilation/AbstractCompilation.ts
  packages/lib-sourcify/src/Compilation/SolidityCompilation.ts
  packages/lib-sourcify/src/Compilation/SolidityTypes.ts
  packages/lib-sourcify/src/Compilation/VyperCompilation.ts
  packages/lib-sourcify/src/Compilation/VyperTypes.ts
  packages/lib-sourcify/test/Compilation/SolidityCompilation.spec.ts
  packages/lib-sourcify/test/Compilation/VyperCompilation.spec.ts
Due: run-build-packages

Move `safeHandler` to common.ts
  services/server/src/server/apiv1/controllers.common.ts
  services/server/src/server/apiv1/repository/repository.routes.ts
  services/server/src/server/apiv1/testartifacts/testartifacts.routes.ts
  services/server/src/server/apiv1/verification/etherscan/session/etherscan.session.routes.ts
  services/server/src/server/apiv1/verification/etherscan/stateless/etherscan.stateless.routes.ts
  services/server/src/server/apiv1/verification/session-state/session-state.routes.ts
  services/server/src/server/apiv1/verification/solc-json/session/solc-json.session.routes.ts
  services/server/src/server/apiv1/verification/solc-json/stateless/solc-json.stateless.routes.ts
  services/server/src/server/apiv1/verification/verify/session/verify.session.routes.ts
  services/server/src/server/apiv1/verification/verify/stateless/verify.stateless.routes.ts
  services/server/src/server/apiv1/verification/vyper/stateless/vyper.stateless.routes.ts
  services/server/src/server/common.ts
Due: run-build-server

Remove `outputSelection` to be handled by the Compilation class
  packages/lib-sourcify/src/Validation/SolidityMetadataContract.ts
Due: run-build-packages

Fetch missing before creating the Compilation
  packages/lib-sourcify/src/Validation/SolidityMetadataContract.ts
Due: run-build-packages

Rename everything `check..` to `create...` in validation ie. SolidityMetadataContract
  packages/lib-sourcify/src/Validation/processFiles.ts
Due: run-build-packages

Try first assembling the contract without variations, only try after if it doesn't work
  packages/lib-sourcify/src/Validation/SolidityMetadataContract.ts
Due: run-build-packages

Refactor compilation classes to unify compile methods and remove deprecated properties
  packages/lib-sourcify/src/Compilation/AbstractCompilation.ts
  packages/lib-sourcify/src/Compilation/CompilationTypes.ts
  packages/lib-sourcify/src/Compilation/SolidityCompilation.ts
  packages/lib-sourcify/src/Compilation/SolidityTypes.ts
  packages/lib-sourcify/src/Compilation/VyperCompilation.ts
  packages/lib-sourcify/test/Compilation/SolidityCompilation.spec.ts
  packages/lib-sourcify/test/Compilation/VyperCompilation.spec.ts
  packages/lib-sourcify/test/compiler/solidityCompiler.ts
  packages/lib-sourcify/test/utils.ts
Due: run-build-packages

Update API v2 spec
  services/server/src/apiv2.yaml
Due: run-build-server

Rename metadata2Provided to metadataPathToProvidedFilePath
  packages/lib-sourcify/src/Validation/SolidityMetadataContract.ts
Due: run-build-packages

Refactor AbstractCompilation to improve error handling and logging
  packages/lib-sourcify/src/Compilation/AbstractCompilation.ts
Due: run-build-packages

always add 0x to get...Bytecode( functions
  packages/lib-sourcify/src/Compilation/AbstractCompilation.ts
  packages/lib-sourcify/src/Compilation/SolidityCompilation.ts
Due: run-build-packages

fix PR suggestions
  packages/lib-sourcify/src/Compilation/CompilationTypes.ts
  packages/lib-sourcify/src/Compilation/SolidityCompilation.ts
  packages/lib-sourcify/src/Compilation/VyperCompilation.ts
  packages/lib-sourcify/src/Compilation/auxdataUtils.ts
Due: run-build-packages

init dune folder
  services/database/.env.template
  services/database/dune/create-tables.ts
  services/database/dune/index.ts
  services/database/dune/insert-data.ts
  services/database/dune/migrate-verified-contracts.ts
  services/database/dune/tsconfig.json
Due: none

Add DuneClients
  services/database/dune/DuneDataClient.ts
  services/database/dune/DuneTableClient.ts
  services/database/dune/fetch-rows.ts
  services/database/dune/index.ts
  services/database/dune/insert-data.ts
  services/database/pg-types.ts
  services/database/tsconfig.json
Due: none

update expectedStatus
  services/server/test/helpers/etherscanInstanceContracts.json
Due: run-build-server

add core chain testnet2 (#1848)
  services/server/.env.dev
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
  services/server/test/helpers/etherscanInstanceContracts.json
Due: run-build-server

Update packages/lib-sourcify/src/Compilation/AbstractCompilation.ts
  packages/lib-sourcify/src/Compilation/AbstractCompilation.ts
Due: run-build-packages

Add Validation classes and types (#1851)
  packages/lib-sourcify/package.json
  packages/lib-sourcify/src/Validation/SolidityMetadataContract.ts
  packages/lib-sourcify/src/Validation/fetchUtils.ts
  packages/lib-sourcify/src/Validation/processFiles.ts
  packages/lib-sourcify/src/Validation/zipUtils.ts
  packages/lib-sourcify/src/lib/types.ts
  packages/lib-sourcify/test/Validation-draft/fetchUtils.spec.ts
  packages/lib-sourcify/test/Validation-draft/zipUtils.spec.ts
Due: run-build-packages

fix tests
  packages/lib-sourcify/package.json
Due: run-build-packages

enable all tests
  packages/lib-sourcify/test/Compilation/SolidityCompilation.spec.ts
  packages/lib-sourcify/test/Compilation/VyperCompilation.spec.ts
Due: run-build-packages

Add Compilation classes and types (#1849)
  packages/lib-sourcify/src/Compilation/AbstractCompilation.ts
  packages/lib-sourcify/src/Compilation/CompilationTypes.ts
  packages/lib-sourcify/src/Compilation/SolidityCompilation.ts
  packages/lib-sourcify/src/Compilation/SolidityTypes.ts
  packages/lib-sourcify/src/Compilation/VyperCompilation.ts
  packages/lib-sourcify/src/Compilation/VyperTypes.ts
  packages/lib-sourcify/src/Compilation/auxdataUtils.ts
  packages/lib-sourcify/test/Compilation/SolidityCompilation.spec.ts
  packages/lib-sourcify/test/Compilation/VyperCompilation.spec.ts
  packages/lib-sourcify/test/compiler/solidityCompiler.ts
  packages/lib-sourcify/test/utils.ts
Due: run-build-packages

remove lib-sourcify touch
  packages/lib-sourcify/README.md
Due: run-build-packages

Move API v1 routes to apiv1 folder
  services/server/src/server/apiv1/deprecated.routes.ts
  services/server/src/server/apiv1/routes.ts
  services/server/src/server/routes.ts
  services/server/src/server/server.ts
Due: run-build-server

Fix server test commands
  services/server/.mocharc.json
  services/server/package.json
Due: run-build-server
