Repository ethereum/sourcify: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-monitor, run-build-server, run-build-repository, run-build-packages, run-build-ui

Add scripts
  services/database/scripts/ContractVerifier.mjs
  services/database/scripts/backfill-creation.mjs
  services/database/scripts/logger.js
Due: none

fix(deps): update dependency abitype to v1.0.8
  package-lock.json
  packages/lib-sourcify/package.json
  services/server/package.json
Due: run-build-server, run-build-packages

fix(deps): update dependency abitype to v1.0.8 (#1807)
  package-lock.json
  packages/lib-sourcify/package.json
  services/server/package.json
Due: run-build-server, run-build-packages

fix(deps): update dependency @aws-sdk/client-s3 to v3.717.0
  package-lock.json
  services/server/package.json
Due: run-build-server

fix(deps): update dependency @aws-sdk/client-s3 to v3.717.0 (#1808)
  package-lock.json
  services/server/package.json
Due: run-build-server

Add binary search for creator tx hash
  packages/lib-sourcify/src/lib/SourcifyChain.ts
  services/server/src/server/services/utils/contract-creation-util.ts
  services/server/test/unit/utils/contract-creation-util.spec.ts
Due: run-build-server, run-build-packages

Add Issue Board and Milestones to README
  README.md
Due: none

Fix tests after enabling binary search creation tx
  services/server/test/helpers/LocalChainFixture.ts
  services/server/test/helpers/helpers.ts
  services/server/test/integration/repository-handlers/files.spec.ts
  services/server/test/integration/verification-handlers/verify.stateless.spec.ts
Due: run-build-server

Don't store full source content in mocked metadata object
  packages/lib-sourcify/src/lib/VyperCheckedContract.ts
  packages/lib-sourcify/test/functions.spec.ts
Due: run-build-packages

Don't store full source content in mocked Vyper metadata object (#1810)
  packages/lib-sourcify/src/lib/VyperCheckedContract.ts
  packages/lib-sourcify/test/functions.spec.ts
Due: run-build-packages

Vyper auxdata tests (#1798)
  packages/lib-sourcify/src/lib/VyperCheckedContract.ts
  packages/lib-sourcify/test/sources/Vyper/testcontract/wrongAuxdata/artifact.json
  packages/lib-sourcify/test/verification.spec.ts
  services/server/test/helpers/assertions.ts
  services/server/test/integration/database.spec.ts
  services/server/test/integration/verification-handlers/vyper.stateless.spec.ts
  services/server/test/verifier-alliance/vyper/auxdata-0.3.4.json
  services/server/test/verifier-alliance/vyper/auxdata-0.3.8.json
  services/server/test/verifier-alliance/vyper/auxdata-0.4.0.json
  services/server/test/verifier-alliance/vyper/auxdata-0.4.1.json
  services/server/test/verifier-alliance/vyper/constructor_args_immutables.json
Due: run-build-server, run-build-packages

Add cold start
  services/database/scripts/ContractVerifier.mjs
Due: none

Lower the cold start exponent
  services/database/scripts/ContractVerifier.mjs
Due: none

Don't use nock.removeAll but remove single
  services/server/test/integration/verification-handlers/verify.stateless.spec.ts
Due: run-build-server

Fix nock
  services/server/test/integration/verification-handlers/verify.stateless.spec.ts
Due: run-build-server

Replace getTx instead of mock
  services/server/test/integration/verification-handlers/verify.stateless.spec.ts
Due: run-build-server

Add binary search for creator tx hash (#1809)
  packages/lib-sourcify/src/lib/SourcifyChain.ts
  services/server/src/server/services/utils/contract-creation-util.ts
  services/server/test/helpers/LocalChainFixture.ts
  services/server/test/helpers/helpers.ts
  services/server/test/integration/repository-handlers/files.spec.ts
  services/server/test/integration/verification-handlers/verify.stateless.spec.ts
  services/server/test/unit/utils/contract-creation-util.spec.ts
Due: run-build-server, run-build-packages

Use logarithmic function to increase concurrency to max in a target second
  services/database/scripts/ContractVerifier.mjs
  services/database/scripts/backfill-creation.mjs
Due: none

Updated the Etherscan verification handler to process Vyper contracts alongside Solidity contracts
  packages/lib-sourcify/src/lib/IVyperCompiler.ts
  packages/lib-sourcify/src/lib/types.ts
  services/server/src/server/controllers/verification/etherscan/etherscan.common.ts
  services/server/src/server/controllers/verification/etherscan/stateless/etherscan.stateless.handlers.ts
Due: run-build-server, run-build-packages

wip
  services/server/src/server/controllers/verification/etherscan/etherscan.common.ts
  services/server/src/server/controllers/verification/etherscan/session/etherscan.session.handlers.ts
  services/server/src/server/controllers/verification/etherscan/stateless/etherscan.stateless.handlers.ts
Due: run-build-server

Update script documentation and descriptions
  services/database/scripts/backfill-creation.mjs
Due: none

Refactor common functions, use correct typing, and fix errors
  services/server/src/server/controllers/verification/etherscan/etherscan.common.ts
  services/server/src/server/controllers/verification/etherscan/session/etherscan.session.handlers.ts
  services/server/src/server/controllers/verification/etherscan/stateless/etherscan.stateless.handlers.ts
Due: run-build-server

Add tests
  services/server/test/helpers/etherscanResponseMocks.ts
  services/server/test/integration/etherscan.spec.ts
Due: run-build-server

Creation tx backfill scripts (#1811)
  services/database/scripts/ContractVerifier.mjs
  services/database/scripts/backfill-creation.mjs
  services/database/scripts/logger.js
Due: none

handle "*" cases in etherscan vyper json input type
  services/server/src/server/controllers/verification/etherscan/etherscan.common.ts
Due: run-build-server

Add support for immutables in Vyper (#1790)
  packages/lib-sourcify/src/lib/AbstractCheckedContract.ts
  packages/lib-sourcify/src/lib/SolidityCheckedContract.ts
  packages/lib-sourcify/src/lib/VyperCheckedContract.ts
  packages/lib-sourcify/src/lib/types.ts
  packages/lib-sourcify/src/lib/verification.ts
  packages/lib-sourcify/test/sources/Vyper/withImmutables/artifact.json
  packages/lib-sourcify/test/sources/Vyper/withImmutables/test.vy
  packages/lib-sourcify/test/verification.spec.ts
  services/server/src/server/controllers/verification/verify/stateless/verify.stateless.handlers.ts
Due: run-build-server, run-build-packages

fix comment in decode byper bytecode function
  packages/bytecode-utils/src/lib/bytecode.ts
Due: run-build-packages

Vyper import from etherscan (#1795)
  packages/lib-sourcify/src/lib/IVyperCompiler.ts
  packages/lib-sourcify/src/lib/types.ts
  services/server/src/server/controllers/verification/etherscan/etherscan.common.ts
  services/server/src/server/controllers/verification/etherscan/session/etherscan.session.handlers.ts
  services/server/src/server/controllers/verification/etherscan/stateless/etherscan.stateless.handlers.ts
  services/server/test/helpers/etherscanResponseMocks.ts
  services/server/test/integration/etherscan.spec.ts
Due: run-build-server, run-build-packages

Improve platform architecture management for Vyper compiler (#1776)
  packages/lib-sourcify/test/compiler/vyperCompiler.ts
  services/server/src/server/services/compiler/local/vyperCompiler.ts
Due: run-build-server, run-build-packages

Add support for Vyper cbor auxdata in bytecode-utils and in VyperCheckedContract (#1783)
  .vscode/launch.json
  package-lock.json
  packages/bytecode-utils/README.md
  packages/bytecode-utils/package.json
  packages/bytecode-utils/src/lib/bytecode.ts
  packages/bytecode-utils/test/bytecode.spec.ts
  packages/bytecode-utils/test/bytecodes/vyper-cbor-no-array.hex
  packages/bytecode-utils/test/bytecodes/vyper-integrity.hex
  packages/bytecode-utils/test/bytecodes/vyper-no-auxdata-length.hex
  packages/bytecode-utils/test/bytecodes/vyper-no-integrity.hex
  packages/lib-sourcify/src/lib/AbstractCheckedContract.ts
  packages/lib-sourcify/src/lib/SolidityCheckedContract.ts
  packages/lib-sourcify/src/lib/VyperCheckedContract.ts
  packages/lib-sourcify/src/lib/verification.ts
  services/monitor/src/ChainMonitor.ts
  services/monitor/src/util.ts
  services/server/src/server/controllers/verification/session-state/session-state.handlers.ts
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
Due: run-build-monitor, run-build-server, run-build-packages

Add Vyper documentation in READMEs (#1786)
  README.md
  packages/bytecode-utils/README.md
  packages/lib-sourcify/README.md
  services/server/README.md
Due: run-build-server, run-build-packages

Add tests for Vyper support (#1781)
  packages/lib-sourcify/test/functions.spec.ts
  packages/lib-sourcify/test/sources/Vyper/testcontract/artifact.json
  packages/lib-sourcify/test/sources/Vyper/testcontract/test.vy
  packages/lib-sourcify/test/sources/Vyper/testcontract2/artifact.json
  packages/lib-sourcify/test/sources/Vyper/testcontract2/test.vy
  packages/lib-sourcify/test/verification.spec.ts
  services/server/src/server/controllers/verification/vyper/stateless/vyper.stateless.handlers.ts
  services/server/test/integration/verification-handlers/verify.stateless.spec.ts
  services/server/test/integration/verification-handlers/vyper.stateless.spec.ts
  services/server/test/sources/vyper/testcontract/artifact.json
  services/server/test/sources/vyper/testcontract/test.vy
  services/server/test/sources/vyper/testcontract2/artifact.json
  services/server/test/sources/vyper/testcontract2/test.vy
Due: run-build-server, run-build-packages

Finalize vyper API: OpenAPI spec + error handling (#1774)
  services/server/src/server/controllers/verification/vyper/stateless/vyper.stateless.handlers.ts
  services/server/src/server/controllers/verification/vyper/stateless/vyper.stateless.paths.yaml
Due: run-build-server

Change creation tx script cold start to 1
  services/database/scripts/ContractVerifier.mjs
Due: none

Fix creation tx fetching from blockscout after the API change
  services/server/src/server/services/utils/contract-creation-util.ts
  services/server/test/unit/utils/contract-creation-util.spec.ts
Due: run-build-server

Path conditions:
  run-build-monitor: any of: services/monitor/.*
  run-build-server: any of: services/server/.*
  run-build-repository: any of: h5ai-nginx
  run-build-packages: any of: packages/.*
  run-build-ui: any of: ui/.*
