Repository ethereum/sourcify: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-monitor, run-build-server, run-build-repository, run-build-packages, run-build-ui

Remove unused getter abiEncodedConstructorArguments in Verification class
  packages/lib-sourcify/src/Verification/Verification.ts
Due: run-build-packages

If user provides 1337, and 31337 test chains, use the user config instead of default LOCAL_CHAINS config
  services/server/src/sourcify-chains.ts
Due: run-build-server

Move api-docs route before fallback handler
  services/server/src/server/cli.ts
  services/server/src/server/server.ts
  services/server/test/helpers/ServerFixture.ts
Due: run-build-server

Fix proxy detection for EIP1967 when storage slot is only referenced in creation code
  package-lock.json
  services/server/package.json
  services/server/src/server/apiv2/lookup/lookup.handlers.ts
  services/server/src/server/services/utils/database-util.ts
  services/server/src/server/types.ts
  services/server/test/unit/utils/proxy-bytecodes.json
  services/server/test/unit/utils/proxy-contract-util.spec.ts
Due: run-build-server

Fix proxy detection bytecode fallback logic
  services/server/src/server/apiv2/lookup/lookup.handlers.ts
Due: run-build-server

Update server configuration README clarifying that v2 API is not available with repo as read service
  services/server/README.md
Due: run-build-server

Compilers package (#1914)
  .circleci/scripts/publish_to_npm.sh
  .vscode/launch.json
  package-lock.json
  package.json
  packages/compilers/.gitignore
  packages/compilers/.mocharc.json
  packages/compilers/LICENSE
  packages/compilers/README.md
  packages/compilers/package.json
  packages/compilers/src/index.ts
  packages/compilers/src/lib/common.ts
  packages/compilers/src/lib/compilerWorker.ts
  packages/compilers/src/lib/solidityCompiler.ts
  packages/compilers/src/lib/vyperCompiler.ts
  packages/compilers/src/logger.ts
  packages/compilers/test/solidityCompiler.spec.ts
  packages/compilers/test/utils/pre-v0.4.0-input.json
  packages/compilers/tsconfig.json
  packages/compilers/tsconfig.module.json
  packages/lib-sourcify/package.json
  packages/lib-sourcify/test/compiler/solidityCompiler.ts
  packages/lib-sourcify/test/compiler/vyperCompiler.ts
  packages/lib-sourcify/test/functions.spec.ts
  packages/lib-sourcify/test/utils.ts
  packages/lib-sourcify/test/verification.spec.ts
  scripts/release/release.sh
  services/server/package.json
  services/server/src/server/services/VerificationService.ts
  services/server/src/server/services/compiler/local/SolcLocal.ts
  services/server/src/server/services/compiler/local/VyperLocal.ts
  services/server/src/server/services/compiler/local/common.ts
  services/server/src/server/services/compiler/local/compilerWorker.ts
  services/server/test/integration/apiv1/verification-handlers/verify.stateless.spec.ts
  services/server/test/integration/path-sanitization.spec.ts
  services/server/test/unit/VerificationService.spec.ts
Due: run-build-server, run-build-packages

Add migrations for `verification_jobs` and `verification_jobs_ephemeral` tables (#1902)
  services/database/migrations/20231109160023-sourcify.js
Due: none

Add GET `/v2/verify/{verificationId}` endpoint (#1913)
  services/database/migrations/20231109160023-sourcify.js
  services/server/src/apiv2.yaml
  services/server/src/server/apiv2/errors.ts
  services/server/src/server/apiv2/jobs/jobs.handler.ts
  services/server/src/server/apiv2/jobs/jobs.routes.ts
  services/server/src/server/apiv2/routes.ts
  services/server/src/server/services/StorageService.ts
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/src/server/services/utils/Database.ts
  services/server/src/server/services/utils/database-util.ts
  services/server/src/server/types.ts
  services/server/test/helpers/helpers.ts
  services/server/test/integration/apiv2/jobs.spec.ts
Due: run-build-server

Upgrade to Express v5
  package-lock.json
  services/server/package.json
  services/server/src/server/apiv1/controllers.common.ts
  services/server/src/server/apiv1/deprecated.routes.ts
  services/server/src/server/apiv1/repository/repository.handlers.ts
  services/server/src/server/apiv1/repository/repository.routes.ts
  services/server/src/server/apiv1/verification/etherscan/session/etherscan.session.handlers.ts
  services/server/src/server/apiv1/verification/etherscan/stateless/etherscan.stateless.handlers.ts
  services/server/src/server/apiv1/verification/session-state/session-state.handlers.ts
  services/server/src/server/apiv1/verification/solc-json/session/solc-json.session.handlers.ts
  services/server/src/server/apiv1/verification/solc-json/stateless/solc-json.stateless.handlers.ts
  services/server/src/server/apiv1/verification/verification.common.ts
  services/server/src/server/apiv1/verification/verify/session/verify.session.handlers.ts
  services/server/src/server/apiv1/verification/verify/stateless/verify.stateless.handlers.ts
  services/server/src/server/apiv1/verification/vyper/stateless/vyper.stateless.handlers.ts
  services/server/src/server/cli.ts
  services/server/src/server/routes.ts
  services/server/src/server/server.ts
  services/server/test/helpers/ServerFixture.ts
  services/server/test/integration/apiv1/verification-handlers/verify.session.spec.ts
Due: run-build-server

Remove safeHandler
  services/server/src/server/apiv1/repository/repository.handlers.ts
  services/server/src/server/apiv1/repository/repository.routes.ts
  services/server/src/server/apiv1/testartifacts/testartifacts.handlers.ts
  services/server/src/server/apiv1/testartifacts/testartifacts.routes.ts
  services/server/src/server/apiv1/verification/etherscan/session/etherscan.session.routes.ts
  services/server/src/server/apiv1/verification/etherscan/stateless/etherscan.stateless.routes.ts
  services/server/src/server/apiv1/verification/session-state/session-state.routes.ts
  services/server/src/server/apiv1/verification/solc-json/session/solc-json.session.routes.ts
  services/server/src/server/apiv1/verification/solc-json/stateless/solc-json.stateless.handlers.ts
  services/server/src/server/apiv1/verification/solc-json/stateless/solc-json.stateless.routes.ts
  services/server/src/server/apiv1/verification/verify/session/verify.session.routes.ts
  services/server/src/server/apiv1/verification/verify/stateless/verify.stateless.routes.ts
  services/server/src/server/apiv1/verification/vyper/stateless/vyper.stateless.routes.ts
  services/server/src/server/apiv2/lookup/lookup.handlers.ts
  services/server/src/server/apiv2/lookup/lookup.routes.ts
  services/server/src/server/common.ts
Due: run-build-server

Fix database types
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/src/server/services/utils/Database.ts
  services/server/src/server/services/utils/database-util.ts
Due: run-build-server

Fix lib-sourcify tests
  packages/lib-sourcify/test/Verification/Verification.spec.ts
  packages/lib-sourcify/test/utils.ts
Due: run-build-packages

Fix proxy detection for EIP1967 when storage slot is only referenced in creation code (#1957)
  package-lock.json
  services/server/README.md
  services/server/package.json
  services/server/src/server/apiv2/lookup/lookup.handlers.ts
  services/server/src/server/services/utils/database-util.ts
  services/server/src/server/types.ts
  services/server/test/unit/utils/proxy-bytecodes.json
  services/server/test/unit/utils/proxy-contract-util.spec.ts
Due: run-build-server

fix(deps): update all patch and minor dependencies
  package-lock.json
  package.json
  packages/bytecode-utils/package.json
  packages/compilers/package.json
  packages/lib-sourcify/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

fix(deps): update all patch and minor dependencies (#1961)
  package-lock.json
  package.json
  packages/bytecode-utils/package.json
  packages/compilers/package.json
  packages/lib-sourcify/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

Remove all old lib-sourcify calls from server
  packages/lib-sourcify/src/Compilation/CompilationTypes.ts
  packages/lib-sourcify/src/Compilation/SolidityCompilation.ts
  packages/lib-sourcify/src/Compilation/VyperCompilation.ts
  packages/lib-sourcify/src/SourcifyChain/SourcifyChain.ts
  packages/lib-sourcify/src/SourcifyChain/SourcifyChainTypes.ts
  packages/lib-sourcify/src/Validation/SolidityMetadataContract.ts
  packages/lib-sourcify/src/Validation/processFiles.ts
  packages/lib-sourcify/src/Verification/Verification.ts
  packages/lib-sourcify/src/Verification/VerificationTypes.ts
  packages/lib-sourcify/src/index.ts
  packages/lib-sourcify/src/lib/types.ts
  packages/lib-sourcify/src/lib/verification.ts
  packages/lib-sourcify/src/utils.ts
  services/server/src/server/apiv1/repository/repository.handlers.ts
  services/server/src/server/apiv1/verification/verification.common.ts
  services/server/src/server/apiv1/verification/verify/stateless/verify.stateless.handlers.ts
  services/server/src/server/apiv1/verification/verify/stateless/verify.stateless.routes.ts
  services/server/src/server/common.ts
  services/server/src/server/services/StorageService.ts
  services/server/src/server/services/VerificationService.ts
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/src/server/services/storageServices/AllianceDatabaseService.ts
  services/server/src/server/services/storageServices/RepositoryV1Service.ts
  services/server/src/server/services/storageServices/RepositoryV2Service.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/src/server/services/utils/database-util.ts
  services/server/src/server/services/utils/util.ts
  services/server/src/server/types.ts
Due: run-build-server, run-build-packages

Implement `getResponseMatchFromVerification`
  services/server/src/server/common.ts
Due: run-build-server

Revert test to old behavior
  services/server/src/server/apiv1/verification/verify/stateless/verify.stateless.handlers.ts
  services/server/test/integration/apiv1/verification-handlers/verify.stateless.spec.ts
Due: run-build-server

Improve readability for verify.stateless.handler error management
  services/server/src/server/apiv1/verification/verify/stateless/verify.stateless.handlers.ts
Due: run-build-server

Implement verify-deprecated endpoint using new lib-sourcify
  services/server/src/config/local-test.js
  services/server/src/server/apiv1/verification/verify/stateless/verify.stateless.handlers.ts
  services/server/src/server/apiv1/verification/verify/stateless/verify.stateless.routes.ts
  services/server/test/integration/apiv1/verification-handlers/verify.stateless.spec.ts
Due: run-build-server

Remove `storeByHash` and `generateVariations` from lib-sourcify
  packages/lib-sourcify/src/Validation/SolidityMetadataContract.ts
  packages/lib-sourcify/src/Validation/processFiles.ts
  services/server/src/server/apiv1/verification/verification.common.ts
Due: run-build-server, run-build-packages

trial not working
  package-lock.json
  services/server/package.json
  services/server/src/server/cli.ts
  services/server/src/server/server.ts
Due: run-build-server

Remove fallback handler
  services/server/src/server/server.ts
Due: run-build-server

Remove 404 error tests
  services/server/test/integration/errors.spec.ts
Due: run-build-server

Move api-docs route before fallback handler (#1956)
  services/server/src/server/server.ts
  services/server/test/integration/errors.spec.ts
Due: run-build-server

chore: fixed typo in variable name
  scripts/release/release.sh
Due: none

Add Zilliqa 2 proto-mainnet chain
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

Add Zilliqa 2 proto-mainnet chain (#1966)
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

Add Zilliqa 2 proto-testnet chain
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

Add Zilliqa 2 proto-testnet chain (#1967)
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

Turn off support for non-functioning chains
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

Fix the test "Should upgrade creation match from 'null' to 'perfect'" to catch the not-updated verified_contract
  services/server/test/integration/apiv1/verification-handlers/verify.stateless.spec.ts
Due: run-build-server

Update-Chain-641230
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

Turn on Bear chain support back
  services/server/src/sourcify-chains-default.json
Due: run-build-server

Fix whitespace and trigger CI
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

Path conditions:
  run-build-monitor: any of: services/monitor/.*
  run-build-server: any of: services/server/.*
  run-build-repository: any of: h5ai-nginx
  run-build-packages: any of: packages/.*
  run-build-ui: any of: ui/.*
