Repository ethereum/sourcify: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-monitor, run-build-server, run-build-repository, run-build-packages, run-build-ui

Path conditions:
  run-build-monitor: any of: services/monitor/.*
  run-build-server: any of: services/server/.*
  run-build-repository: any of: h5ai-nginx
  run-build-packages: any of: packages/.*
  run-build-ui: any of: ui/.*

update schema following vera specification
  services/database/migrations/20240729112258-compiled_contracts-constraints.js
Due: none

Exclude __MACOSX folder when unzipping
  packages/lib-sourcify/src/lib/validation.ts
  packages/lib-sourcify/src/lib/verification.ts
  packages/lib-sourcify/test/validation.spec.ts
  packages/lib-sourcify/test/validation/files/truffle-example-with-macosx.zip
  services/server/src/server/controllers/verification/verification.common.ts
Due: run-build-server, run-build-packages

Implement gateways custom settings in Monitor - add support for headers setting
  services/monitor/README.md
  services/monitor/src/DecentralizedStorageFetcher.ts
  services/monitor/src/GatewayFetcher.ts
  services/monitor/src/types.ts
Due: run-build-monitor

Add endpoint `/verify-deprecated` for migrating deprecated chains
  services/server/src/server/controllers/verification/verify/stateless/verify.stateless.handlers.ts
  services/server/src/server/controllers/verification/verify/stateless/verify.stateless.paths.yaml
  services/server/src/server/controllers/verification/verify/stateless/verify.stateless.routes.ts
Due: run-build-server

Update services/database/migrations/20240729112258-compiled_contracts-constraints.js
  services/database/migrations/20240729112258-compiled_contracts-constraints.js
Due: none

add `compiled_contracts` artifacts constraints
  services/database/migrations/20240729112258-compiled_contracts-constraints.js
Due: none

add missing type,seed variable
  services/database/migrations/20240729112258-compiled_contracts-constraints.js
Due: none

Exclude __MACOSX folder when unzipping (#1534)
  packages/lib-sourcify/src/lib/validation.ts
  packages/lib-sourcify/src/lib/verification.ts
  packages/lib-sourcify/test/validation.spec.ts
  packages/lib-sourcify/test/validation/files/truffle-example-with-macosx.zip
  services/server/src/server/controllers/verification/verification.common.ts
Due: run-build-server, run-build-packages

Update sync script
  services/database/scripts.mjs
Due: none

Update .dockerignore
  .dockerignore
Due: none

remove body from verification request error in monitor
  services/monitor/src/PendingContract.ts
Due: run-build-monitor

Remove cold start from script.mjs
  services/database/scripts.mjs
Due: none

Turn off lambda compiler in deployments, fix home/app/data path in master
  services/server/src/config/master.js
  services/server/src/config/staging.js
Due: run-build-server

Add Telcoin Network 2017
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

Add Telcoin Network 2017 (#1540)
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

Shorten the await between checks
  services/database/scripts.mjs
Due: none

Remove the fileFilter from database sync script.
  services/database/scripts.mjs
Due: none

Update master.js config
  services/server/src/config/master.js
Due: run-build-server

Update master.js config (#1546)
  services/server/src/config/master.js
Due: run-build-server

Condiftionally enable `/verify-deprecated`
  services/server/src/config/default.js
  services/server/src/server/controllers/verification/verify/stateless/verify.stateless.routes.ts
Due: run-build-server

Enable deprecated on migration
  services/server/src/config/migration.js
Due: run-build-server

Changes to the database sync script (#1549)
  services/database/scripts.mjs
  services/server/src/config/default.js
  services/server/src/config/migration.js
  services/server/src/server/controllers/verification/verify/stateless/verify.stateless.handlers.ts
  services/server/src/server/controllers/verification/verify/stateless/verify.stateless.paths.yaml
  services/server/src/server/controllers/verification/verify/stateless/verify.stateless.routes.ts
Due: run-build-server

chore(config): migrate config renovate.json
  renovate.json
Due: none

Disable rate limiting on the application level
  services/server/src/config/master.js
  services/server/src/config/staging.js
Due: run-build-server

chore(config): migrate renovate config (#1551)
  renovate.json
Due: none

fix(deps): update all minor dependencies
  package-lock.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  services/monitor/package.json
  services/server/package.json
  ui/package.json
Due: run-build-monitor, run-build-server, run-build-packages, run-build-ui

fix(deps): update all minor dependencies (#1557)
  package-lock.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  services/monitor/package.json
  services/server/package.json
  ui/package.json
Due: run-build-monitor, run-build-server, run-build-packages, run-build-ui

fix(deps): update all patch dependencies
  package-lock.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  services/monitor/package.json
  services/server/package.json
  ui/package.json
Due: run-build-monitor, run-build-server, run-build-packages, run-build-ui

Do not update manifest.json for every new match stored
  services/server/src/server/services/storageServices/RepositoryV1Service.ts
  services/server/src/server/services/storageServices/RepositoryV2Service.ts
Due: run-build-server

fix(deps): update all patch dependencies (#1555)
  package-lock.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  services/monitor/package.json
  services/server/package.json
  ui/package.json
Due: run-build-monitor, run-build-server, run-build-packages, run-build-ui

Add sourcify request retry mechanism in Monitor
  services/monitor/README.md
  services/monitor/src/ChainMonitor.ts
  services/monitor/src/types.ts
  services/monitor/test/Monitor.spec.ts
Due: run-build-monitor

fix typo in readme
  services/monitor/README.md
Due: run-build-monitor

Add support for headers to IPFS Gateways
  packages/lib-sourcify/README.md
  packages/lib-sourcify/src/lib/CheckedContract.ts
  packages/lib-sourcify/src/lib/types.ts
  packages/lib-sourcify/src/lib/utils.ts
  packages/lib-sourcify/test/functions.spec.ts
  services/server/src/server/controllers/verification/session-state/session-state.handlers.ts
Due: run-build-server, run-build-packages
