Repository ethereum/sourcify: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-monitor, run-build-server, run-build-repository, run-build-packages, run-build-ui

Path conditions:
  run-build-monitor: any of: services/monitor/.*
  run-build-server: any of: services/server/.*
  run-build-repository: any of: h5ai-nginx
  run-build-packages: any of: packages/.*
  run-build-ui: any of: ui/.*

Added Ame Chain Mainnet
  services/server/test/testcontracts/path-sanitization-new-line/sources/DFrostGeckoToken .sol
Due: run-build-server

Add AME Chain Mainnet
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

docs: replaced the discord link
  README.md
Due: none

Add information about running RPC on Docker host
  services/server/README.md
Due: run-build-server

fix PR comments
  packages/lib-sourcify/src/Compilation/AbstractCompilation.ts
  packages/lib-sourcify/src/Compilation/SolidityCompilation.ts
  packages/lib-sourcify/src/Compilation/VyperCompilation.ts
  packages/lib-sourcify/src/Validation/SolidityMetadataContract.ts
  packages/lib-sourcify/src/Validation/processFiles.ts
  packages/lib-sourcify/test/Verification/Verification.spec.ts
  services/server/src/server/apiv1/controllers.common.ts
  services/server/src/server/apiv1/verification/etherscan/session/etherscan.session.handlers.ts
  services/server/src/server/apiv1/verification/etherscan/stateless/etherscan.stateless.handlers.ts
  services/server/src/server/apiv1/verification/solc-json/stateless/solc-json.stateless.handlers.ts
  services/server/src/server/apiv1/verification/verification.common.ts
  services/server/src/server/apiv1/verification/verify/stateless/verify.stateless.handlers.ts
  services/server/src/server/apiv1/verification/vyper/stateless/vyper.stateless.handlers.ts
  services/server/src/server/common.ts
  services/server/src/server/services/StorageService.ts
  services/server/src/server/services/VerificationService.ts
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/src/server/services/storageServices/RepositoryV1Service.ts
  services/server/src/server/services/storageServices/RepositoryV2Service.ts
  services/server/src/server/services/utils/Database.ts
  services/server/src/server/services/utils/database-util.ts
  services/server/src/server/services/utils/util.ts
  services/server/src/server/types.ts
  services/server/test/helpers/assertions.ts
Due: run-build-server, run-build-packages

Turn back Ozone Mainnet 4000 on
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

Add DFrostGeckoToken.sol
  services/server/test/testcontracts/path-sanitization-new-line/sources/DFrostGeckoToken .sol
Due: run-build-server

Delete services/server/test/testcontracts/path-sanitization-new-line/sources/DFrostGeckoToken .sol
  services/server/test/testcontracts/path-sanitization-new-line/sources/DFrostGeckoToken .sol
Due: run-build-server

Add files via upload
  services/server/test/testcontracts/path-sanitization-new-line/DFrostGeckoToken .sol
Due: run-build-server

Rename services/server/test/testcontracts/path-sanitization-new-line/DFrostGeckoToken .sol to services/server/test/testcontracts/path-sanitization-new-line/sources/DFrostGeckoToken .sol
  services/server/test/testcontracts/path-sanitization-new-line/sources/DFrostGeckoToken .sol
Due: run-build-server

Rename DFrostGeckoToken .sol to DFrostGeckoToken%0A.sol
  services/server/test/testcontracts/path-sanitization-new-line/sources/DFrostGeckoToken%0A.sol
Due: run-build-server

Add Test Contract
  services/server/test/testcontracts/path-sanitization-new-line/sources/DFrostGeckoToken.sol
Due: run-build-server

Checking Again for file name
  services/server/test/testcontracts/path-sanitization-new-line/sources/DFrostGeckoToken .sol
  services/server/test/testcontracts/path-sanitization-new-line/sources/DFrostGeckoToken.sol
Due: run-build-server

Add Code
  services/server/test/testcontracts/path-sanitization-new-line/sources/DFrostGeckoToken .sol
Due: run-build-server

fix PR comments
  services/server/src/server/apiv1/controllers.common.ts
  services/server/test/helpers/assertions.ts
Due: run-build-server

fix failing build
  services/server/src/server/apiv1/verification/verification.common.ts
  services/server/src/server/services/storageServices/RepositoryV1Service.ts
  services/server/src/server/services/storageServices/RepositoryV2Service.ts
Due: run-build-server

- Remove unused file tracking from createMetadataContractsFromFiles - Remove createMetadataContractsFromPaths method - Remove unnecessary file system and path imports
  packages/lib-sourcify/src/Validation/processFiles.ts
  services/server/src/server/apiv1/verification/solc-json/stateless/solc-json.stateless.handlers.ts
  services/server/src/server/apiv1/verification/verify/stateless/verify.stateless.handlers.ts
Due: run-build-server, run-build-packages

Add New Chain 180 AME Chain Mainnet (#1975)
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

Upgrade to Express v5
  package-lock.json
  services/server/package.json
  services/server/src/server/apiv1/controllers.common.ts
  services/server/src/server/apiv1/deprecated.routes.ts
  services/server/src/server/apiv1/repository/repository.handlers.ts
  services/server/src/server/apiv1/repository/repository.routes.ts
  services/server/src/server/apiv1/verification/etherscan/session/etherscan.session.handlers.ts
  services/server/src/server/apiv1/verification/etherscan/stateless/etherscan.stateless.handlers.ts
  services/server/src/server/apiv1/verification/session-state/session-state.handlers.ts
  services/server/src/server/apiv1/verification/solc-json/session/solc-json.session.handlers.ts
  services/server/src/server/apiv1/verification/solc-json/stateless/solc-json.stateless.handlers.ts
  services/server/src/server/apiv1/verification/verification.common.ts
  services/server/src/server/apiv1/verification/verify/session/verify.session.handlers.ts
  services/server/src/server/apiv1/verification/verify/stateless/verify.stateless.handlers.ts
  services/server/src/server/apiv1/verification/vyper/stateless/vyper.stateless.handlers.ts
  services/server/src/server/cli.ts
  services/server/src/server/routes.ts
  services/server/src/server/server.ts
  services/server/test/helpers/ServerFixture.ts
  services/server/test/integration/apiv1/verification-handlers/verify.session.spec.ts
Due: run-build-server

Remove safeHandler
  services/server/src/server/apiv1/repository/repository.handlers.ts
  services/server/src/server/apiv1/repository/repository.routes.ts
  services/server/src/server/apiv1/testartifacts/testartifacts.handlers.ts
  services/server/src/server/apiv1/testartifacts/testartifacts.routes.ts
  services/server/src/server/apiv1/verification/etherscan/session/etherscan.session.routes.ts
  services/server/src/server/apiv1/verification/etherscan/stateless/etherscan.stateless.routes.ts
  services/server/src/server/apiv1/verification/session-state/session-state.routes.ts
  services/server/src/server/apiv1/verification/solc-json/session/solc-json.session.routes.ts
  services/server/src/server/apiv1/verification/solc-json/stateless/solc-json.stateless.handlers.ts
  services/server/src/server/apiv1/verification/solc-json/stateless/solc-json.stateless.routes.ts
  services/server/src/server/apiv1/verification/verify/session/verify.session.routes.ts
  services/server/src/server/apiv1/verification/verify/stateless/verify.stateless.routes.ts
  services/server/src/server/apiv1/verification/vyper/stateless/vyper.stateless.routes.ts
  services/server/src/server/apiv2/lookup/lookup.handlers.ts
  services/server/src/server/apiv2/lookup/lookup.routes.ts
  services/server/src/server/common.ts
Due: run-build-server

Remove safeHandler from jobs route
  services/server/src/server/apiv2/jobs/jobs.handler.ts
  services/server/src/server/apiv2/jobs/jobs.routes.ts
Due: run-build-server

fix(deps): update all patch and minor dependencies
  package-lock.json
  packages/bytecode-utils/package.json
  packages/compilers/package.json
  packages/lib-sourcify/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

Update README.md
  README.md
Due: none

Update lib-sourcify documention
  packages/lib-sourcify/README.md
Due: run-build-packages

add error handling
  packages/lib-sourcify/README.md
Due: run-build-packages

add quick start section
  packages/lib-sourcify/README.md
Due: run-build-packages

add section for SourcifyChain
  packages/lib-sourcify/README.md
Due: run-build-packages

improve compiler setup documentation
  packages/lib-sourcify/README.md
Due: run-build-packages

improve SourcifyChain documentation
  packages/lib-sourcify/README.md
Due: run-build-packages

update overview points
  packages/lib-sourcify/README.md
Due: run-build-packages

Improve auxdata position generation return types and error handling
  packages/lib-sourcify/src/Compilation/AbstractCompilation.ts
  packages/lib-sourcify/src/Compilation/CompilationTypes.ts
  packages/lib-sourcify/src/Compilation/SolidityCompilation.ts
  packages/lib-sourcify/src/Compilation/VyperCompilation.ts
  packages/lib-sourcify/src/Verification/Verification.ts
  packages/lib-sourcify/test/Compilation/SolidityCompilation.spec.ts
  packages/lib-sourcify/test/Compilation/VyperCompilation.spec.ts
  services/server/src/server/apiv1/verification/verify/stateless/verify.stateless.handlers.ts
  services/server/src/server/services/utils/database-util.ts
Due: run-build-server, run-build-packages

Update packages/lib-sourcify/src/Verification/Verification.ts
  packages/lib-sourcify/src/Verification/Verification.ts
Due: run-build-packages

Improve auxdata position generation return types and error handling (#1993)
  packages/lib-sourcify/src/Compilation/AbstractCompilation.ts
  packages/lib-sourcify/src/Compilation/CompilationTypes.ts
  packages/lib-sourcify/src/Compilation/SolidityCompilation.ts
  packages/lib-sourcify/src/Compilation/VyperCompilation.ts
  packages/lib-sourcify/src/Verification/Verification.ts
  packages/lib-sourcify/test/Compilation/SolidityCompilation.spec.ts
  packages/lib-sourcify/test/Compilation/VyperCompilation.spec.ts
  services/server/src/server/apiv1/verification/verify/stateless/verify.stateless.handlers.ts
  services/server/src/server/services/utils/database-util.ts
Due: run-build-server, run-build-packages

Add VerificationExport
  packages/lib-sourcify/src/Compilation/CompilationTypes.ts
  packages/lib-sourcify/src/Compilation/SolidityTypes.ts
  packages/lib-sourcify/src/Compilation/VyperTypes.ts
  packages/lib-sourcify/src/Verification/Verification.ts
  packages/lib-sourcify/src/Verification/VerificationTypes.ts
Due: run-build-packages

Add VerificationExport (#1994)
  packages/lib-sourcify/src/Compilation/CompilationTypes.ts
  packages/lib-sourcify/src/Compilation/SolidityTypes.ts
  packages/lib-sourcify/src/Compilation/VyperTypes.ts
  packages/lib-sourcify/src/Verification/Verification.ts
  packages/lib-sourcify/src/Verification/VerificationTypes.ts
Due: run-build-packages
