Repository ethereum/sourcify: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-monitor, run-build-server, run-build-repository, run-build-packages, run-build-ui

Path conditions:
  run-build-monitor: any of: services/monitor/.*
  run-build-server: any of: services/server/.*
  run-build-repository: any of: h5ai-nginx
  run-build-packages: any of: packages/.*
  run-build-ui: any of: ui/.*

fix(deps): update all patch dependencies
  package-lock.json
  packages/lib-sourcify/package.json
  serverless/compiler-lambda/package-lock.json
  serverless/compiler-lambda/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

fix(deps): update all patch dependencies (#1621)
  package-lock.json
  packages/lib-sourcify/package.json
  serverless/compiler-lambda/package-lock.json
  serverless/compiler-lambda/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

fix(deps): update all minor dependencies
  package-lock.json
  package.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

fix(deps): update all minor dependencies (#1622)
  package-lock.json
  package.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

Fix matching with creation when there's constructor arguments
  packages/lib-sourcify/src/lib/verification.ts
Due: run-build-packages

Traverse sources folder recursively in lib-sourcify tests
  packages/lib-sourcify/test/utils.ts
Due: run-build-packages

Add tests for #1623
  packages/lib-sourcify/test/sources/Constructor/artifact.json
  packages/lib-sourcify/test/sources/Constructor/metadata.json
  packages/lib-sourcify/test/sources/Constructor/sources/Constructor.sol
  packages/lib-sourcify/test/sources/ConstructorModified/artifact.json
  packages/lib-sourcify/test/sources/ConstructorModified/metadata.json
  packages/lib-sourcify/test/sources/ConstructorModified/sources/Constructor.sol
  packages/lib-sourcify/test/sources/StorageModified/artifact.json
  packages/lib-sourcify/test/verification.spec.ts
Due: run-build-packages

Add tests for Monitor authenticateRpcs
  services/monitor/src/Monitor.ts
  services/monitor/src/types.ts
  services/monitor/test/Monitor.spec.ts
Due: run-build-monitor

Fix the check for already existing partial match
  services/server/src/server/services/StorageService.ts
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/src/server/services/storageServices/RepositoryV1Service.ts
Due: run-build-server

Adds chain 33111
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

Adds chain 33111 (#1626)
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

simplify `getStatusDiff`; add additional information to "Partial match already exists" log
  services/server/src/server/services/StorageService.ts
  services/server/src/server/services/utils/util.ts
Due: run-build-server

move `isBetterMatch` to util file
  services/server/src/server/services/StorageService.ts
  services/server/src/server/services/utils/util.ts
Due: run-build-server

Change monitor RPCs back
  services/monitor/monitorChains.json
Due: run-build-monitor

Change logs
  packages/lib-sourcify/src/lib/SourcifyChain.ts
  services/monitor/src/ChainMonitor.ts
  services/monitor/src/GatewayFetcher.ts
Due: run-build-monitor, run-build-packages

implement test for upgrading creation match while runtime match is "perfect"
  services/server/src/server/controllers/verification/verify/stateless/verify.stateless.handlers.ts
  services/server/test/integration/verification-handlers/verify.stateless.spec.ts
Due: run-build-server

Change block timestamp name to avoid log timestamp confusion
  packages/lib-sourcify/src/lib/SourcifyChain.ts
Due: run-build-packages

Update monitor RPCs and chage logs
  services/monitor/monitorChains.json
  services/monitor/src/DecentralizedStorageFetcher.ts
  services/monitor/src/PendingContract.ts
Due: run-build-monitor

Log the blockPause of chains every minute
  services/monitor/.env.template
  services/monitor/src/ChainMonitor.ts
Due: run-build-monitor

Don't log error if there's no cborauxdata
  services/monitor/src/ChainMonitor.ts
Due: run-build-monitor

Remove Filecoin from monitored chains
  services/monitor/monitorChains.json
Due: run-build-monitor

refactor tests to check specific matchType upgrades
  services/server/test/helpers/helpers.ts
  services/server/test/integration/verification-handlers/verify.stateless.spec.ts
Due: run-build-server

Lower min blockPause of monitor chains
  services/monitor/src/defaultConfig.js
Due: run-build-monitor

Fix local.js file not triggering nx builds
  .gitignore
  .nxignore
  services/server/.gitignore
  services/server/.nxignore
Due: run-build-server

Update server Readme
  services/server/README.md
Due: run-build-server

Prepare sourcify-server for package registries
  services/server/package.json
Due: run-build-server

Pass config to ServerClass
  services/server/src/server/server.ts
Due: run-build-server

Factor out server options.
  services/server/src/server/server.ts
Due: run-build-server

refactor middleware to check for: already verified contract, validate address, safeHandler
  services/server/src/server/controllers/controllers.common.ts
  services/server/src/server/controllers/repository/repository.routes.ts
  services/server/src/server/controllers/verification/etherscan/stateless/etherscan.stateless.routes.ts
  services/server/src/server/controllers/verification/solc-json/stateless/solc-json.stateless.routes.ts
  services/server/src/server/controllers/verification/verification.common.ts
  services/server/src/server/controllers/verification/verify/stateless/verify.stateless.handlers.ts
  services/server/src/server/controllers/verification/verify/stateless/verify.stateless.routes.ts
  services/server/test/integration/verification-handlers/verify.session.spec.ts
  services/server/test/integration/verification-handlers/verify.stateless.spec.ts
Due: run-build-server

fix lint
  services/server/src/server/controllers/controllers.common.ts
  services/server/src/server/controllers/verification/etherscan/stateless/etherscan.stateless.routes.ts
  services/server/src/server/controllers/verification/solc-json/stateless/solc-json.stateless.routes.ts
  services/server/src/server/controllers/verification/verify/stateless/verify.stateless.routes.ts
  services/server/test/integration/verification-handlers/verify.stateless.spec.ts
Due: run-build-server

fix(deps): update all minor dependencies
  package-lock.json
  services/server/package.json
Due: run-build-server

fix(deps): update all minor dependencies (#1634)
  package-lock.json
  services/server/package.json
Due: run-build-server

chore(deps): update all patch dependencies
  package-lock.json
  package.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages
