Repository ethereum/sourcify: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-monitor, run-build-server, run-build-repository, run-build-packages, run-build-ui

Path conditions:
  run-build-monitor: any of: services/monitor/.*
  run-build-server: any of: services/server/.*
  run-build-repository: any of: h5ai-nginx
  run-build-packages: any of: packages/.*
  run-build-ui: any of: ui/.*

Implement Compilation tests with 100% coverage (#1856)
  packages/lib-sourcify/src/Compilation/SolidityCompilation.ts
  packages/lib-sourcify/src/Compilation/VyperCompilation.ts
  packages/lib-sourcify/test/Compilation/SolidityCompilation.spec.ts
  packages/lib-sourcify/test/Compilation/VyperCompilation.spec.ts
  packages/lib-sourcify/test/sources/NoImmutableField/metadata.json
  packages/lib-sourcify/test/sources/NoImmutableField/sources/NoImmutable.sol
Due: run-build-packages

Add tests for SolidityMetadataContract
  packages/lib-sourcify/src/Validation/SolidityMetadataContract.ts
  packages/lib-sourcify/test/Validation-draft/SolidityMetadataContract.spec.ts
Due: run-build-packages

use real SolidityCompilation class in SolidityMetadataContract
  packages/lib-sourcify/src/Validation/SolidityMetadataContract.ts
  packages/lib-sourcify/test/Validation-draft/SolidityMetadataContract.spec.ts
Due: run-build-packages

Fix typo CHANGELOG.md
  CHANGELOG.md
Due: none

Typo fix CHANGELOG.md
  services/server/CHANGELOG.md
Due: run-build-server

fixes from PR review
  packages/lib-sourcify/test/Validation-draft/SolidityMetadataContract.spec.ts
Due: run-build-packages

Add tests for SolidityMetadataContract (#1869)
  packages/lib-sourcify/src/Validation/SolidityMetadataContract.ts
  packages/lib-sourcify/test/Validation-draft/SolidityMetadataContract.spec.ts
Due: run-build-packages

chore(deps): update all patch dependencies
  package-lock.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

chore(deps): update all patch dependencies (#1872)
  package-lock.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

fix(deps): update all minor dependencies
  package-lock.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

fix(deps): update all minor dependencies (#1873)
  package-lock.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

Add GET `/v2/contract/{chainId}/{address}` endpoint
  services/server/src/server/apiv2/errors.ts
  services/server/src/server/apiv2/lookup/lookup.handlers.ts
  services/server/src/server/apiv2/lookup/lookup.routes.ts
  services/server/src/server/apiv2/middlewares.ts
  services/server/src/server/services/StorageService.ts
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/src/server/services/utils/Database.ts
  services/server/src/server/services/utils/database-util.ts
  services/server/src/server/services/utils/util.ts
  services/server/src/server/types.ts
  services/server/test/integration/apiv2/lookup.spec.ts
  services/server/test/testcontracts/Storage/Storage.json
Due: run-build-server

Update API v2 spec
  services/server/src/apiv2.yaml
Due: run-build-server

Add proxy detection to GET /v2/contract/{chainId}/{address} endpoint
  services/server/src/server/apiv1/repository/repository.handlers.ts
  services/server/src/server/apiv2/errors.ts
  services/server/src/server/apiv2/lookup/lookup.handlers.ts
  services/server/src/server/services/utils/database-util.ts
  services/server/src/server/services/utils/proxy-contract-util.ts
  services/server/src/server/types.ts
  services/server/test/helpers/helpers.ts
  services/server/test/integration/apiv2/lookup.spec.ts
Due: run-build-server

Don't deploy a contract in every test
  services/server/test/helpers/LocalChainFixture.ts
  services/server/test/helpers/helpers.ts
  services/server/test/integration/apiv2/lookup.spec.ts
Due: run-build-server

Fix naming of enpoint to `/v2/contract/{chainId}/{address}`
  services/server/src/server/apiv2/lookup/lookup.routes.ts
  services/server/test/integration/apiv2/lookup.spec.ts
Due: run-build-server

Fix proxy-contract-util tests
  services/server/test/unit/utils/proxy-contract-util.spec.ts
Due: run-build-server

Address PR feedback
  services/server/src/server/apiv2/lookup/lookup.handlers.ts
  services/server/src/server/apiv2/middlewares.ts
  services/server/src/server/services/StorageService.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/src/server/services/utils/Database.ts
  services/server/src/server/services/utils/database-util.ts
  services/server/test/integration/apiv2/lookup.spec.ts
Due: run-build-server

implement Verifcation.ts
  packages/lib-sourcify/src/Verification/Verification.ts
Due: run-build-packages

Refactor Verification.ts
  packages/lib-sourcify/src/Verification/Verification.ts
Due: run-build-packages

Add tests
  packages/lib-sourcify/src/Compilation/AbstractCompilation.ts
  packages/lib-sourcify/src/Compilation/SolidityCompilation.ts
  packages/lib-sourcify/src/Compilation/VyperCompilation.ts
  packages/lib-sourcify/src/Verification/Verification.ts
  packages/lib-sourcify/test/Verification/Verification.spec.ts
  packages/lib-sourcify/test/sources/ViaIRUnoptimizedMismatch/sources/A
Due: run-build-packages

Add APIv2 OpenAPI specification (#1852)
  services/server/src/apiv2.yaml
  services/server/src/openapi.yaml
  services/server/src/server/apiv1/repository/check-all-by-addresses.stateless.paths.yaml
  services/server/src/server/apiv1/repository/check-by-addresses.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-contract-addresses-all.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-contract-addresses-paginated-all.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-contract-addresses-paginated-full.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-contract-addresses-paginated-partial.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-file-static.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-file-tree-all.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-file-tree-full.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-source-files-all.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-source-files-full.stateless.paths.yaml
  services/server/src/server/apiv1/verification/etherscan/session/etherscan.session.paths.yaml
  services/server/src/server/apiv1/verification/etherscan/stateless/etherscan.stateless.paths.yaml
  services/server/src/server/apiv1/verification/session-state/clear.session-state.paths.yaml
  services/server/src/server/apiv1/verification/session-state/data.session-state.paths.yaml
  services/server/src/server/apiv1/verification/session-state/input-contract.session-state.paths.yaml
  services/server/src/server/apiv1/verification/session-state/input-files.session-state.paths.yaml
  services/server/src/server/apiv1/verification/solc-json/session/solc-json.session.paths.yaml
  services/server/src/server/apiv1/verification/solc-json/stateless/solc-json.stateless.paths.yaml
  services/server/src/server/apiv1/verification/verify/session/verify.session.paths.yaml
  services/server/src/server/apiv1/verification/verify/stateless/verify.stateless.paths.yaml
  services/server/src/server/apiv1/verification/vyper/stateless/vyper.stateless.paths.yaml
  services/server/src/server/server.ts
Due: run-build-server

Add GET `/v2/contract/{chainId}/{address}` endpoint (#1874)
  services/server/src/apiv2.yaml
  services/server/src/server/apiv1/repository/repository.handlers.ts
  services/server/src/server/apiv2/errors.ts
  services/server/src/server/apiv2/lookup/lookup.handlers.ts
  services/server/src/server/apiv2/lookup/lookup.routes.ts
  services/server/src/server/apiv2/middlewares.ts
  services/server/src/server/services/StorageService.ts
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/src/server/services/utils/Database.ts
  services/server/src/server/services/utils/database-util.ts
  services/server/src/server/services/utils/proxy-contract-util.ts
  services/server/src/server/services/utils/util.ts
  services/server/src/server/types.ts
  services/server/test/helpers/LocalChainFixture.ts
  services/server/test/helpers/helpers.ts
  services/server/test/integration/apiv2/lookup.spec.ts
  services/server/test/testcontracts/Storage/Storage.json
  services/server/test/unit/utils/proxy-contract-util.spec.ts
Due: run-build-server

Add `v2/contracts/{chainId}` API endpoint (#1857)
  services/server/.mocharc.json
  services/server/package.json
  services/server/src/apiv2.yaml
  services/server/src/common/errors/GenericErrorHandler.ts
  services/server/src/common/interfaces.ts
  services/server/src/server/apiv1/controllers.common.ts
  services/server/src/server/apiv1/deprecated.routes.ts
  services/server/src/server/apiv1/repository/repository.handlers.ts
  services/server/src/server/apiv1/repository/repository.routes.ts
  services/server/src/server/apiv1/routes.ts
  services/server/src/server/apiv1/testartifacts/testartifacts.routes.ts
  services/server/src/server/apiv1/verification/etherscan/session/etherscan.session.routes.ts
  services/server/src/server/apiv1/verification/etherscan/stateless/etherscan.stateless.routes.ts
  services/server/src/server/apiv1/verification/session-state/session-state.routes.ts
  services/server/src/server/apiv1/verification/solc-json/session/solc-json.session.routes.ts
  services/server/src/server/apiv1/verification/solc-json/stateless/solc-json.stateless.routes.ts
  services/server/src/server/apiv1/verification/verify/session/verify.session.routes.ts
  services/server/src/server/apiv1/verification/verify/stateless/verify.stateless.routes.ts
  services/server/src/server/apiv1/verification/vyper/stateless/vyper.stateless.routes.ts
  services/server/src/server/apiv2/errors.ts
  services/server/src/server/apiv2/lookup/lookup.handlers.ts
  services/server/src/server/apiv2/lookup/lookup.routes.ts
  services/server/src/server/apiv2/middlewares.ts
  services/server/src/server/apiv2/routes.ts
  services/server/src/server/common.ts
  services/server/src/server/routes.ts
  services/server/src/server/server.ts
  services/server/src/server/services/StorageService.ts
  services/server/src/server/services/storageServices/RepositoryV1Service.ts
  services/server/src/server/services/storageServices/RepositoryV2Service.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/src/server/services/utils/Database.ts
  services/server/src/server/services/utils/database-util.ts
  services/server/src/server/services/utils/util.ts
  services/server/src/server/types.ts
  services/server/test/helpers/helpers.ts
  services/server/test/integration/apiv1/repository-handlers/files.spec.ts
  services/server/test/integration/apiv2/lookup.spec.ts
Due: run-build-server

Add comment to tests
  packages/lib-sourcify/test/Verification/Verification.spec.ts
Due: run-build-packages

Add Vyper tests in Verification
  packages/lib-sourcify/src/Compilation/SolidityCompilation.ts
  packages/lib-sourcify/src/Verification/Verification.ts
  packages/lib-sourcify/test/Verification/Verification.spec.ts
Due: run-build-packages

Update LICENSE
  LICENSE
Due: none

Remove APIv1 deprecation and remove unimplemented APIv2 paths from openapi.yaml
  services/server/src/openapi.yaml
  services/server/src/server/apiv1/repository/check-all-by-addresses.stateless.paths.yaml
  services/server/src/server/apiv1/repository/check-by-addresses.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-contract-addresses-all.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-contract-addresses-paginated-all.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-contract-addresses-paginated-full.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-contract-addresses-paginated-partial.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-file-static.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-file-tree-all.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-file-tree-full.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-source-files-all.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-source-files-full.stateless.paths.yaml
  services/server/src/server/apiv1/verification/etherscan/session/etherscan.session.paths.yaml
  services/server/src/server/apiv1/verification/etherscan/stateless/etherscan.stateless.paths.yaml
  services/server/src/server/apiv1/verification/session-state/clear.session-state.paths.yaml
  services/server/src/server/apiv1/verification/session-state/data.session-state.paths.yaml
  services/server/src/server/apiv1/verification/session-state/input-contract.session-state.paths.yaml
  services/server/src/server/apiv1/verification/session-state/input-files.session-state.paths.yaml
  services/server/src/server/apiv1/verification/solc-json/session/solc-json.session.paths.yaml
  services/server/src/server/apiv1/verification/solc-json/stateless/solc-json.stateless.paths.yaml
  services/server/src/server/apiv1/verification/verify/session/verify.session.paths.yaml
  services/server/src/server/apiv1/verification/verify/stateless/verify.stateless.paths.yaml
  services/server/src/server/apiv1/verification/vyper/stateless/vyper.stateless.paths.yaml
Due: run-build-server

Add Verifier Alliance database-specs submodule and update README
  .gitmodules
  services/database/README.md
Due: none

Use VerifierAlliance schema from database-specs repo for migrations
  services/database/migrations/20231109160022-create-alliance-schema.js
  services/database/migrations/20240627084509-code-hash-becomes-sha256.js
  services/database/migrations/20240710103541-add-metadata_match.js
  services/database/migrations/20240715152144-add-transformations-constraint.js
  services/database/migrations/20240715154744-add-timestamp-fields.js
  services/database/migrations/20240716160322-metadata_match-nullable.js
  services/database/migrations/20240729112258-compiled_contracts-constraints.js
  services/database/migrations/20240918154734-add-sources-table.js
Due: none

Initialize database submodule in server tests
  services/server/package.json
Due: run-build-server

Remove obsolete migrations and merge Sourcify ones into one
  services/database/migrations/20231109160023-sourcify.js
  services/database/migrations/20240624124246-add-metadata.js
  services/database/migrations/20240710103541-add-metadata_match.js
  services/database/migrations/20240715152144-add-transformations-constraint.js
  services/database/migrations/20240716160322-metadata_match-nullable.js
  services/database/migrations/20240729112258-compiled_contracts-constraints.js
  services/database/migrations/20240924163455-make-compiled_contracts-creation-not-null.js
Due: none

Add comment about down migration
  services/database/migrations/20231109160022-create-alliance-schema.js
Due: none

Reorganize database migrations (#1881)
  .gitmodules
  services/database/README.md
  services/database/migrations/20231109160022-create-alliance-schema.js
  services/database/migrations/20231109160023-sourcify.js
  services/database/migrations/20240624124246-add-metadata.js
  services/database/migrations/20240627084509-code-hash-becomes-sha256.js
  services/database/migrations/20240710103541-add-metadata_match.js
  services/database/migrations/20240715152144-add-transformations-constraint.js
  services/database/migrations/20240715154744-add-timestamp-fields.js
  services/database/migrations/20240716160322-metadata_match-nullable.js
  services/database/migrations/20240729112258-compiled_contracts-constraints.js
  services/database/migrations/20240918154734-add-sources-table.js
  services/database/migrations/20240924163455-make-compiled_contracts-creation-not-null.js
  services/server/package.json
Due: run-build-server

Add Matrix, Discord badges, update Readme content
  README.md
Due: none

Update LICENSE, push to master to receive CI notifications
  LICENSE
Due: none

Update .gitignore
  .gitignore
Due: none
