Repository ethereum/sourcify: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-monitor, run-build-server, run-build-repository, run-build-packages, run-build-ui

Add Citrea Testnet
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

refactor Verification class
  packages/lib-sourcify/src/Compilation/AbstractCompilation.ts
  packages/lib-sourcify/src/Compilation/VyperCompilation.ts
  packages/lib-sourcify/src/Verification/Verification.ts
Due: run-build-packages

Update apiv2 spec to add option to fields and omit parameters
  services/server/src/apiv2.yaml
Due: run-build-server

Add `/v2/contract/{chainId}/{address}?fields=*` option
  services/server/src/server/apiv2/middlewares.ts
  services/server/test/integration/apiv2/lookup.spec.ts
Due: run-build-server

Remove obsolete `encodeURIComponent` calls from tests
  services/server/test/integration/apiv2/lookup.spec.ts
Due: run-build-server

Fix blockscout v2
  services/server/src/sourcify-chains-default.json
Due: run-build-server

Add Citrea Testnet (#1888)
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

Add `/v2/contract/{chainId}/{address}?fields=*` option (#1890)
  services/server/src/apiv2.yaml
  services/server/src/server/apiv2/middlewares.ts
  services/server/test/integration/apiv2/lookup.spec.ts
Due: run-build-server

handle ContructorTransformation
  packages/lib-sourcify/src/Verification/Verification.ts
  packages/lib-sourcify/src/lib/verification.ts
  packages/lib-sourcify/test/Verification/Verification.spec.ts
  packages/lib-sourcify/test/verification.spec.ts
Due: run-build-packages

add comment
  packages/lib-sourcify/test/Verification/Verification.spec.ts
Due: run-build-packages

Fix formatting
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

Fix formatting (#1892)
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

Refactor runtime bytecode matching and add call protection transformation
  packages/lib-sourcify/src/Verification/Verification.ts
Due: run-build-packages

Refactor Verification class to use getter methods and improve encapsulation
  packages/lib-sourcify/src/Verification/Verification.ts
  packages/lib-sourcify/test/Verification/Verification.spec.ts
Due: run-build-packages

Refactor AbstractCompilation to use protected properties and getter methods
  packages/lib-sourcify/src/Compilation/AbstractCompilation.ts
  packages/lib-sourcify/src/Compilation/SolidityCompilation.ts
  packages/lib-sourcify/src/Compilation/VyperCompilation.ts
  packages/lib-sourcify/src/Verification/Verification.ts
  packages/lib-sourcify/test/Compilation/SolidityCompilation.spec.ts
  packages/lib-sourcify/test/Compilation/VyperCompilation.spec.ts
  packages/lib-sourcify/test/Verification/Verification.spec.ts
Due: run-build-packages

Fix not publishing to npm and throw on errors in the bash scripts
  .circleci/scripts/publish_multiarch_images.sh
  .circleci/scripts/publish_to_npm.sh
  .circleci/scripts/test_new_chain_support.sh
Due: none

chore(deps): update dependency cspell to v8.17.3
  package-lock.json
  packages/lib-sourcify/package.json
Due: run-build-packages

chore(deps): update dependency cspell to v8.17.3 (#1894)
  package-lock.json
  packages/lib-sourcify/package.json
Due: run-build-packages

fix(deps): update all minor dependencies
  package-lock.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

Update chains.json
  services/server/src/chains.json
Due: run-build-server

fix(deps): update all minor dependencies (#1895)
  package-lock.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

Add test for Ronin Mainnet
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

Add Ronin network
  services/server/src/sourcify-chains-default.json
Due: run-build-server

Log the fetched bytecode length and first 32 bytes
  packages/lib-sourcify/src/lib/SourcifyChain.ts
Due: run-build-packages

Remove ethpandaops from holesky RPCs
  services/server/src/sourcify-chains-default.json
Due: run-build-server

Add chain 2020: Ronin Mainnet (#1889)
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

Enable writing to VerA on production
  services/server/src/config/master.js
Due: run-build-server

Move check transformation functions into Verification class Refactor project structure and import paths in lib-sourcify
  packages/lib-sourcify/src/Compilation/AbstractCompilation.ts
  packages/lib-sourcify/src/Compilation/SolidityTypes.ts
  packages/lib-sourcify/src/Compilation/VyperCompilation.ts
  packages/lib-sourcify/src/SourcifyChain.ts
  packages/lib-sourcify/src/Validation/SolidityMetadataContract.ts
  packages/lib-sourcify/src/Validation/ValidationTypes.ts
  packages/lib-sourcify/src/Validation/fetchUtils.ts
  packages/lib-sourcify/src/Validation/processFiles.ts
  packages/lib-sourcify/src/Validation/zipUtils.ts
  packages/lib-sourcify/src/Verification/Transformations.ts
  packages/lib-sourcify/src/Verification/Verification.ts
  packages/lib-sourcify/src/index.ts
  packages/lib-sourcify/src/lib/SolidityCheckedContract.ts
  packages/lib-sourcify/src/lib/VyperCheckedContract.ts
  packages/lib-sourcify/src/lib/types.ts
  packages/lib-sourcify/src/lib/utils.ts
  packages/lib-sourcify/src/lib/validation.ts
  packages/lib-sourcify/src/lib/verification.ts
  packages/lib-sourcify/src/logger.ts
  packages/lib-sourcify/test/Verification/Verification.spec.ts
  packages/lib-sourcify/test/compiler/common.ts
  packages/lib-sourcify/test/compiler/solidityCompiler.ts
  packages/lib-sourcify/test/compiler/vyperCompiler.ts
Due: run-build-packages

restore old `verification.ts` tests
  packages/lib-sourcify/src/lib/verification.ts
  packages/lib-sourcify/test/verification.spec.ts
Due: run-build-packages

fix constructor arguments trasformantion tests
  packages/lib-sourcify/src/Verification/Verification.ts
Due: run-build-packages

restore old `types.ts`
  packages/lib-sourcify/src/lib/types.ts
Due: run-build-packages

add VerificationError class
  packages/lib-sourcify/src/SourcifyLibError.ts
  packages/lib-sourcify/src/Verification/Verification.ts
  packages/lib-sourcify/src/Verification/VerificationTypes.ts
Due: run-build-packages

Implement Vyper constructor argument transformation test
  packages/lib-sourcify/test/Verification/Verification.spec.ts
Due: run-build-packages

Pass forceEmscripten option to compilation call
  packages/lib-sourcify/src/Verification/Verification.ts
Due: run-build-packages

Split library map into runtime and creation maps
  packages/lib-sourcify/src/Verification/Verification.ts
  packages/lib-sourcify/test/Verification/Verification.spec.ts
Due: run-build-packages

replace expectMatch with expectVerification
  packages/lib-sourcify/src/Verification/Verification.ts
  packages/lib-sourcify/test/Verification/Verification.spec.ts
  packages/lib-sourcify/test/utils.ts
Due: run-build-packages

fix "should verify a contract with viaIR:true, optimizer disabled, and compiler <0.8.21" test
  packages/lib-sourcify/test/Verification/Verification.spec.ts
Due: run-build-packages

Path conditions:
  run-build-monitor: any of: services/monitor/.*
  run-build-server: any of: services/server/.*
  run-build-repository: any of: h5ai-nginx
  run-build-packages: any of: packages/.*
  run-build-ui: any of: ui/.*
