Repository ethereum/sourcify: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-monitor, run-build-server, run-build-repository, run-build-packages, run-build-ui

Path conditions:
  run-build-monitor: any of: services/monitor/.*
  run-build-server: any of: services/server/.*
  run-build-repository: any of: h5ai-nginx
  run-build-packages: any of: packages/.*
  run-build-ui: any of: ui/.*

add /verify/vyper endpoint
  packages/lib-sourcify/src/index.ts
  packages/lib-sourcify/test/verification.spec.ts
  services/server/src/openapi.yaml
  services/server/src/server/cli.ts
  services/server/src/server/controllers/verification/vyper/stateless/vyper.stateless.handlers.ts
  services/server/src/server/controllers/verification/vyper/stateless/vyper.stateless.paths.yaml
  services/server/src/server/controllers/verification/vyper/stateless/vyper.stateless.routes.ts
  services/server/src/server/controllers/verification/vyper/vyper.routes.ts
  services/server/src/server/routes.ts
  services/server/src/server/server.ts
  services/server/src/server/services/compiler/local/VyperLocal.ts
  services/server/src/server/services/compiler/local/vyperCompiler.ts
Due: run-build-server, run-build-packages

successfully store is database and repository vyper match
  packages/lib-sourcify/src/lib/VyperCheckedContract.ts
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/test/helpers/ServerFixture.ts
  services/server/test/integration/verification-handlers/verify.stateless.spec.ts
  services/server/test/sources/vyper/contract/artifact.json
  services/server/test/sources/vyper/contract/test.vy
Due: run-build-server, run-build-packages

Don't run debugger on non-".ts" files
  .vscode/launch.json
Due: none

dynamically download the vyper compiler
  packages/lib-sourcify/src/lib/VyperCheckedContract.ts
  services/server/src/config/default.js
  services/server/src/config/master.js
  services/server/src/config/migration.js
  services/server/src/config/staging.js
  services/server/src/server/cli.ts
  services/server/src/server/controllers/verification/vyper/stateless/vyper.stateless.handlers.ts
  services/server/src/server/server.ts
  services/server/src/server/services/compiler/local/VyperLocal.ts
  services/server/src/server/services/compiler/local/common.ts
  services/server/src/server/services/compiler/local/solidityCompiler.ts
  services/server/src/server/services/compiler/local/vyperCompiler.ts
  services/server/test/helpers/ServerFixture.ts
  services/server/test/integration/verification-handlers/verify.stateless.spec.ts
  services/server/test/sources/vyper/contract/artifact.json
Due: run-build-server, run-build-packages

fix lib-sourcify-tests
  packages/lib-sourcify/test/compiler/common.ts
  packages/lib-sourcify/test/compiler/solidityCompiler.ts
  packages/lib-sourcify/test/compiler/vyperCompiler.ts
  packages/lib-sourcify/test/sources/Vyper/contract/artifact.json
  packages/lib-sourcify/test/utils.ts
  packages/lib-sourcify/test/verification.spec.ts
Due: run-build-packages

Don't run debugger on non-".ts" files (#1758)
  .vscode/launch.json
Due: none

enable all tests in server
  services/server/test/integration/verification-handlers/verify.stateless.spec.ts
Due: run-build-server

improve comments for IVyperCompiler
  packages/lib-sourcify/src/lib/IVyperCompiler.ts
Due: run-build-packages

chore(deps): update all patch dependencies
  package-lock.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  services/database/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

chore(deps): update all patch dependencies (#1765)
  package-lock.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  services/database/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

fix(deps): update dependency @aws-sdk/client-s3 to v3.705.0
  package-lock.json
  services/server/package.json
Due: run-build-server

Renamed and Enabled Kaia mainnet
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

Update chains.json
  services/server/src/chains.json
Due: run-build-server

fix(deps): update dependency @aws-sdk/client-s3 to v3.705.0 (#1766)
  package-lock.json
  services/server/package.json
Due: run-build-server

fix pr suggestions
  packages/lib-sourcify/README.md
  packages/lib-sourcify/src/lib/AbstractCheckedContract.ts
  packages/lib-sourcify/src/lib/ISolidityCompiler.ts
  packages/lib-sourcify/src/lib/IVyperCompiler.ts
  packages/lib-sourcify/src/lib/SolidityCheckedContract.ts
  packages/lib-sourcify/src/lib/VyperCheckedContract.ts
  packages/lib-sourcify/src/lib/types.ts
  packages/lib-sourcify/src/lib/verification.ts
  packages/lib-sourcify/test/compiler/solidityCompiler.ts
  packages/lib-sourcify/test/compiler/vyperCompiler.ts
  packages/lib-sourcify/test/utils.ts
  services/server/src/server/controllers/verification/vyper/stateless/vyper.stateless.handlers.ts
  services/server/src/server/services/compiler/lambda-with-fallback/SolcLambdaWithLocalFallback.ts
  services/server/src/server/services/compiler/lambda/SolcLambda.ts
  services/server/src/server/services/compiler/local/SolcLocal.ts
  services/server/src/server/services/compiler/local/VyperLocal.ts
  services/server/src/server/services/compiler/local/solidityCompiler.ts
  services/server/src/server/services/compiler/local/vyperCompiler.ts
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/test/integration/verification-handlers/verify.stateless.spec.ts
Due: run-build-server, run-build-packages

feat: adding chain id 1516 to sourcify
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
  services/server/test/chains/sources/1516/1_Storage.metadata.json
  services/server/test/chains/sources/1516/1_Storage.sol
Due: run-build-server

Remove unused test files
  services/server/test/chains/sources/1516/1_Storage.metadata.json
  services/server/test/chains/sources/1516/1_Storage.sol
Due: run-build-server

rename checkFiles to CheckFilesWithMetadata
  packages/lib-sourcify/README.md
  packages/lib-sourcify/src/lib/validation.ts
  packages/lib-sourcify/test/utils.ts
  packages/lib-sourcify/test/verification.spec.ts
  services/server/src/server/controllers/verification/solc-json/stateless/solc-json.stateless.handlers.ts
  services/server/src/server/controllers/verification/verification.common.ts
  services/server/src/server/controllers/verification/verify/stateless/verify.stateless.handlers.ts
Due: run-build-server, run-build-packages

rename useCompiler to useSolidityCompiler
  packages/lib-sourcify/test/compiler/solidityCompiler.ts
  packages/lib-sourcify/test/functions.spec.ts
  packages/lib-sourcify/test/utils.ts
  serverless/compiler-lambda/index.js
  services/server/src/server/controllers/verification/etherscan/etherscan.common.ts
  services/server/src/server/services/compiler/local/SolcLocal.ts
  services/server/src/server/services/compiler/local/common.ts
  services/server/src/server/services/compiler/local/solidityCompiler.ts
  services/server/src/server/services/compiler/local/vyperCompiler.ts
Due: run-build-server, run-build-packages

fix pr suggestions
  packages/lib-sourcify/src/lib/types.ts
  services/server/src/server/controllers/verification/vyper/stateless/vyper.stateless.handlers.ts
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
Due: run-build-server, run-build-packages

Add cors options for local IPs
  services/server/src/config/default.js
Due: run-build-server

fix: blockscout url
  services/server/src/sourcify-chains-default.json
Due: run-build-server

feat: adding chain id 1516 to sourcify (#1771)
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

Update chains.json (#1773)
  services/server/src/chains.json
Due: run-build-server

Updated name
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

Renamed and Enabled Kaia mainnet (#1767)
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

Finalize vyper api: openapi spec + error handling
  services/server/src/server/controllers/verification/vyper/stateless/vyper.stateless.handlers.ts
  services/server/src/server/controllers/verification/vyper/stateless/vyper.stateless.paths.yaml
Due: run-build-server

Finalize vyper API: OpenAPI spec + error handling (#1774)
  services/server/src/server/controllers/verification/vyper/stateless/vyper.stateless.handlers.ts
  services/server/src/server/controllers/verification/vyper/stateless/vyper.stateless.paths.yaml
Due: run-build-server

fix(deps): update all patch dependencies
  package-lock.json
  package.json
  packages/lib-sourcify/package.json
  services/database/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

fix(deps): update all patch dependencies (#1775)
  package-lock.json
  package.json
  packages/lib-sourcify/package.json
  services/database/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

Only log Vyper downloaded on success
  packages/lib-sourcify/test/compiler/vyperCompiler.ts
  services/server/src/server/services/compiler/local/vyperCompiler.ts
Due: run-build-server, run-build-packages

add architecture checks for vyper compiler on mac and improve logging
  packages/lib-sourcify/test/compiler/vyperCompiler.ts
  services/server/src/server/services/compiler/local/vyperCompiler.ts
Due: run-build-server, run-build-packages

Improve platform architecture management for Vyper compiler (#1776)
  packages/lib-sourcify/test/compiler/vyperCompiler.ts
  services/server/src/server/services/compiler/local/vyperCompiler.ts
Due: run-build-server, run-build-packages

Add lib-sourcify tests for Vyper support
  packages/lib-sourcify/test/functions.spec.ts
  packages/lib-sourcify/test/sources/Vyper/testcontract/artifact.json
  packages/lib-sourcify/test/sources/Vyper/testcontract/test.vy
  packages/lib-sourcify/test/sources/Vyper/testcontract2/artifact.json
  packages/lib-sourcify/test/sources/Vyper/testcontract2/test.vy
  packages/lib-sourcify/test/utils.ts
  packages/lib-sourcify/test/verification.spec.ts
Due: run-build-packages

Update changelogs
  CHANGELOG.md
  packages/bytecode-utils/CHANGELOG.md
  packages/lib-sourcify/CHANGELOG.md
  services/database/CHANGELOG.md
  services/monitor/CHANGELOG.md
  services/server/CHANGELOG.md
Due: run-build-monitor, run-build-server, run-build-packages
