Repository ethereum/sourcify: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-monitor, run-build-server, run-build-repository, run-build-packages, run-build-ui

Path conditions:
  run-build-monitor: any of: services/monitor/.*
  run-build-server: any of: services/server/.*
  run-build-repository: any of: h5ai-nginx
  run-build-packages: any of: packages/.*
  run-build-ui: any of: ui/.*

Add error handling for unparsable IPFS_GATEWAY_HEADERS
  packages/lib-sourcify/src/lib/CheckedContract.ts
  packages/lib-sourcify/test/functions.spec.ts
Due: run-build-packages

Update sync script
  services/database/scripts.mjs
Due: none

fix should performfetch test
  packages/lib-sourcify/test/functions.spec.ts
Due: run-build-packages

fix "Should fail performFetch because mismatching keccak256" test
  packages/lib-sourcify/test/functions.spec.ts
Due: run-build-packages

remove .only from lib-sourcify tests
  packages/lib-sourcify/test/functions.spec.ts
Due: run-build-packages

add nock to test ipfs gateway headers
  package-lock.json
  packages/lib-sourcify/package.json
  packages/lib-sourcify/src/lib/utils.ts
  packages/lib-sourcify/test/functions.spec.ts
Due: run-build-packages

make sure to return IpfsGateway with trailing slash, add IPFS_GATEWAY_HEADERS to .env.dev
  packages/lib-sourcify/src/lib/CheckedContract.ts
  services/server/.env.dev
Due: run-build-server, run-build-packages

Log according to GCP severity format if running on GCP
  services/server/src/common/logger.ts
Due: run-build-server

Add support for headers to IPFS Gateways
  packages/lib-sourcify/README.md
  packages/lib-sourcify/src/lib/CheckedContract.ts
  packages/lib-sourcify/src/lib/types.ts
  packages/lib-sourcify/src/lib/utils.ts
  packages/lib-sourcify/test/functions.spec.ts
  services/server/src/server/controllers/verification/session-state/session-state.handlers.ts
Due: run-build-server, run-build-packages

add default `sourcifyRequestOptions` config
  services/monitor/src/defaultConfig.js
Due: run-build-monitor

fix typo in readme
  services/monitor/README.md
Due: run-build-monitor

Add sourcify request retry mechanism in Monitor
  services/monitor/README.md
  services/monitor/src/ChainMonitor.ts
  services/monitor/src/types.ts
  services/monitor/test/Monitor.spec.ts
Due: run-build-monitor

Extract requestId from cloud-trace-context header of GCP for tracing
  services/server/src/server/server.ts
Due: run-build-server

Use traceparent instead of x-cloud-trace-context, replace `requestId` with `traceId` everywhere
  services/server/src/common/async-context.ts
  services/server/src/common/logger.ts
  services/server/src/server/server.ts
Due: run-build-server

Fix GCP log tracing format
  services/server/src/common/logger.ts
Due: run-build-server

Try other GCP env vars to get project-id
  services/server/src/common/logger.ts
Due: run-build-server

Add fallback and .env entry for project-id for log tracing
  services/server/.env.dev
  services/server/src/common/logger.ts
Due: run-build-server

Move /repository endpoint upwards in the API doc
  services/server/src/openapi.yaml
Due: run-build-server

Improve logging for creatorTxHash
  packages/lib-sourcify/src/lib/verification.ts
  services/server/src/server/services/utils/contract-creation-util.ts
Due: run-build-server, run-build-packages

Store found creatorTxHash even if getContractCreationBytecodeAndReceipt fails
  package-lock.json
  services/server/.mocharc.json
  services/server/package.json
  services/server/src/server/services/VerificationService.ts
  services/server/test/integration/verification-handlers/verify.stateless.spec.ts
  services/server/test/root-hooks.js
Due: run-build-server

Update sync script (#1563)
  services/database/scripts.mjs
Due: none

Document how to verify deprecated chains in the script
  services/database/README.md
Due: none

fix typo
  services/database/README.md
Due: none

Document how to verify deprecated chains in the script (#1576)
  services/database/README.md
Due: none

Update all patch dependencies
  package-lock.json
  packages/lib-sourcify/package.json
  services/monitor/package.json
  services/server/package.json
  ui/Dockerfile
  ui/package.json
Due: run-build-monitor, run-build-server, run-build-packages, run-build-ui

Update README.md
  README.md
Due: none
