Repository ethereum/sourcify: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-monitor, run-build-server, run-build-repository, run-build-packages, run-build-ui

Improve error handling for lib-sourcify
  packages/lib-sourcify/src/Compilation/AbstractCompilation.ts
  packages/lib-sourcify/src/Compilation/CompilationTypes.ts
  packages/lib-sourcify/src/Compilation/SolidityCompilation.ts
  packages/lib-sourcify/src/Compilation/VyperCompilation.ts
  packages/lib-sourcify/src/SourcifyLibError.ts
  packages/lib-sourcify/src/Verification/Verification.ts
  packages/lib-sourcify/src/Verification/VerificationTypes.ts
  packages/lib-sourcify/src/index.ts
  packages/lib-sourcify/test/Compilation/VyperCompilation.spec.ts
  packages/lib-sourcify/test/Verification/Verification.spec.ts
Due: run-build-packages

Update API v2 spec
  services/server/src/apiv2.yaml
Due: run-build-server

Add verificationWorker to server
  package-lock.json
  services/server/package.json
  services/server/src/server/apiv2/errors.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/src/server/services/workers/verificationWorker.ts
  services/server/test/integration/apiv2/jobs.spec.ts
Due: run-build-server

Update apiv2 spec
  services/server/src/apiv2.yaml
Due: run-build-server

Shutdown workers gracefully
  services/server/src/server/server.ts
  services/server/src/server/services/StorageService.ts
  services/server/src/server/services/VerificationService.ts
  services/server/src/server/services/services.ts
  services/server/test/helpers/ServerFixture.ts
Due: run-build-server

Use default contract for all tests
  services/server/test/integration/apiv2/verification/verify.json.spec.ts
Due: run-build-server

Update packages/lib-sourcify/src/Validation/variationsUtils.ts
  packages/lib-sourcify/src/Validation/variationsUtils.ts
Due: run-build-packages

rename getVariationsByContentHash
  packages/lib-sourcify/src/Validation/SolidityMetadataContract.ts
Due: run-build-packages

Update packages/lib-sourcify/src/Validation/SolidityMetadataContract.ts
  packages/lib-sourcify/src/Validation/SolidityMetadataContract.ts
Due: run-build-packages

fix pr comments
  packages/lib-sourcify/src/Validation/SolidityMetadataContract.ts
  packages/lib-sourcify/src/Validation/ValidationTypes.ts
  packages/lib-sourcify/src/Validation/variationsUtils.ts
Due: run-build-packages

Implement `tryToFindPerfectMetadata` in `SolidityMetadataContract` (#2039)
  packages/lib-sourcify/src/Validation/SolidityMetadataContract.ts
  packages/lib-sourcify/src/Validation/ValidationTypes.ts
  packages/lib-sourcify/src/Validation/hashFunctions/ipfsHash.ts
  packages/lib-sourcify/src/Validation/hashFunctions/swarmHash.ts
  packages/lib-sourcify/src/Validation/variationsUtils.ts
  packages/lib-sourcify/src/Verification/Verification.ts
  packages/lib-sourcify/test/Verification/Verification.spec.ts
  packages/lib-sourcify/test/sources/ContractWithVariatedSources/artifact.json
  packages/lib-sourcify/test/sources/ContractWithVariatedSources/metadata.json
  packages/lib-sourcify/test/sources/ContractWithVariatedSources/sources/TheGraphGreeter.sol
Due: run-build-packages

use mocked data in upgadeContract
  services/server/src/server/apiv1/verification/private/stateless/private.stateless.handlers.ts
Due: run-build-server

Add upgrade endpoint to fix misaligned data
  services/server/src/server/apiv1/verification/private/private.routes.ts
  services/server/src/server/apiv1/verification/private/stateless/private.stateless.handlers.ts
  services/server/src/server/apiv1/verification/private/stateless/private.stateless.paths.yaml
  services/server/src/server/apiv1/verification/private/stateless/private.stateless.routes.ts
Due: run-build-server

Address PR feedback
  services/server/src/server/apiv2/verification/verification.handlers.ts
  services/server/src/server/server.ts
  services/server/src/server/services/VerificationService.ts
  services/server/src/server/services/workers/verificationWorker.ts
  services/server/src/server/services/workers/workerTypes.ts
Due: run-build-server

Add comment to workerTypes
  services/server/src/server/services/workers/workerTypes.ts
Due: run-build-server

Fix `upgradeContract` handler
  package-lock.json
  services/server/src/openapi.yaml
  services/server/src/server/apiv1/routes.ts
  services/server/src/server/apiv1/verification/private/stateless/private.stateless.handlers.ts
  services/server/src/server/apiv1/verification/private/stateless/private.stateless.paths.yaml
  services/server/src/server/apiv1/verification/private/stateless/private.stateless.routes.ts
  services/server/src/server/cli.ts
  services/server/src/server/server.ts
Due: run-build-server

fix tests
  services/server/test/helpers/ServerFixture.ts
Due: run-build-server

fix deprecated-chain endpoints
  services/database/README.md
  services/database/scripts.mjs
  services/server/src/server/apiv1/verification/private/stateless/private.stateless.paths.yaml
  services/server/src/server/apiv1/verification/verify/stateless/verify.stateless.paths.yaml
  services/server/src/server/apiv1/verification/verify/stateless/verify.stateless.routes.ts
  services/server/test/helpers/ServerFixture.ts
  services/server/test/integration/apiv1/verification-handlers/verify.stateless.spec.ts
Due: run-build-server

fix(deps): update all patch and minor dependencies
  package-lock.json
  packages/bytecode-utils/package.json
  packages/compilers/package.json
  packages/lib-sourcify/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

fix(deps): update all patch and minor dependencies (#2044)
  package-lock.json
  packages/bytecode-utils/package.json
  packages/compilers/package.json
  packages/lib-sourcify/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

fix PR comments
  package-lock.json
  services/server/src/config/default.js
  services/server/src/config/master.js
  services/server/src/config/staging.js
  services/server/src/server/apiv1/verification/private/stateless/private.stateless.handlers.ts
Due: run-build-server

Hide /private/** endpoints behind private sourcify token
  services/server/.env.dev
  services/server/README.md
  services/server/src/openapi.yaml
  services/server/src/server/apiv1/verification/private/stateless/private.stateless.paths.yaml
  services/server/src/server/cli.ts
  services/server/src/server/routes.ts
  services/server/src/server/server.ts
Due: run-build-server

Add error codes to validation via `SolidityMetadataContract`
  packages/lib-sourcify/src/SourcifyLibError.ts
  packages/lib-sourcify/src/Validation/SolidityMetadataContract.ts
  packages/lib-sourcify/src/Validation/ValidationTypes.ts
Due: run-build-packages

Add POST `/verify/metadata/:chainId/:address` endpoint
  services/server/src/server/apiv2/middlewares.ts
  services/server/src/server/apiv2/verification/verification.handlers.ts
  services/server/src/server/apiv2/verification/verification.routes.ts
  services/server/test/helpers/LocalChainFixture.ts
  services/server/test/integration/apiv2/verification/verify.metadata.spec.ts
Due: run-build-server

Add `verifyFromMetadata` function to `verificationWorker`
  services/server/src/server/services/workers/verificationWorker.ts
  services/server/src/server/services/workers/workerTypes.ts
Due: run-build-server

Enable metadata verification endpoint in openapi.yaml
  services/server/src/openapi.yaml
Due: run-build-server

Add `verifyFromMetadataViaWorker` to `VerificationService`
  services/server/src/server/services/VerificationService.ts
Due: run-build-server

Add tests for POST /v2/verify/metadata endpoint
  services/server/test/helpers/LocalChainFixture.ts
  services/server/test/integration/apiv1/verification-handlers/verify.session.spec.ts
  services/server/test/integration/apiv1/verification-handlers/verify.stateless.spec.ts
  services/server/test/integration/apiv2/verification/verify.metadata.spec.ts
Due: run-build-server

Add tests for `verificationWorker`
  services/server/src/server/services/workers/verificationWorker.ts
  services/server/test/testcontracts/Storage/StorageJsonInput.json
  services/server/test/unit/verificationWorker.spec.ts
Due: run-build-server

Add dummy sourcify private token in tests
  services/server/test/helpers/ServerFixture.ts
  services/server/test/integration/apiv1/verification-handlers/verify.stateless.spec.ts
Due: run-build-server

remove rate limiter
  services/server/README.md
  services/server/src/config/default.js
  services/server/src/config/master.js
  services/server/src/config/migration.js
  services/server/src/config/staging.js
  services/server/src/server/cli.ts
  services/server/src/server/server.ts
  services/server/test/helpers/ServerFixture.ts
Due: run-build-server

Upgrade contract private endpoint (#2042)
  package-lock.json
  services/database/README.md
  services/database/scripts.mjs
  services/server/.env.dev
  services/server/README.md
  services/server/src/config/default.js
  services/server/src/config/master.js
  services/server/src/config/staging.js
  services/server/src/openapi.yaml
  services/server/src/server/apiv1/routes.ts
  services/server/src/server/apiv1/verification/private/private.routes.ts
  services/server/src/server/apiv1/verification/private/stateless/private.stateless.handlers.ts
  services/server/src/server/apiv1/verification/private/stateless/private.stateless.paths.yaml
  services/server/src/server/apiv1/verification/private/stateless/private.stateless.routes.ts
  services/server/src/server/apiv1/verification/verify/stateless/verify.stateless.routes.ts
  services/server/src/server/cli.ts
  services/server/src/server/routes.ts
  services/server/src/server/server.ts
  services/server/test/helpers/ServerFixture.ts
  services/server/test/integration/apiv1/verification-handlers/verify.stateless.spec.ts
Due: run-build-server

Add `updated_at` column and trigger to `sourcify_matches`
  services/database/migrations/20231109160023-sourcify.js
Due: none

udate dune script to include updated_at
  services/database/dune/DuneDataClient.ts
  services/database/dune/DuneTableClient.ts
  services/database/pg-types.ts
Due: none

Add `updated_at` column and trigger to `sourcify_matches` (#2047)
  services/database/dune/DuneDataClient.ts
  services/database/dune/DuneTableClient.ts
  services/database/migrations/20231109160023-sourcify.js
  services/database/pg-types.ts
Due: none

remove `express-rate-limit` from dependencies
  package-lock.json
  services/server/package.json
Due: run-build-server

Remove rate limiter (#2046)
  package-lock.json
  services/server/README.md
  services/server/package.json
  services/server/src/config/default.js
  services/server/src/config/master.js
  services/server/src/config/migration.js
  services/server/src/config/staging.js
  services/server/src/server/cli.ts
  services/server/src/server/server.ts
  services/server/test/helpers/ServerFixture.ts
Due: run-build-server

WIP: Fix partial verification when there is no onchain auxdata but recompiled auxdata
  packages/lib-sourcify/src/Verification/Verification.ts
  packages/lib-sourcify/test/Verification/Verification.spec.ts
Due: run-build-packages

Path conditions:
  run-build-monitor: any of: services/monitor/.*
  run-build-server: any of: services/server/.*
  run-build-repository: any of: h5ai-nginx
  run-build-packages: any of: packages/.*
  run-build-ui: any of: ui/.*
