Repository ethereum/sourcify: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-monitor, run-build-server, run-build-repository, run-build-packages, run-build-ui

Fix server Dockerfile to use node command directly
  services/server/Dockerfile
Due: run-build-server

Add docker-compose.local.yaml
  services/database/database.json
  services/server/README.md
  services/server/docker-compose.local.yml
Due: run-build-server

Revert "Disable v2 verification and job status endpoints and do not run Piscina workers (#2061)" (#2069)
  services/server/src/openapi.yaml
  services/server/src/server/apiv2/jobs/jobs.routes.ts
  services/server/src/server/apiv2/verification/verification.routes.ts
  services/server/src/server/services/VerificationService.ts
  services/server/test/integration/apiv2/jobs.spec.ts
  services/server/test/integration/apiv2/verification/verify.json.spec.ts
Due: run-build-server

Fix SIGTERM handling of server containers (#2070)
  services/database/database.json
  services/server/Dockerfile
  services/server/README.md
  services/server/docker-compose.local.yml
Due: run-build-server

Revert changes to chains.json
  services/server/src/chains.json
Due: run-build-server

Update URL of Syscoin Testnet Tanenbaum explorer (chain 5700). (#2050)
  services/server/src/sourcify-chains-default.json
Due: run-build-server

Make error parameters of `SourcifyLibError` type safe
  packages/lib-sourcify/src/Compilation/AbstractCompilation.ts
  packages/lib-sourcify/src/Compilation/CompilationTypes.ts
  packages/lib-sourcify/src/Compilation/SolidityCompilation.ts
  packages/lib-sourcify/src/Compilation/VyperCompilation.ts
  packages/lib-sourcify/src/SourcifyLibError.ts
  packages/lib-sourcify/src/Validation/SolidityMetadataContract.ts
  packages/lib-sourcify/src/Validation/ValidationTypes.ts
  packages/lib-sourcify/src/Verification/Verification.ts
  packages/lib-sourcify/src/Verification/VerificationTypes.ts
  packages/lib-sourcify/test/Validation/SolidityMetadataContract.spec.ts
  services/server/src/server/apiv2/errors.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/src/server/services/workers/verificationWorker.ts
  services/server/test/integration/apiv2/jobs.spec.ts
  services/server/test/unit/verificationWorker.spec.ts
Due: run-build-server, run-build-packages

Add error_data field to verification job and refactor error handling for enabling parameter-customized errors
  services/database/migrations/20231109160023-sourcify.js
  services/server/src/server/apiv2/errors.ts
  services/server/src/server/services/StorageService.ts
  services/server/src/server/services/VerificationService.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/src/server/services/utils/Database.ts
  services/server/src/server/services/utils/database-util.ts
  services/server/src/server/services/workers/verificationWorker.ts
  services/server/src/server/services/workers/workerTypes.ts
  services/server/test/integration/apiv2/jobs.spec.ts
  services/server/test/unit/verificationWorker.spec.ts
Due: run-build-server

Move apiv1/verification/etherscan/etherscan.commmon.ts to services/utils/etherscan-utils.ts
  services/server/src/server/apiv1/verification/etherscan/session/etherscan.session.handlers.ts
  services/server/src/server/apiv1/verification/etherscan/stateless/etherscan.stateless.handlers.ts
  services/server/src/server/services/utils/etherscan-utils.ts
Due: run-build-server

wip
  services/server/src/server/apiv2/verification/verification.handlers.ts
  services/server/src/server/apiv2/verification/verification.routes.ts
Due: run-build-server

Refactor logger configuration
  services/server/src/common/logger.ts
  services/server/src/server/cli.ts
  services/server/src/server/server.ts
Due: run-build-server

update lib-sourcify documentation
  packages/lib-sourcify/README.md
Due: run-build-packages

Improved type safety and clarity for SourcifyChainExtension with headerEnvName
  services/server/src/sourcify-chains.ts
Due: run-build-server

Add Hoodi to sorted Ethereum chains, sort others by name instead of chainId
  services/server/src/sourcify-chain-repository.ts
Due: run-build-server

Fixes `compiler-types` to work in the browser projects
  packages/compilers-types/LICENSE
  packages/compilers-types/package.json
  packages/compilers-types/tsconfig.module.json
Due: run-build-packages

Update packages/compilers-types/LICENSE
  packages/compilers-types/LICENSE
Due: run-build-packages

Added chain 5330: Superseed Mainnet
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

fix(deps): update all patch and minor dependencies
  .circleci/config.yml
  .circleci/continue_config.yml
  package-lock.json
  package.json
  packages/bytecode-utils/package.json
  packages/compilers-types/package.json
  packages/compilers/package.json
  packages/lib-sourcify/package.json
  services/database/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

add aderachain
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

Added chain 5330: Superseed Mainnet (#2080)
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

Update services/server/src/server/server.ts
  services/server/src/server/server.ts
Due: run-build-server

Add compilers logger level configuration to server
  services/server/src/server/server.ts
Due: run-build-server

Remove environment variables from lib-sourcify (#2058)
  packages/lib-sourcify/README.md
  packages/lib-sourcify/src/SourcifyChain/SourcifyChain.ts
  packages/lib-sourcify/src/SourcifyChain/SourcifyChainTypes.ts
  packages/lib-sourcify/src/Validation/SolidityMetadataContract.ts
  packages/lib-sourcify/src/Validation/fetchUtils.ts
  packages/lib-sourcify/src/index.ts
  packages/lib-sourcify/src/logger.ts
  packages/lib-sourcify/test/Validation/fetchUtils.spec.ts
  services/monitor/src/Monitor.ts
  services/monitor/test/Monitor.spec.ts
  services/server/src/common/logger.ts
  services/server/src/server/apiv1/verification/session-state/session-state.handlers.ts
  services/server/src/server/cli.ts
  services/server/src/server/server.ts
  services/server/src/sourcify-chains.ts
  services/server/test/helpers/LocalChainFixture.ts
Due: run-build-monitor, run-build-server, run-build-packages

Add error codes to validation via `SolidityMetadataContract`
  packages/lib-sourcify/src/SourcifyLibError.ts
  packages/lib-sourcify/src/Validation/SolidityMetadataContract.ts
  packages/lib-sourcify/src/Validation/ValidationTypes.ts
Due: run-build-packages

Add `verifyFromMetadata` function to `verificationWorker`
  services/server/src/server/services/workers/verificationWorker.ts
  services/server/src/server/services/workers/workerTypes.ts
Due: run-build-server

Add tests for POST /v2/verify/metadata endpoint
  services/server/test/helpers/LocalChainFixture.ts
  services/server/test/integration/apiv1/verification-handlers/verify.session.spec.ts
  services/server/test/integration/apiv1/verification-handlers/verify.stateless.spec.ts
  services/server/test/integration/apiv2/verification/verify.metadata.spec.ts
Due: run-build-server

Enable metadata verification endpoint in openapi.yaml
  services/server/src/openapi.yaml
Due: run-build-server

Add `verifyFromMetadataViaWorker` to `VerificationService`
  services/server/src/server/services/VerificationService.ts
Due: run-build-server

Add POST `/verify/metadata/:chainId/:address` endpoint
  services/server/src/server/apiv2/middlewares.ts
  services/server/src/server/apiv2/verification/verification.handlers.ts
  services/server/src/server/apiv2/verification/verification.routes.ts
  services/server/test/helpers/LocalChainFixture.ts
  services/server/test/integration/apiv2/verification/verify.metadata.spec.ts
Due: run-build-server

Improve error logging and messages for `SolidityMetadataContract`
  packages/lib-sourcify/src/SourcifyLibError.ts
  packages/lib-sourcify/src/Validation/SolidityMetadataContract.ts
  packages/lib-sourcify/src/Validation/ValidationTypes.ts
  services/server/test/unit/verificationWorker.spec.ts
Due: run-build-server, run-build-packages

Use structuredClone on jsonInput and metadata in lib-sourcify
  packages/lib-sourcify/src/Compilation/AbstractCompilation.ts
  packages/lib-sourcify/src/Compilation/SolidityCompilation.ts
  packages/lib-sourcify/src/Compilation/VyperCompilation.ts
  packages/lib-sourcify/src/Validation/SolidityMetadataContract.ts
  services/server/test/unit/verificationWorker.spec.ts
Due: run-build-server, run-build-packages

Use structuredClone in verificationWorker unit tests
  services/server/test/unit/verificationWorker.spec.ts
Due: run-build-server

Simplify local test commands
  services/server/package.json
Due: run-build-server

Add tests for `verificationWorker`
  services/server/src/server/services/workers/verificationWorker.ts
  services/server/test/testcontracts/Storage/StorageJsonInput.json
  services/server/test/unit/verificationWorker.spec.ts
Due: run-build-server

Fix SolidityMetadataContract tests
  packages/lib-sourcify/test/Validation/SolidityMetadataContract.spec.ts
Due: run-build-packages

Fix CI test commands
  .circleci/continue_config.yml
  .circleci/new_branch.yml
Due: none

Path conditions:
  run-build-monitor: any of: services/monitor/.*
  run-build-server: any of: services/server/.*
  run-build-repository: any of: h5ai-nginx
  run-build-packages: any of: packages/.*
  run-build-ui: any of: ui/.*
