Repository ethereum/sourcify: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-monitor, run-build-server, run-build-repository, run-build-packages, run-build-ui

Path conditions:
  run-build-monitor: any of: services/monitor/.*
  run-build-server: any of: services/server/.*
  run-build-repository: any of: h5ai-nginx
  run-build-packages: any of: packages/.*
  run-build-ui: any of: ui/.*

Update URL of Syscoin Testnet Tanenbaum explorer (chain 5700).
  services/server/src/chains.json
  services/server/src/sourcify-chains-default.json
Due: run-build-server

Add `compilers-types` package
  package-lock.json
  packages/compilers-types/.gitignore
  packages/compilers-types/package.json
  packages/compilers-types/src/CompilationTypes.ts
  packages/compilers-types/src/SolidityTypes.ts
  packages/compilers-types/src/VyperTypes.ts
  packages/compilers-types/src/index.ts
  packages/compilers-types/tsconfig.json
  packages/compilers/package.json
  packages/compilers/src/lib/solidityCompiler.ts
  packages/compilers/src/lib/vyperCompiler.ts
  packages/lib-sourcify/package.json
  packages/lib-sourcify/src/Compilation/AbstractCompilation.ts
  packages/lib-sourcify/src/Compilation/CompilationTypes.ts
  packages/lib-sourcify/src/Compilation/SolidityCompilation.ts
  packages/lib-sourcify/src/Compilation/VyperCompilation.ts
  packages/lib-sourcify/src/Validation/SolidityMetadataContract.ts
  packages/lib-sourcify/src/Validation/processFiles.ts
  packages/lib-sourcify/src/Verification/Transformations.ts
  packages/lib-sourcify/src/Verification/Verification.ts
  packages/lib-sourcify/src/Verification/VerificationTypes.ts
  packages/lib-sourcify/src/index.ts
  packages/lib-sourcify/test/Compilation/SolidityCompilation.spec.ts
  packages/lib-sourcify/test/Validation/SolidityMetadataContract.spec.ts
  packages/lib-sourcify/test/Verification/Verification.spec.ts
  packages/lib-sourcify/test/utils.ts
Due: run-build-packages

Fix SolidityMetadataContract tests
  packages/lib-sourcify/test/Validation/SolidityMetadataContract.spec.ts
Due: run-build-packages

fix package name and add it in the release scripts
  .circleci/scripts/publish_to_npm.sh
  package-lock.json
  packages/compilers-types/package.json
  packages/compilers/package.json
  packages/compilers/src/lib/solidityCompiler.ts
  packages/compilers/src/lib/vyperCompiler.ts
  packages/lib-sourcify/package.json
  packages/lib-sourcify/src/Compilation/AbstractCompilation.ts
  packages/lib-sourcify/src/Compilation/CompilationTypes.ts
  packages/lib-sourcify/src/Compilation/SolidityCompilation.ts
  packages/lib-sourcify/src/Compilation/VyperCompilation.ts
  packages/lib-sourcify/src/Validation/SolidityMetadataContract.ts
  packages/lib-sourcify/src/Validation/processFiles.ts
  packages/lib-sourcify/src/Verification/Transformations.ts
  packages/lib-sourcify/src/Verification/Verification.ts
  packages/lib-sourcify/src/Verification/VerificationTypes.ts
  packages/lib-sourcify/src/index.ts
  packages/lib-sourcify/test/Compilation/SolidityCompilation.spec.ts
  packages/lib-sourcify/test/Validation/SolidityMetadataContract.spec.ts
  packages/lib-sourcify/test/Verification/Verification.spec.ts
  packages/lib-sourcify/test/utils.ts
  scripts/release/release.sh
Due: run-build-packages

Fix CI test commands
  .circleci/continue_config.yml
  .circleci/new_branch.yml
Due: none

Use structuredClone in verificationWorker unit tests
  services/server/test/unit/verificationWorker.spec.ts
Due: run-build-server

Simplify local test commands
  services/server/package.json
Due: run-build-server

Add `compilers-types` package (#2051)
  .circleci/scripts/publish_to_npm.sh
  package-lock.json
  packages/compilers-types/.gitignore
  packages/compilers-types/package.json
  packages/compilers-types/src/CompilationTypes.ts
  packages/compilers-types/src/SolidityTypes.ts
  packages/compilers-types/src/VyperTypes.ts
  packages/compilers-types/src/index.ts
  packages/compilers-types/tsconfig.json
  packages/compilers/package.json
  packages/compilers/src/lib/solidityCompiler.ts
  packages/compilers/src/lib/vyperCompiler.ts
  packages/lib-sourcify/package.json
  packages/lib-sourcify/src/Compilation/AbstractCompilation.ts
  packages/lib-sourcify/src/Compilation/CompilationTypes.ts
  packages/lib-sourcify/src/Compilation/SolidityCompilation.ts
  packages/lib-sourcify/src/Compilation/VyperCompilation.ts
  packages/lib-sourcify/src/Validation/SolidityMetadataContract.ts
  packages/lib-sourcify/src/Validation/processFiles.ts
  packages/lib-sourcify/src/Verification/Transformations.ts
  packages/lib-sourcify/src/Verification/Verification.ts
  packages/lib-sourcify/src/Verification/VerificationTypes.ts
  packages/lib-sourcify/src/index.ts
  packages/lib-sourcify/test/Compilation/SolidityCompilation.spec.ts
  packages/lib-sourcify/test/Validation/SolidityMetadataContract.spec.ts
  packages/lib-sourcify/test/Verification/Verification.spec.ts
  packages/lib-sourcify/test/utils.ts
  scripts/release/release.sh
Due: run-build-packages

Fix check for running jobs
  services/server/src/server/apiv2/middlewares.ts
Due: run-build-server

fix(deps): update all patch and minor dependencies
  package-lock.json
  package.json
  packages/bytecode-utils/package.json
  packages/compilers-types/package.json
  packages/compilers/package.json
  packages/lib-sourcify/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

Fix check for running jobs (#2052)
  services/server/src/server/apiv2/middlewares.ts
Due: run-build-server

fix(deps): update all patch and minor dependencies (#2053)
  package-lock.json
  package.json
  packages/bytecode-utils/package.json
  packages/compilers-types/package.json
  packages/compilers/package.json
  packages/lib-sourcify/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

Remove h5ai from CI and the rest of the repo
  .circleci/config.yml
  .circleci/continue_config.yml
  .circleci/scripts/deploy_to_gcp.sh
  .circleci/scripts/publish_multiarch_images.sh
  .eslintrc.js
  .gitmodules
Due: none

Update Auroria contract
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

Update sourcify-chains-default.json to set multiple chains as unsupported
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

remove environment variables from lib-sourcify
  packages/lib-sourcify/src/SourcifyChain/SourcifyChain.ts
  packages/lib-sourcify/src/SourcifyChain/SourcifyChainTypes.ts
  packages/lib-sourcify/src/Validation/SolidityMetadataContract.ts
  packages/lib-sourcify/src/Validation/fetchUtils.ts
  packages/lib-sourcify/src/logger.ts
  packages/lib-sourcify/test/Validation/fetchUtils.spec.ts
  services/monitor/src/Monitor.ts
  services/server/src/server/apiv1/verification/session-state/session-state.handlers.ts
  services/server/src/server/cli.ts
  services/server/src/sourcify-chains.ts
  services/server/test/helpers/LocalChainFixture.ts
Due: run-build-monitor, run-build-server, run-build-packages

remove unused rpcHeadersValues
  packages/lib-sourcify/src/SourcifyChain/SourcifyChainTypes.ts
  services/server/src/sourcify-chains.ts
Due: run-build-server, run-build-packages

restore createFetchRequest as exported function outside of SourcifyChain
  packages/lib-sourcify/src/SourcifyChain/SourcifyChain.ts
Due: run-build-packages

Use structuredClone on jsonInput and metadata in lib-sourcify
  packages/lib-sourcify/src/Compilation/AbstractCompilation.ts
  packages/lib-sourcify/src/Compilation/SolidityCompilation.ts
  packages/lib-sourcify/src/Compilation/VyperCompilation.ts
  packages/lib-sourcify/src/Validation/SolidityMetadataContract.ts
  services/server/test/unit/verificationWorker.spec.ts
Due: run-build-server, run-build-packages

Improve error logging and messages for `SolidityMetadataContract`
  packages/lib-sourcify/src/SourcifyLibError.ts
  packages/lib-sourcify/src/Validation/SolidityMetadataContract.ts
  packages/lib-sourcify/src/Validation/ValidationTypes.ts
  services/server/test/unit/verificationWorker.spec.ts
Due: run-build-server, run-build-packages

fix monitor tests
  services/monitor/test/Monitor.spec.ts
Due: run-build-monitor

Delete h5ai-nginx (#2055)
  .circleci/config.yml
  .circleci/continue_config.yml
  .circleci/scripts/deploy_to_gcp.sh
  .circleci/scripts/publish_multiarch_images.sh
  .eslintrc.js
  .gitmodules
Due: none

Update Hoodi Testnet with RPCs and creatorTxHash
  services/server/src/sourcify-chains-default.json
Due: run-build-server

Add `sourceIds` field to v2 lookup
  packages/compilers-types/src/SolidityTypes.ts
  packages/compilers-types/src/VyperTypes.ts
  packages/lib-sourcify/src/Verification/VerificationTypes.ts
  services/server/src/server/services/utils/database-util.ts
  services/server/src/server/types.ts
  services/server/test/integration/apiv2/lookup.spec.ts
Due: run-build-server, run-build-packages

Update API v2 spec
  services/server/src/apiv2.yaml
Due: run-build-server

Add `sourceIds` field to v2 lookup (#2060)
  packages/compilers-types/src/SolidityTypes.ts
  packages/compilers-types/src/VyperTypes.ts
  packages/lib-sourcify/src/Verification/VerificationTypes.ts
  services/server/src/apiv2.yaml
  services/server/src/server/services/utils/database-util.ts
  services/server/src/server/types.ts
  services/server/test/integration/apiv2/lookup.spec.ts
Due: run-build-server, run-build-packages

add options to configure libSourcify in sourcify's server
  packages/lib-sourcify/src/SourcifyChain/SourcifyChain.ts
  packages/lib-sourcify/src/index.ts
  packages/lib-sourcify/src/logger.ts
  services/server/src/server/cli.ts
  services/server/src/server/server.ts
Due: run-build-server, run-build-packages

wip
  services/database/database.json
  services/server/README.md
  services/server/docker-compose.local.yml
Due: run-build-server

Disable v2 verifification and job status endpoints and do not run Piscina workers
  services/server/src/openapi.yaml
  services/server/src/server/apiv2/jobs/jobs.routes.ts
  services/server/src/server/apiv2/verification/verification.routes.ts
  services/server/src/server/services/VerificationService.ts
Due: run-build-server

Disable tests for v2 verification endpoints in integration suite
  services/server/src/server/services/VerificationService.ts
  services/server/test/integration/apiv2/jobs.spec.ts
  services/server/test/integration/apiv2/verification/verify.json.spec.ts
Due: run-build-server

Disable v2 verifification and job status endpoints and do not run Piscina workers (#2061)
  services/server/src/openapi.yaml
  services/server/src/server/apiv2/jobs/jobs.routes.ts
  services/server/src/server/apiv2/verification/verification.routes.ts
  services/server/src/server/services/VerificationService.ts
  services/server/test/integration/apiv2/jobs.spec.ts
  services/server/test/integration/apiv2/verification/verify.json.spec.ts
Due: run-build-server

Update changelogs
  CHANGELOG.md
  packages/bytecode-utils/CHANGELOG.md
  packages/compilers-types/CHANGELOG.md
  packages/compilers/CHANGELOG.md
  packages/lib-sourcify/CHANGELOG.md
  services/database/CHANGELOG.md
  services/monitor/CHANGELOG.md
  services/server/CHANGELOG.md
Due: run-build-monitor, run-build-server, run-build-packages

Add Ethereum Hoodi Testnet to monitor
  services/monitor/monitorChains.json
Due: run-build-monitor

chore(release): publish
  package-lock.json
  package.json
  packages/bytecode-utils/package.json
  packages/compilers-types/package.json
  packages/compilers/package.json
  packages/lib-sourcify/package.json
  services/database/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

Revert "Disable v2 verifification and job status endpoints and do not run Piscina workers (#2061)"
  services/server/src/openapi.yaml
  services/server/src/server/apiv2/jobs/jobs.routes.ts
  services/server/src/server/apiv2/verification/verification.routes.ts
  services/server/src/server/services/VerificationService.ts
  services/server/test/integration/apiv2/jobs.spec.ts
  services/server/test/integration/apiv2/verification/verify.json.spec.ts
Due: run-build-server
