Repository ethereum/sourcify: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-monitor, run-build-server, run-build-repository, run-build-packages, run-build-ui

Path conditions:
  run-build-monitor: any of: services/monitor/.*
  run-build-server: any of: services/server/.*
  run-build-repository: any of: h5ai-nginx
  run-build-packages: any of: packages/.*
  run-build-ui: any of: ui/.*

update simpleStorage contract for xdc mainnet
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

Deployed contract with solidity v0.8.7
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

Add Zircuit Mainnet to monitored chains
  services/monitor/monitorChains.json
Due: run-build-monitor

Added chain 50: XDC Network Mainnet (#1924)
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

Fix Solc JSON stateless verification example in OpenAPI spec
  services/server/src/server/apiv1/verification/solc-json/stateless/solc-json.stateless.paths.yaml
Due: run-build-server

integrate new verification flow classes into server
  packages/lib-sourcify/src/Compilation/AbstractCompilation.ts
  packages/lib-sourcify/src/Compilation/CompilationTypes.ts
  packages/lib-sourcify/src/Compilation/SolidityCompilation.ts
  packages/lib-sourcify/src/Compilation/SolidityTypes.ts
  packages/lib-sourcify/src/Compilation/VyperCompilation.ts
  packages/lib-sourcify/src/Verification/Verification.ts
  packages/lib-sourcify/src/Verification/VerificationTypes.ts
  packages/lib-sourcify/src/index.ts
  services/server/src/server/apiv1/verification/etherscan/etherscan.common.ts
  services/server/src/server/apiv1/verification/verification.common.ts
  services/server/src/server/apiv1/verification/verify/stateless/verify.stateless.handlers.ts
  services/server/src/server/common.ts
  services/server/src/server/services/StorageService.ts
  services/server/src/server/services/VerificationService.ts
  services/server/src/server/services/compiler/local/SolcLocal.ts
  services/server/src/server/services/compiler/local/solidityCompiler.ts
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/src/server/services/storageServices/RepositoryV2Service.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/src/server/services/utils/database-util.ts
  services/server/src/server/services/utils/util.ts
  services/server/src/server/types.ts
  services/server/test/integration/apiv1/verification-handlers/verify.stateless.spec.ts
Due: run-build-server, run-build-packages

Simplify chain-tests commands
  .circleci/new_branch.yml
  .circleci/test-chains-regularly.yml
  package.json
Due: none

fix(deps): update all minor dependencies
  package-lock.json
  package.json
  services/server/package.json
Due: run-build-server

Simplify chain tests commands (#1931)
  .circleci/new_branch.yml
  .circleci/test-chains-regularly.yml
  package.json
Due: none

fix(deps): update all patch dependencies
  package-lock.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  services/database/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

fix(deps): update all patch dependencies (#1932)
  package-lock.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  services/database/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

Rename `*` field of v2 contract lookup endpoint to `all`
  services/server/src/server/apiv2/middlewares.ts
  services/server/test/integration/apiv2/lookup.spec.ts
Due: run-build-server

Update APIv2 spec
  services/server/src/apiv2.yaml
Due: run-build-server

Rename `*` field of v2 contract lookup endpoint to `all` (#1934)
  services/server/src/apiv2.yaml
  services/server/src/server/apiv2/middlewares.ts
  services/server/test/integration/apiv2/lookup.spec.ts
Due: run-build-server

Fix database query for v2 lookup endpoint to work even if no creation code is stored
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/src/server/services/utils/Database.ts
  services/server/test/integration/apiv2/lookup.spec.ts
Due: run-build-server

Do not run proxy resolution when contract is not verified
  services/server/src/server/apiv2/lookup/lookup.handlers.ts
  services/server/test/integration/apiv2/lookup.spec.ts
Due: run-build-server

Fixes to GET `/v2/contract/` (#1935)
  services/server/src/server/apiv2/lookup/lookup.handlers.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/src/server/services/utils/Database.ts
  services/server/test/integration/apiv2/lookup.spec.ts
Due: run-build-server

Update changelogs
  CHANGELOG.md
Due: none

Update changelogs
  CHANGELOG.md
  packages/bytecode-utils/CHANGELOG.md
  packages/lib-sourcify/CHANGELOG.md
  services/database/CHANGELOG.md
  services/monitor/CHANGELOG.md
  services/server/CHANGELOG.md
Due: run-build-monitor, run-build-server, run-build-packages

Update changelogs (#1938)
  CHANGELOG.md
  packages/bytecode-utils/CHANGELOG.md
  packages/lib-sourcify/CHANGELOG.md
  services/database/CHANGELOG.md
  services/monitor/CHANGELOG.md
  services/server/CHANGELOG.md
Due: run-build-monitor, run-build-server, run-build-packages

chore(release): publish
  package-lock.json
  package.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  services/database/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

Add onchain bytecodes to verification_jobs_ephemeral table
  services/database/migrations/20231109160023-sourcify.js
Due: none

fixes for PR comments
  packages/lib-sourcify/src/Compilation/CompilationTypes.ts
  packages/lib-sourcify/src/Verification/Transformations.ts
  packages/lib-sourcify/src/Verification/Verification.ts
  packages/lib-sourcify/src/Verification/VerificationTypes.ts
Due: run-build-packages

Update API v2 specs
  services/server/src/apiv2.yaml
Due: run-build-server

Make compilation_time a bigint
  services/database/migrations/20231109160023-sourcify.js
Due: none

Add compilationTime, bytecodes and creatorTransactionHash to GET job response
  services/server/src/server/apiv2/errors.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/src/server/services/utils/Database.ts
  services/server/src/server/services/utils/database-util.ts
  services/server/src/server/types.ts
  services/server/test/integration/apiv2/jobs.spec.ts
Due: run-build-server

Add GET `/v2/verify/{verificationId}` endpoint (#1913)
  services/database/migrations/20231109160023-sourcify.js
  services/server/src/apiv2.yaml
  services/server/src/server/apiv2/errors.ts
  services/server/src/server/apiv2/jobs/jobs.handler.ts
  services/server/src/server/apiv2/jobs/jobs.routes.ts
  services/server/src/server/apiv2/routes.ts
  services/server/src/server/services/StorageService.ts
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/src/server/services/utils/Database.ts
  services/server/src/server/services/utils/database-util.ts
  services/server/src/server/types.ts
  services/server/test/helpers/helpers.ts
  services/server/test/integration/apiv2/jobs.spec.ts
Due: run-build-server

Configure Renovate to only create one PR for both minor and patch updates
  renovate.json
Due: none

Configure Renovate to only create one PR for both minor and patch updates (#1943)
  renovate.json
Due: none

Ensure to return NULL for any NULL value on the GET contract endpoint
  services/server/src/server/services/utils/database-util.ts
  services/server/test/integration/apiv2/lookup.spec.ts
Due: run-build-server

Ensure to return NULL for any NULL value on the GET contract endpoint (#1944)
  services/server/src/server/services/utils/database-util.ts
  services/server/test/integration/apiv2/lookup.spec.ts
Due: run-build-server

Validate the bytecode length for Solidity and Vyper compilations before proceeding with bytecode matching
  packages/lib-sourcify/src/Verification/Verification.ts
  packages/lib-sourcify/src/Verification/VerificationTypes.ts
Due: run-build-packages

do not use existing transformations/values in `matchBytecode`.
  packages/lib-sourcify/src/Verification/Verification.ts
Due: run-build-packages

Update RPCs for Telos
  services/server/src/chains.json
Due: run-build-server

Refactor APIv1 code to v1 folder
  services/server/src/server/apiv1/controllers.common.ts
  services/server/src/server/apiv1/routes.ts
  services/server/src/server/apiv1/validation.ts
  services/server/src/server/common.ts
  services/server/src/server/server.ts
Due: run-build-server

Use GenericErrorResponse for all errors returned from /v2
  services/server/src/server/apiv2/errors.ts
  services/server/src/server/server.ts
  services/server/test/integration/apiv2/lookup.spec.ts
  services/server/test/integration/errors.spec.ts
Due: run-build-server

Initilize compilers package
  package.json
  packages/compilers/package.json
Due: run-build-packages
