Repository ethereum/sourcify: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-monitor, run-build-server, run-build-repository, run-build-packages, run-build-ui

Path conditions:
  run-build-monitor: any of: services/monitor/.*
  run-build-server: any of: services/server/.*
  run-build-repository: any of: h5ai-nginx
  run-build-packages: any of: packages/.*
  run-build-ui: any of: ui/.*

chore(deps): update all patch dependencies
  package-lock.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

Fix typos
  packages/bytecode-utils/src/lib/bytecode.ts
  packages/lib-sourcify/src/lib/CheckedContract.ts
Due: run-build-packages

chore(deps): update dependency nock to v14.0.0-beta.18 (#1748)
  package-lock.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

Fix typos (#1749)
  packages/bytecode-utils/src/lib/bytecode.ts
  packages/lib-sourcify/src/lib/CheckedContract.ts
Due: run-build-packages

Remove Kroma etherscan test contracts
  services/server/test/helpers/etherscanInstanceContracts.json
Due: run-build-server

Add Kroma chain tests back
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

Remove Kroma etherscan test contracts (#1750)
  services/server/test/chains/chain-tests.spec.ts
  services/server/test/helpers/etherscanInstanceContracts.json
Due: run-build-server

Remove typedoc
  package-lock.json
  packages/lib-sourcify/package.json
Due: run-build-packages

Enable writing to the verifier alliance test database in staging
  services/server/src/config/staging.js
Due: run-build-server

fix(deps): update all minor dependencies
  package-lock.json
  package.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

Add blockscout API to Mekong testnet
  services/server/src/sourcify-chains-default.json
Due: run-build-server

Update chains.json
  services/server/src/chains.json
Due: run-build-server

Add dotenv to sourcify-chains for scripts importing this file
  services/server/src/sourcify-chains.ts
Due: run-build-server

Add Mekong testnet
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

Enable writing to the verifier alliance test database in staging (#1719)
  services/server/src/config/staging.js
Due: run-build-server

Add chain 7078815900 (#1747)
  services/server/src/chains.json
  services/server/src/sourcify-chains-default.json
  services/server/src/sourcify-chains.ts
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

Add proxy detection and resolution to /check-all-by-addresses endpoint
  package-lock.json
  packages/lib-sourcify/src/lib/SourcifyChain.ts
  packages/lib-sourcify/src/lib/types.ts
  services/server/package.json
  services/server/src/server/controllers/repository/repository.handlers.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/src/server/services/utils/Database.ts
  services/server/src/server/services/utils/database-util.ts
  services/server/src/server/services/utils/proxy-contract-util.ts
Due: run-build-server, run-build-packages

Add optional API parameter
  services/server/src/server/controllers/repository/check-all-by-addresses.stateless.paths.yaml
  services/server/src/server/controllers/repository/repository.handlers.ts
Due: run-build-server

Revise implementation
  services/server/src/server/controllers/repository/repository.handlers.ts
  services/server/src/server/services/utils/proxy-contract-util.ts
Due: run-build-server

Fix import
  services/server/src/server/services/utils/proxy-contract-util.ts
Due: run-build-server

Add support for DiamondProxies
  packages/lib-sourcify/src/lib/SourcifyChain.ts
  services/server/src/server/services/utils/proxy-contract-util.ts
Due: run-build-server, run-build-packages

Add unit tests for proxy-contract-util
  services/server/src/server/services/utils/proxy-contract-util.ts
  services/server/test/unit/utils/proxy-bytecodes.json
  services/server/test/unit/utils/proxy-contract-util.spec.ts
Due: run-build-server

Add integration tests for proxy resolution
  package-lock.json
  services/server/package.json
  services/server/src/server/controllers/repository/check-all-by-addresses.stateless.paths.yaml
  services/server/src/server/controllers/repository/repository.handlers.ts
  services/server/src/server/services/utils/Database.ts
  services/server/test/integration/repository-handlers/check-by-addresses.spec.ts
  services/server/test/testcontracts/Proxy/Proxy_flattened.json
  services/server/test/testcontracts/Proxy/Proxy_flattened.sol
  services/server/test/testcontracts/Proxy/metadata.json
  services/server/test/unit/utils/proxy-contract-util.spec.ts
Due: run-build-server

Add comments
  services/server/src/server/controllers/repository/repository.handlers.ts
  services/server/src/server/services/utils/proxy-contract-util.ts
Due: run-build-server

Log errors during checkAllByChainAndAddresses
  services/server/src/server/controllers/repository/repository.handlers.ts
Due: run-build-server

Update whatsabi to 0.17.0 and add check for ignoring factory contracts
  package-lock.json
  services/server/package.json
  services/server/src/server/services/utils/proxy-contract-util.ts
  services/server/test/unit/utils/proxy-bytecodes.json
  services/server/test/unit/utils/proxy-contract-util.spec.ts
Due: run-build-server

Update whatsabi to v0.15.4
  package-lock.json
  services/server/package.json
Due: run-build-server

Add API-level proxy detection and implementation resolution (#1711)
  package-lock.json
  packages/lib-sourcify/src/lib/SourcifyChain.ts
  packages/lib-sourcify/src/lib/types.ts
  services/server/package.json
  services/server/src/server/controllers/repository/check-all-by-addresses.stateless.paths.yaml
  services/server/src/server/controllers/repository/repository.handlers.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/src/server/services/utils/Database.ts
  services/server/src/server/services/utils/database-util.ts
  services/server/src/server/services/utils/proxy-contract-util.ts
  services/server/test/integration/repository-handlers/check-by-addresses.spec.ts
  services/server/test/testcontracts/Proxy/Proxy_flattened.json
  services/server/test/testcontracts/Proxy/Proxy_flattened.sol
  services/server/test/testcontracts/Proxy/metadata.json
  services/server/test/unit/utils/proxy-bytecodes.json
  services/server/test/unit/utils/proxy-contract-util.spec.ts
Due: run-build-server, run-build-packages

Disable verifier alliance storage
  services/server/src/config/staging.js
Due: run-build-server

Disable verifier alliance storage (#1756)
  services/server/src/config/staging.js
Due: run-build-server

add VyperCheckedContract
  packages/lib-sourcify/src/index.ts
  packages/lib-sourcify/src/lib/IVyperCompiler.ts
  packages/lib-sourcify/src/lib/VyperCheckedContract.ts
  packages/lib-sourcify/src/lib/verification.ts
  packages/lib-sourcify/test/compiler/vyperCompiler.ts
  packages/lib-sourcify/test/sources/Vyper/contract/artifact.json
  packages/lib-sourcify/test/sources/Vyper/contract/test.vy
  packages/lib-sourcify/test/utils.ts
  packages/lib-sourcify/test/verification.spec.ts
Due: run-build-packages

rename CheckedContract.solidity to sources
  packages/lib-sourcify/src/lib/CheckedContract.ts
  packages/lib-sourcify/src/lib/VyperCheckedContract.ts
  packages/lib-sourcify/src/lib/validation.ts
  packages/lib-sourcify/src/lib/verification.ts
  packages/lib-sourcify/test/functions.spec.ts
  packages/lib-sourcify/test/validation.spec.ts
  packages/lib-sourcify/test/verification.spec.ts
Due: run-build-packages

refactor checkedcontract into an abstract class
  packages/lib-sourcify/src/index.ts
  packages/lib-sourcify/src/lib/AbstractCheckedContract.ts
  packages/lib-sourcify/src/lib/SolidityCheckedContract.ts
  packages/lib-sourcify/src/lib/VyperCheckedContract.ts
  packages/lib-sourcify/src/lib/validation.ts
  packages/lib-sourcify/src/lib/verification.ts
  packages/lib-sourcify/test/functions.spec.ts
  packages/lib-sourcify/test/validation.spec.ts
Due: run-build-packages

refactor AbstractCheckedContract in server
  packages/lib-sourcify/src/index.ts
  services/server/src/server/controllers/verification/etherscan/stateless/etherscan.stateless.handlers.ts
  services/server/src/server/controllers/verification/verification.common.ts
  services/server/src/server/controllers/verification/verify/stateless/verify.stateless.handlers.ts
  services/server/src/server/services/StorageService.ts
  services/server/src/server/services/VerificationService.ts
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/src/server/services/storageServices/AllianceDatabaseService.ts
  services/server/src/server/services/storageServices/RepositoryV1Service.ts
  services/server/src/server/services/storageServices/RepositoryV2Service.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/src/server/services/utils/database-util.ts
Due: run-build-server, run-build-packages

Use password auth type for google sql connector
  services/server/.env.dev
  services/server/src/config/staging.js
  services/server/src/server/cli.ts
  services/server/src/server/services/StorageService.ts
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/src/server/services/utils/Database.ts
Due: run-build-server

Fix build
  services/server/src/server/cli.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
Due: run-build-server

Use password auth type for google sql connector (#1757)
  services/server/.env.dev
  services/server/src/config/staging.js
  services/server/src/server/cli.ts
  services/server/src/server/services/StorageService.ts
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/src/server/services/utils/Database.ts
Due: run-build-server

use AbstractCheckedContract type in StorageServices
  services/server/src/server/services/StorageService.ts
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/src/server/services/storageServices/AllianceDatabaseService.ts
  services/server/src/server/services/storageServices/RepositoryV1Service.ts
  services/server/src/server/services/storageServices/RepositoryV2Service.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/src/server/services/utils/database-util.ts
Due: run-build-server
