Repository ethereum/sourcify: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-monitor, run-build-server, run-build-repository, run-build-packages, run-build-ui

Path conditions:
  run-build-monitor: any of: services/monitor/.*
  run-build-server: any of: services/server/.*
  run-build-repository: any of: h5ai-nginx
  run-build-packages: any of: packages/.*
  run-build-ui: any of: ui/.*

Fix wrong tag name for sourcify-server in the npm publish script
  .circleci/scripts/publish_to_npm.sh
Due: none

Implement a storage service to upload contracts on S3
  package-lock.json
  services/server/.env.dev
  services/server/package.json
  services/server/src/server/cli.ts
  services/server/src/server/services/StorageService.ts
  services/server/src/server/services/storageServices/RepositoryS3Service.ts
  services/server/src/server/services/storageServices/identifiers.ts
Due: run-build-server

add chain 7171 and 7771
  services/server/src/sourcify-chains-default.json
Due: run-build-server

Update chain-tests.spec.ts
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

Fix API keys on CircleCI
  services/server/src/sourcify-chains.ts
Due: run-build-server

refactor S3RepositoryService and add tests
  .gitignore
  package-lock.json
  services/server/.env.dev
  services/server/package.json
  services/server/src/config/local-test.js
  services/server/src/server/cli.ts
  services/server/src/server/services/StorageService.ts
  services/server/src/server/services/storageServices/S3RepositoryService.ts
  services/server/test/helpers/ServerFixture.ts
  services/server/test/helpers/assertions.ts
Due: run-build-server

improve comment
  services/server/test/helpers/assertions.ts
Due: run-build-server

fix aws-sdk version in package.json
  package-lock.json
  services/server/package.json
Due: run-build-server

make s3 mock global
  package-lock.json
  services/server/.mocharc.json
  services/server/package.json
  services/server/src/server/cli.ts
  services/server/src/server/services/storageServices/RepositoryV1Service.ts
  services/server/src/server/services/storageServices/RepositoryV2Service.ts
  services/server/src/server/services/storageServices/S3RepositoryService.ts
  services/server/test/global-mocks.ts
  services/server/test/helpers/S3ClientMock.ts
  services/server/test/helpers/ServerFixture.ts
  services/server/test/helpers/assertions.ts
  services/server/test/helpers/helpers.ts
  services/server/test/integration/database.spec.ts
  services/server/test/integration/path-sanitization.spec.ts
  services/server/test/integration/verification-handlers/verify.session.spec.ts
  services/server/test/integration/verification-handlers/verify.stateless.spec.ts
Due: run-build-server

Fix codecov badge
  README.md
Due: none

Add etherscan instance tests for Arbitrum Nova (42170)
  services/server/test/helpers/etherscanInstanceContracts.json
Due: run-build-server

remove rpc field on sourcify-chains-default.json
  services/server/src/sourcify-chains-default.json
Due: run-build-server

Fix no RPCs available in CI
  services/server/src/sourcify-chains.ts
Due: run-build-server

Add etherscan instance tests for Arbitrum Nova (42170) (#1735)
  services/server/test/helpers/etherscanInstanceContracts.json
Due: run-build-server

Fix codecov badge (#1733)
  README.md
Due: none

accept only PathConfig in save function for repositories
  services/server/src/server/services/storageServices/RepositoryV1Service.ts
  services/server/src/server/services/storageServices/RepositoryV2Service.ts
  services/server/src/server/services/storageServices/S3RepositoryService.ts
Due: run-build-server

enable s3-repository on staging
  services/server/src/config/staging.js
Due: run-build-server

Fix no RPCs available in CI (#1736)
  services/server/src/sourcify-chains.ts
Due: run-build-server

chore(deps): pin dependencies
  package-lock.json
  package.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  services/database/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

chore(deps): pin dependencies (#1722)
  package-lock.json
  package.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  services/database/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

Add chain configurations again
  services/server/src/sourcify-chains-default.json
Due: run-build-server

use DeleteObjectCommand instead of DeleteObjectsCommand
  services/server/src/server/cli.ts
  services/server/src/server/services/StorageService.ts
  services/server/src/server/services/storageServices/RepositoryV2Service.ts
  services/server/src/server/services/storageServices/S3RepositoryService.ts
  services/server/test/helpers/S3ClientMock.ts
  services/server/test/helpers/ServerFixture.ts
Due: run-build-server

mock s3 settings in server fixture
  services/server/test/helpers/ServerFixture.ts
Due: run-build-server

Add new chain 7171 & 7771 (#1729)
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

chore(deps): update dependency sinon to v19.0.2
  package-lock.json
  services/monitor/package.json
Due: run-build-monitor

chore(deps): update dependency sinon to v19.0.2 (#1737)
  package-lock.json
  services/monitor/package.json
Due: run-build-monitor

fix(deps): update all minor dependencies
  package-lock.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

fix(deps): update all minor dependencies (#1738)
  package-lock.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

update package-json after merge
  package-lock.json
Due: none

Implement a storage service to upload contracts on S3 (#1728)
  .gitignore
  package-lock.json
  services/server/.env.dev
  services/server/.mocharc.json
  services/server/package.json
  services/server/src/config/local-test.js
  services/server/src/config/staging.js
  services/server/src/server/cli.ts
  services/server/src/server/services/StorageService.ts
  services/server/src/server/services/storageServices/RepositoryV1Service.ts
  services/server/src/server/services/storageServices/RepositoryV2Service.ts
  services/server/src/server/services/storageServices/S3RepositoryService.ts
  services/server/src/server/services/storageServices/identifiers.ts
  services/server/test/global-mocks.ts
  services/server/test/helpers/S3ClientMock.ts
  services/server/test/helpers/ServerFixture.ts
  services/server/test/helpers/assertions.ts
  services/server/test/helpers/helpers.ts
  services/server/test/integration/database.spec.ts
  services/server/test/integration/path-sanitization.spec.ts
  services/server/test/integration/verification-handlers/verify.session.spec.ts
  services/server/test/integration/verification-handlers/verify.stateless.spec.ts
Due: run-build-server

fix logging for S3RepositoryService
  services/server/src/server/services/storageServices/RepositoryV2Service.ts
Due: run-build-server

Fix logging for S3RepositoryService (#1743)
  services/server/src/server/services/storageServices/RepositoryV2Service.ts
Due: run-build-server

fix(deps): pin dependencies
  package-lock.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

fix(deps): pin dependencies (#1741)
  package-lock.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

Remove Kroma Etherscan
  services/server/src/sourcify-chains-default.json
Due: run-build-server

Remove Kromascan env and test entries
  services/server/.env.dev
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server
