Repository ethereum/sourcify: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-monitor, run-build-server, run-build-repository, run-build-packages, run-build-ui

Path conditions:
  run-build-monitor: any of: services/monitor/.*
  run-build-server: any of: services/server/.*
  run-build-repository: any of: h5ai-nginx
  run-build-packages: any of: packages/.*
  run-build-ui: any of: ui/.*

Update chains.json
  services/server/src/chains.json
Due: run-build-server

activate S3Repository in production
  services/server/src/config/master.js
Due: run-build-server

add chain and test
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

changed to shared storage
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

changed solc version 0.8.7
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

changed solc version 0.8.7 again
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

changed solc version 0.8.7 again, no optimizer
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

Add "partial" match, code styling
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

add chain and test (#1832)
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

Implement Vyper support in session etherscan API
  packages/lib-sourcify/src/lib/AbstractCheckedContract.ts
  packages/lib-sourcify/src/lib/SolidityCheckedContract.ts
  packages/lib-sourcify/src/lib/VyperCheckedContract.ts
  packages/lib-sourcify/src/lib/types.ts
  packages/lib-sourcify/src/lib/validation.ts
  services/server/src/server/common.ts
  services/server/src/server/controllers/verification/etherscan/etherscan.common.ts
  services/server/src/server/controllers/verification/etherscan/session/etherscan.session.handlers.ts
  services/server/src/server/controllers/verification/etherscan/stateless/etherscan.stateless.handlers.ts
  services/server/src/server/controllers/verification/session-state/session-state.handlers.ts
  services/server/src/server/controllers/verification/solc-json/session/solc-json.session.handlers.ts
  services/server/src/server/controllers/verification/solc-json/stateless/solc-json.stateless.handlers.ts
  services/server/src/server/controllers/verification/verification.common.ts
  services/server/src/server/controllers/verification/verify/session/verify.session.handlers.ts
  services/server/src/server/controllers/verification/verify/stateless/verify.stateless.handlers.ts
Due: run-build-server, run-build-packages

Add tests for session etherscan vyper support
  services/server/test/integration/etherscan.spec.ts
Due: run-build-server

fix lib-sourcify tests
  packages/lib-sourcify/src/lib/AbstractCheckedContract.ts
  packages/lib-sourcify/src/lib/SolidityCheckedContract.ts
  packages/lib-sourcify/test/utils.ts
  packages/lib-sourcify/test/validation.spec.ts
  packages/lib-sourcify/test/verification.spec.ts
  services/server/src/server/controllers/verification/verification.common.ts
  services/server/src/server/controllers/verification/verify/stateless/verify.stateless.handlers.ts
Due: run-build-server, run-build-packages

fix tests
  services/server/src/server/controllers/verification/verify/stateless/verify.stateless.handlers.ts
Due: run-build-server

Implement Vyper support in session etherscan API (#1834)
  packages/lib-sourcify/src/lib/AbstractCheckedContract.ts
  packages/lib-sourcify/src/lib/SolidityCheckedContract.ts
  packages/lib-sourcify/src/lib/VyperCheckedContract.ts
  packages/lib-sourcify/src/lib/types.ts
  packages/lib-sourcify/src/lib/validation.ts
  packages/lib-sourcify/test/utils.ts
  packages/lib-sourcify/test/validation.spec.ts
  packages/lib-sourcify/test/verification.spec.ts
  services/server/src/server/common.ts
  services/server/src/server/controllers/verification/etherscan/etherscan.common.ts
  services/server/src/server/controllers/verification/etherscan/session/etherscan.session.handlers.ts
  services/server/src/server/controllers/verification/etherscan/stateless/etherscan.stateless.handlers.ts
  services/server/src/server/controllers/verification/session-state/session-state.handlers.ts
  services/server/src/server/controllers/verification/solc-json/session/solc-json.session.handlers.ts
  services/server/src/server/controllers/verification/solc-json/stateless/solc-json.stateless.handlers.ts
  services/server/src/server/controllers/verification/verification.common.ts
  services/server/src/server/controllers/verification/verify/session/verify.session.handlers.ts
  services/server/src/server/controllers/verification/verify/stateless/verify.stateless.handlers.ts
  services/server/test/integration/etherscan.spec.ts
Due: run-build-server, run-build-packages

Don't run binary search test on forked PRs because of unavailable env vars
  services/server/test/unit/utils/contract-creation-util.spec.ts
Due: run-build-server

Don't run binary search test on forked PRs because of unavailable env vars (#1837)
  services/server/test/unit/utils/contract-creation-util.spec.ts
Due: run-build-server

Update all minor dependencies
  package-lock.json
  packages/lib-sourcify/package.json
  services/server/package.json
Due: run-build-server, run-build-packages

Update all minor dependencies (#1812)
  package-lock.json
  packages/lib-sourcify/package.json
  services/server/package.json
Due: run-build-server, run-build-packages

Change localhost to 127.0.0.1
  packages/lib-sourcify/test/verification.spec.ts
Due: run-build-packages

Fix perfect creation matching when CBOR is not at the end
  packages/lib-sourcify/src/lib/verification.ts
Due: run-build-packages

Add tests for fixing not perfect matching when CBOR not in the end
  packages/lib-sourcify/test/sources/CBORInTheMiddle/artifact.json
  packages/lib-sourcify/test/sources/CBORInTheMiddle/metadata.json
  packages/lib-sourcify/test/sources/CBORInTheMiddle/sources/DeploymentHelper.sol
  packages/lib-sourcify/test/sources/CBORInTheMiddleFactory/artifact.json
  packages/lib-sourcify/test/sources/CBORInTheMiddleFactory/metadata.json
  packages/lib-sourcify/test/sources/CBORInTheMiddleFactory/sources/@openzeppelin/contracts/interfaces/draft-IERC1822.sol
  packages/lib-sourcify/test/sources/CBORInTheMiddleFactory/sources/@openzeppelin/contracts/proxy/ERC1967/ERC1967Proxy.sol
  packages/lib-sourcify/test/sources/CBORInTheMiddleFactory/sources/@openzeppelin/contracts/proxy/ERC1967/ERC1967Utils.sol
  packages/lib-sourcify/test/sources/CBORInTheMiddleFactory/sources/@openzeppelin/contracts/proxy/Proxy.sol
  packages/lib-sourcify/test/sources/CBORInTheMiddleFactory/sources/@openzeppelin/contracts/proxy/beacon/IBeacon.sol
  packages/lib-sourcify/test/sources/CBORInTheMiddleFactory/sources/@openzeppelin/contracts/proxy/utils/Initializable.sol
  packages/lib-sourcify/test/sources/CBORInTheMiddleFactory/sources/@openzeppelin/contracts/proxy/utils/UUPSUpgradeable.sol
  packages/lib-sourcify/test/sources/CBORInTheMiddleFactory/sources/@openzeppelin/contracts/token/ERC1155/IERC1155Receiver.sol
  packages/lib-sourcify/test/sources/CBORInTheMiddleFactory/sources/@openzeppelin/contracts/token/ERC721/IERC721Receiver.sol
  packages/lib-sourcify/test/sources/CBORInTheMiddleFactory/sources/@openzeppelin/contracts/utils/Address.sol
  packages/lib-sourcify/test/sources/CBORInTheMiddleFactory/sources/@openzeppelin/contracts/utils/Create2.sol
  packages/lib-sourcify/test/sources/CBORInTheMiddleFactory/sources/@openzeppelin/contracts/utils/StorageSlot.sol
  packages/lib-sourcify/test/sources/CBORInTheMiddleFactory/sources/@openzeppelin/contracts/utils/Strings.sol
  packages/lib-sourcify/test/sources/CBORInTheMiddleFactory/sources/@openzeppelin/contracts/utils/cryptography/ECDSA.sol
  packages/lib-sourcify/test/sources/CBORInTheMiddleFactory/sources/@openzeppelin/contracts/utils/cryptography/MessageHashUtils.sol
  packages/lib-sourcify/test/sources/CBORInTheMiddleFactory/sources/@openzeppelin/contracts/utils/introspection/IERC165.sol
  packages/lib-sourcify/test/sources/CBORInTheMiddleFactory/sources/@openzeppelin/contracts/utils/math/Math.sol
  packages/lib-sourcify/test/sources/CBORInTheMiddleFactory/sources/@openzeppelin/contracts/utils/math/SignedMath.sol
  packages/lib-sourcify/test/sources/CBORInTheMiddleFactory/sources/contracts/core/BaseAccount.sol
  packages/lib-sourcify/test/sources/CBORInTheMiddleFactory/sources/contracts/core/Helpers.sol
  packages/lib-sourcify/test/sources/CBORInTheMiddleFactory/sources/contracts/core/UserOperationLib.sol
  packages/lib-sourcify/test/sources/CBORInTheMiddleFactory/sources/contracts/interfaces/IAccount.sol
  packages/lib-sourcify/test/sources/CBORInTheMiddleFactory/sources/contracts/interfaces/IAggregator.sol
  packages/lib-sourcify/test/sources/CBORInTheMiddleFactory/sources/contracts/interfaces/IEntryPoint.sol
  packages/lib-sourcify/test/sources/CBORInTheMiddleFactory/sources/contracts/interfaces/INonceManager.sol
  packages/lib-sourcify/test/sources/CBORInTheMiddleFactory/sources/contracts/interfaces/IStakeManager.sol
  packages/lib-sourcify/test/sources/CBORInTheMiddleFactory/sources/contracts/interfaces/PackedUserOperation.sol
  packages/lib-sourcify/test/sources/CBORInTheMiddleFactory/sources/contracts/samples/SimpleAccount.sol
  packages/lib-sourcify/test/sources/CBORInTheMiddleFactory/sources/contracts/samples/SimpleAccountFactory.sol
  packages/lib-sourcify/test/sources/CBORInTheMiddleFactory/sources/contracts/samples/callback/TokenCallbackHandler.sol
  packages/lib-sourcify/test/sources/Constructor/metadata.json
  packages/lib-sourcify/test/verification.spec.ts
Due: run-build-packages

Add new chain 26100
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

Restart the build pipeline
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

Add new chain 26100 (#1840)
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

Update changelogs
  CHANGELOG.md
  packages/bytecode-utils/CHANGELOG.md
  packages/lib-sourcify/CHANGELOG.md
  services/database/CHANGELOG.md
  services/monitor/CHANGELOG.md
  services/server/CHANGELOG.md
Due: run-build-monitor, run-build-server, run-build-packages

chore(release): publish
  package-lock.json
  package.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  services/database/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

add core chain testnet2
  services/server/.env.dev
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
  services/server/test/helpers/etherscanInstanceContracts.json
Due: run-build-server

Remove .only() in test
  packages/lib-sourcify/test/verification.spec.ts
Due: run-build-packages

commit to create branch
  packages/lib-sourcify/README.md
Due: run-build-packages

Add Compilation classes and types
  packages/lib-sourcify/src/Compilation/AbstractCompilation.ts
  packages/lib-sourcify/src/Compilation/CompilationTypes.ts
  packages/lib-sourcify/src/Compilation/SolidityCompilation.ts
  packages/lib-sourcify/src/Compilation/SolidityTypes.ts
  packages/lib-sourcify/src/Compilation/VyperCompilation.ts
  packages/lib-sourcify/src/Compilation/VyperTypes.ts
Due: run-build-packages

Move apiv1 tests into apiv1 folder
  services/server/test/integration/apiv1/repository-handlers/check-by-addresses.spec.ts
  services/server/test/integration/apiv1/repository-handlers/files.spec.ts
  services/server/test/integration/apiv1/verification-handlers/verify.session.spec.ts
  services/server/test/integration/apiv1/verification-handlers/verify.stateless.spec.ts
  services/server/test/integration/apiv1/verification-handlers/vyper.stateless.spec.ts
Due: run-build-server

Fix imports
  services/server/test/integration/apiv1/repository-handlers/check-by-addresses.spec.ts
  services/server/test/integration/apiv1/verification-handlers/verify.stateless.spec.ts
Due: run-build-server

Fix paths in test scripts
  services/server/package.json
Due: run-build-server

Init class
  packages/lib-sourcify/src/Validation/SolidityMetadataContract.ts
Due: run-build-packages
