Repository ethereum/sourcify: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-monitor, run-build-server, run-build-repository, run-build-packages, run-build-ui

Don't persist build sha in tagged builds
  .circleci/config.yml
Due: none

Fix latest tag not being pushed
  .circleci/scripts/build_and_publish_docker_images.sh
Due: none

Hotfix: Don't recompile for already verified partial contract
  services/server/src/server/controllers/verification/verification.common.ts
  services/server/src/server/controllers/verification/verify/stateless/verify.stateless.handlers.ts
  services/server/src/server/services/StorageService.ts
Due: run-build-server

Add changelogs
  CHANGELOG.md
  services/server/CHANGELOG.md
Due: run-build-server

Remove version.ts from monitor
  services/monitor/package.json
  services/monitor/src/PendingContract.ts
  services/monitor/src/version.ts
Due: run-build-monitor

Add monitor changelog
  services/monitor/CHANGELOG.md
Due: run-build-monitor

chore(release): publish
  package-lock.json
  package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server

Revert "Hotfix: Don't recompile for already verified partial contract"
  services/server/src/server/controllers/verification/verification.common.ts
  services/server/src/server/controllers/verification/verify/stateless/verify.stateless.handlers.ts
  services/server/src/server/services/StorageService.ts
Due: run-build-server

Log when saved to IPFS MFS
  services/server/src/server/services/storageServices/IpfsRepositoryService.ts
Due: run-build-server

Add Changelogs
  services/server/CHANGELOG.md
Due: run-build-server

chore(release): publish
  package-lock.json
  services/server/package.json
Due: run-build-server

Turn off IPFS MFS
  services/server/src/server/services/storageServices/IpfsRepositoryService.ts
Due: run-build-server

use generic storage system functions to checkallByChain
  services/server/src/server/controllers/repository/repository.handlers.ts
  services/server/src/server/services/StorageService.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/src/server/services/utils/database-util.ts
Due: run-build-server

update package-lock.json after merge
  package-lock.json
Due: none

update FUNDING.json
  FUNDING.json
Due: none

Fix missing README links
  README.md
Due: none

implement RepositoryV2, rename IpfsRepository to RepositoryV1
  services/server/src/config/default.js
  services/server/src/config/master.js
  services/server/src/config/staging.js
  services/server/src/server/controllers/repository/repository.routes.ts
  services/server/src/server/server.ts
  services/server/src/server/services/StorageService.ts
  services/server/src/server/services/services.ts
  services/server/src/server/services/storageServices/RepositoryV1Service.ts
  services/server/src/server/services/storageServices/RepositoryV2Service.ts
  services/server/test/StorageService.test.js
  services/server/test/helpers/assertions.js
Due: run-build-server

Try multi platform build
  .circleci/scripts/build_and_publish_docker_images.sh
Due: none

Turn on buildx
  .circleci/scripts/build_and_publish_docker_images.sh
Due: none

Run arm64 builds on native machines
  .circleci/continue_config.yml
Due: none

Use default docker version for arm64
  .circleci/continue_config.yml
Due: none

Remove docker version altogether for arm64
  .circleci/continue_config.yml
Due: none

Try older base image
  .circleci/continue_config.yml
Due: none

Remove wrong alias build-base instert
  .circleci/continue_config.yml
Due: none

fix tests
  services/server/src/server/services/services.ts
  services/server/test/server.js
Due: run-build-server

fix lint
  services/server/src/server/services/utils/database-util.ts
Due: run-build-server

repositoryV2 not mandatory, fix StorageService tests
  services/server/src/server/services/StorageService.ts
  services/server/test/StorageService.test.js
Due: run-build-server

Comments
  packages/lib-sourcify/src/lib/CheckedContract.ts
  packages/lib-sourcify/src/lib/types.ts
  services/server/README.md
Due: run-build-server, run-build-packages

Comments
  packages/lib-sourcify/src/lib/CheckedContract.ts
Due: run-build-packages

Log Etherscan, fix dotenv path
  services/monitor/src/Monitor.ts
  services/server/src/common/logger.ts
  services/server/src/server/controllers/verification/etherscan/etherscan.common.ts
  services/server/src/server/server.ts
Due: run-build-monitor, run-build-server

Log txHash extraction and fetching
  packages/lib-sourcify/src/lib/SourcifyChain.ts
  packages/lib-sourcify/src/lib/verification.ts
  services/server/src/server/services/utils/contract-creation-util.ts
Due: run-build-server, run-build-packages

Remove unnecessary tx fetching
  packages/lib-sourcify/src/lib/SourcifyChain.ts
  packages/lib-sourcify/src/lib/verification.ts
Due: run-build-packages

Fix etherscan tests segmentation fault
  package-lock.json
  packages/bytecode-utils/package.json
Due: run-build-packages

Update creator tx fetch log
  services/server/src/server/services/utils/contract-creation-util.ts
Due: run-build-server

Local test config
  services/server/src/config/local-test.js
  services/server/test/chains/chain-tests.js
  services/server/test/etherscan.js
  services/server/test/server.js
Due: run-build-server

Update Evmos Testnet (9000) creationTx url
  services/server/src/sourcify-chains-default.json
Due: run-build-server

Turn off Kekchain (420420) and Testnet (420666)
  services/server/src/sourcify-chains-default.json
Due: run-build-server

Path conditions:
  run-build-monitor: any of: services/monitor/.*
  run-build-server: any of: services/server/.*
  run-build-repository: any of: h5ai-nginx
  run-build-packages: any of: packages/.*
  run-build-ui: any of: ui/.*
