Repository ethereum/sourcify: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-monitor, run-build-server, run-build-repository, run-build-packages, run-build-ui

Fix verification logic (#1594)
  packages/lib-sourcify/src/lib/CheckedContract.ts
  packages/lib-sourcify/src/lib/SourcifyChain.ts
  packages/lib-sourcify/src/lib/verification.ts
Due: run-build-packages

Remove UI from the rest of the project
  .circleci/config.yml
  .circleci/continue_config.yml
  .circleci/scripts/build_and_publish_docker_images.sh
  .circleci/scripts/deploy_to_gcp.sh
  .circleci/scripts/publish_multiarch_images.sh
  .circleci/scripts/trigger_deploy.sh
  .gitignore
  .vscode/launch.json
  README.md
  lerna.json
  package.json
  services/server/.env.dev
Due: run-build-server

Fix unhandled getAddress errors inside safeHandler
  services/server/src/server/controllers/controllers.common.ts
Due: run-build-server

Remove deploys to ArgoCD
  .circleci/continue_config.yml
  .circleci/scripts/trigger_deploy.sh
Due: none

Update package-json
  package-lock.json
Due: none

Update changelogs
  CHANGELOG.md
  packages/bytecode-utils/CHANGELOG.md
  packages/lib-sourcify/CHANGELOG.md
  services/database/CHANGELOG.md
  services/monitor/CHANGELOG.md
  services/server/CHANGELOG.md
Due: run-build-monitor, run-build-server, run-build-packages

chore(release): publish
  package-lock.json
  package.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  services/database/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

Increase no output timeout for GCP deploy job
  .circleci/continue_config.yml
Due: none

chore(deps): update all patch dependencies
  package-lock.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

Fix Etherscan 429 condition
  services/server/src/server/controllers/verification/etherscan/etherscan.common.ts
Due: run-build-server

Change monitor rpcs from Alchemy to dRPC
  services/monitor/monitorChains.json
Due: run-build-monitor

chore(deps): update all node.js dependencies
  .circleci/new_branch.yml
  .circleci/test-chains-regularly.yml
  .nvmrc
  package-lock.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  services/monitor/Dockerfile
  services/monitor/package.json
  services/server/Dockerfile
  services/server/Dockerfile.debug
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

Disable Renovate updates for Node.js
  renovate.json
Due: none

Use blockscout API primarily for fetching creator-tx-hash instead of Etherscan
  services/server/src/server/services/utils/contract-creation-util.ts
  services/server/src/sourcify-chains-default.json
Due: run-build-server

Replace axios with fetch
  package-lock.json
  services/monitor/package.json
  services/monitor/src/PendingContract.ts
Due: run-build-monitor

fix(deps): update all patch dependencies
  package-lock.json
  packages/lib-sourcify/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

Remove 82 and 83 from Monitor
  services/monitor/monitorChains.json
Due: run-build-monitor

Add opRetroFunding to FUNDING.json
  FUNDING.json
Due: none

Add support for the new tables `source_codes` and `compiled_contracts_sources`
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/src/server/services/utils/database-util.ts
Due: run-build-server

Add-op-funding (#1612)
  FUNDING.json
Due: none

Fix monitor rpc authentication
  .vscode/launch.json
  services/monitor/.env.template
  services/monitor/monitorChains.json
  services/monitor/src/Monitor.ts
  services/monitor/src/types.ts
Due: run-build-monitor

Fix monitor rpc authentication (#1616)
  .vscode/launch.json
  services/monitor/.env.template
  services/monitor/monitorChains.json
  services/monitor/src/Monitor.ts
  services/monitor/src/types.ts
Due: run-build-monitor

Add tests for Monitor authenticateRpcs
  services/monitor/src/Monitor.ts
  services/monitor/src/types.ts
  services/monitor/test/Monitor.spec.ts
Due: run-build-monitor

Path conditions:
  run-build-monitor: any of: services/monitor/.*
  run-build-server: any of: services/server/.*
  run-build-repository: any of: h5ai-nginx
  run-build-packages: any of: packages/.*
  run-build-ui: any of: ui/.*
