Repository ethereum/sourcify: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-monitor, run-build-server, run-build-repository, run-build-packages, run-build-ui

Add generic APIKey support in chain RPCs, instead of Alchemy Infura etc.
  packages/lib-sourcify/src/lib/types.ts
  services/server/README.md
  services/server/src/sourcify-chains-default.json
  services/server/src/sourcify-chains.ts
Due: run-build-server, run-build-packages

Throw when API key not found, add QUICKNODE_API_KEY env
  services/server/.env.dev
  services/server/src/sourcify-chains.ts
Due: run-build-server

Add tests for traces, install sinon et. al. to lib-sourcify
  package-lock.json
  packages/lib-sourcify/package.json
  packages/lib-sourcify/src/lib/SourcifyChain.ts
  packages/lib-sourcify/test/SourcifyChain.spec.ts
Due: run-build-packages

Add creationbytecode extractor for `debug_traceTransaction` traces.
  packages/lib-sourcify/src/lib/SourcifyChain.ts
  packages/lib-sourcify/src/lib/types.ts
  packages/lib-sourcify/test/SourcifyChain.spec.ts
Due: run-build-packages

Add chains with trace `debug_traceTransaction", add Arbitrum Nova Etherscan
  services/server/.env.dev
  services/server/src/sourcify-chains-default.json
Due: run-build-server

Add chains that have `trace_transaction` support in Quicknode
  services/server/src/sourcify-chains-default.json
Due: run-build-server

Fix Alchemy type chain
  services/server/src/sourcify-chains-default.json
Due: run-build-server

Show traceSupportedRPCs in /chains response. Don't show API Keys in the response
  packages/lib-sourcify/src/lib/SourcifyChain.ts
  services/server/src/server/routes.ts
  services/server/src/sourcify-chains.ts
Due: run-build-server, run-build-packages

Fix type error `findCreateInDebugTraceTransactionCalls` not being copied over to `testChains`
  services/server/test/unit/utils/contract-creation-util.spec.ts
Due: run-build-server

Add integration tests for proxy resolution
  package-lock.json
  services/server/package.json
  services/server/src/server/controllers/repository/check-all-by-addresses.stateless.paths.yaml
  services/server/src/server/controllers/repository/repository.handlers.ts
  services/server/src/server/services/utils/Database.ts
  services/server/test/integration/repository-handlers/check-by-addresses.spec.ts
  services/server/test/testcontracts/Proxy/Proxy_flattened.json
  services/server/test/testcontracts/Proxy/Proxy_flattened.sol
  services/server/test/testcontracts/Proxy/metadata.json
  services/server/test/unit/utils/proxy-contract-util.spec.ts
Due: run-build-server

Update whatsabi to v0.15.4
  package-lock.json
  services/server/package.json
Due: run-build-server

Add comments to `traceSupportedRPCs`
  packages/lib-sourcify/src/lib/SourcifyChain.ts
Due: run-build-packages

Add quicknode subdomains as option
  services/monitor/src/types.ts
  services/server/.env.dev
  services/server/src/server/controllers/verification/verify/stateless/verify.stateless.handlers.ts
  services/server/src/sourcify-chains-default.json
  services/server/src/sourcify-chains.ts
Due: run-build-monitor, run-build-server

Fix typing and env handling
  packages/lib-sourcify/src/lib/types.ts
  services/monitor/src/types.ts
  services/server/src/sourcify-chains.ts
Due: run-build-monitor, run-build-server, run-build-packages

Fix typo
  services/server/src/server/controllers/verification/verify/stateless/verify.stateless.handlers.ts
Due: run-build-server

Rpcs with trace (#1693)
  package-lock.json
  packages/lib-sourcify/package.json
  packages/lib-sourcify/src/lib/SourcifyChain.ts
  packages/lib-sourcify/src/lib/types.ts
  packages/lib-sourcify/src/lib/verification.ts
  packages/lib-sourcify/test/SourcifyChain.spec.ts
  services/server/.env.dev
  services/server/README.md
  services/server/src/server/routes.ts
  services/server/src/sourcify-chains-default.json
  services/server/src/sourcify-chains.ts
  services/server/test/unit/utils/contract-creation-util.spec.ts
Due: run-build-server, run-build-packages

Publish sourcify-server and only publish the package in its own CI run
  .circleci/scripts/publish_to_npm.sh
Due: none

Disable `s3-backup-check`
  .circleci/nightly.yml
Due: none

Update changelogs
  CHANGELOG.md
  packages/bytecode-utils/CHANGELOG.md
  packages/lib-sourcify/CHANGELOG.md
  services/database/CHANGELOG.md
  services/monitor/CHANGELOG.md
  services/server/CHANGELOG.md
Due: run-build-monitor, run-build-server, run-build-packages

fix(deps): update all minor dependencies
  package-lock.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

chore(release): publish
  package-lock.json
  package.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  services/database/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

fix(deps): update all patch dependencies (#1699)
  package-lock.json
  package.json
  packages/lib-sourcify/package.json
  serverless/compiler-lambda/package-lock.json
  serverless/compiler-lambda/package.json
  services/database/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

Refactor database utils into a class (#1689)
  services/server/.env.dev
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/src/server/services/storageServices/AllianceDatabaseService.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/src/server/services/utils/Database.ts
  services/server/src/server/services/utils/database-util.ts
  services/server/test/helpers/ServerFixture.ts
  services/server/test/integration/database.spec.ts
Due: run-build-server

Enabling Flare Mainnet Chain-14 support (#1704)
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

chore(deps): update all patch dependencies (#1709)
  package-lock.json
  packages/lib-sourcify/package.json
Due: run-build-packages

Add Metis Andromeda and Metis Sepolia (#1694)
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

Update all monitor RPCs to public RPCs
  services/monitor/monitorChains.json
Due: run-build-monitor

Etherscan instance tests for 2442: change expected status of 0xd5a515CE2dF4C69aA809De5b9318a3D4452D86BE to partial (#1705)
  services/server/test/helpers/etherscanInstanceContracts.json
Due: run-build-server

fix(deps): update all minor dependencies (#1700)
  package-lock.json
  packages/lib-sourcify/package.json
  services/server/package.json
Due: run-build-server, run-build-packages

Add chain 48900 48899 (#1703)
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

fix(deps): update all minor dependencies (#1710)
  package-lock.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

fix(deps): update all minor dependencies (#1723)
  package-lock.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

Add back a step to merge master into staging
  scripts/release/main.sh
Due: none

Path conditions:
  run-build-monitor: any of: services/monitor/.*
  run-build-server: any of: services/server/.*
  run-build-repository: any of: h5ai-nginx
  run-build-packages: any of: packages/.*
  run-build-ui: any of: ui/.*
