Repository ethereum/sourcify: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-monitor, run-build-server, run-build-repository, run-build-packages, run-build-ui

Add test for library verification with call protection transformation
  packages/lib-sourcify/test/Verification/Verification.spec.ts
Due: run-build-packages

fix call protection test
  packages/lib-sourcify/test/Verification/Verification.spec.ts
Due: run-build-packages

increase coverage
  packages/lib-sourcify/src/Verification/Verification.ts
Due: run-build-packages

add missing tests from verification.spec.ts increasing coverage
  packages/lib-sourcify/src/Verification/Verification.ts
  packages/lib-sourcify/test/Verification/Verification.spec.ts
Due: run-build-packages

Revert "Remove APIv1 deprecation and remove unimplemented APIv2 paths from openapi.yaml"
  services/server/src/openapi.yaml
  services/server/src/server/apiv1/repository/check-all-by-addresses.stateless.paths.yaml
  services/server/src/server/apiv1/repository/check-by-addresses.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-contract-addresses-all.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-contract-addresses-paginated-all.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-contract-addresses-paginated-full.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-contract-addresses-paginated-partial.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-file-static.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-file-tree-all.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-file-tree-full.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-source-files-all.stateless.paths.yaml
  services/server/src/server/apiv1/repository/get-source-files-full.stateless.paths.yaml
  services/server/src/server/apiv1/verification/etherscan/session/etherscan.session.paths.yaml
  services/server/src/server/apiv1/verification/etherscan/stateless/etherscan.stateless.paths.yaml
  services/server/src/server/apiv1/verification/session-state/clear.session-state.paths.yaml
  services/server/src/server/apiv1/verification/session-state/data.session-state.paths.yaml
  services/server/src/server/apiv1/verification/session-state/input-contract.session-state.paths.yaml
  services/server/src/server/apiv1/verification/session-state/input-files.session-state.paths.yaml
  services/server/src/server/apiv1/verification/solc-json/session/solc-json.session.paths.yaml
  services/server/src/server/apiv1/verification/solc-json/stateless/solc-json.stateless.paths.yaml
  services/server/src/server/apiv1/verification/verify/session/verify.session.paths.yaml
  services/server/src/server/apiv1/verification/verify/stateless/verify.stateless.paths.yaml
  services/server/src/server/apiv1/verification/vyper/stateless/vyper.stateless.paths.yaml
Due: run-build-server

Add migrations for verification_jobs and verification_jobs_ephemeral tables
  services/database/migrations/20231109160023-sourcify.js
Due: none

Remove onchain codes from jobs table and add `creator_transaction_hash`
  services/database/migrations/20231109160023-sourcify.js
Due: none

Enalbe writing to Verifier Alliance DB on production
  services/server/src/config/master.js
Due: run-build-server

Remove ethpandaops from holesky RPCs (#1899)
  services/server/src/sourcify-chains-default.json
Due: run-build-server

Enalbe writing to Verifier Alliance DB on production (#1903)
  services/server/src/config/master.js
Due: run-build-server

Update changelogs
  CHANGELOG.md
  packages/bytecode-utils/CHANGELOG.md
  packages/lib-sourcify/CHANGELOG.md
  services/database/CHANGELOG.md
  services/monitor/CHANGELOG.md
  services/server/CHANGELOG.md
Due: run-build-monitor, run-build-server, run-build-packages

Update changelogs (#1906)
  CHANGELOG.md
  packages/bytecode-utils/CHANGELOG.md
  packages/lib-sourcify/CHANGELOG.md
  services/database/CHANGELOG.md
  services/monitor/CHANGELOG.md
  services/server/CHANGELOG.md
Due: run-build-monitor, run-build-server, run-build-packages

fix linting
  packages/lib-sourcify/src/Verification/Transformations.ts
  packages/lib-sourcify/src/Verification/Verification.ts
Due: run-build-packages

chore(release): publish
  package-lock.json
  package.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  services/database/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

Add migrations for `verification_jobs` and `verification_jobs_ephemeral` tables (#1902)
  services/database/migrations/20231109160023-sourcify.js
Due: none

Move API v2 related methods to bottom of SourcifyDatabaseService
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
Due: run-build-server

Remove status column from verification_jobs table
  services/database/migrations/20231109160023-sourcify.js
Due: none

Refactor error handling and type definitions in Sourcify library
  packages/lib-sourcify/src/SourcifyLibError.ts
  packages/lib-sourcify/src/Verification/Verification.ts
  packages/lib-sourcify/src/Verification/VerificationTypes.ts
Due: run-build-packages

Create datadog-synthetics.yml
  .github/workflows/datadog-synthetics.yml
Due: none

Add GET /v2/verify/{verificationId} endpoint
  services/server/src/server/apiv2/errors.ts
  services/server/src/server/apiv2/jobs/jobs.handler.ts
  services/server/src/server/apiv2/jobs/jobs.routes.ts
  services/server/src/server/apiv2/routes.ts
  services/server/src/server/services/StorageService.ts
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/src/server/services/utils/Database.ts
  services/server/src/server/services/utils/database-util.ts
  services/server/src/server/types.ts
Due: run-build-server

Turn id of verification_jobs table into a uuid
  services/database/migrations/20231109160023-sourcify.js
Due: none

Add tests for get job endpoint
  services/database/migrations/20231109160023-sourcify.js
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/src/server/services/utils/Database.ts
  services/server/test/helpers/helpers.ts
  services/server/test/integration/apiv2/jobs.spec.ts
Due: run-build-server

Initilize compilers package
  package.json
  packages/compilers/package.json
Due: run-build-packages

Add content to compilers package
  package-lock.json
  packages/compilers/.gitignore
  packages/compilers/.mocharc.json
  packages/compilers/LICENSE
  packages/compilers/README.md
  packages/compilers/package.json
  packages/compilers/src/index.ts
  packages/compilers/src/lib/common.ts
  packages/compilers/src/lib/compilerWorker.ts
  packages/compilers/src/lib/solidityCompiler.ts
  packages/compilers/src/lib/vyperCompiler.ts
  packages/compilers/src/logger.ts
  packages/compilers/test/solidityCompiler.spec.ts
  packages/compilers/test/utils/pre-v0.4.0-input.json
  packages/compilers/tsconfig.json
  packages/compilers/tsconfig.module.json
  packages/lib-sourcify/test/functions.spec.ts
Due: run-build-packages

Fix misconfigured apiv2 OpenAPI configuration
  services/server/src/apiv2.yaml
Due: run-build-server

Quick fix release for APIv2 docs (#1917)
  services/server/src/apiv2.yaml
Due: run-build-server

Update error handling for bytecode fetching in Sourcify verification
  packages/lib-sourcify/src/Verification/Verification.ts
  packages/lib-sourcify/src/Verification/VerificationTypes.ts
Due: run-build-packages

Remove unnecessary compilationTarget deletion in SolidityCompilation
  packages/lib-sourcify/src/Compilation/SolidityCompilation.ts
Due: run-build-packages

Refactor bytecode matching method signature and remove unused context interface
  packages/lib-sourcify/src/Verification/Verification.ts
  packages/lib-sourcify/src/Verification/VerificationTypes.ts
  packages/lib-sourcify/test/Verification/Verification.spec.ts
Due: run-build-packages

Improve bytecode matching readability with descriptive variable names
  packages/lib-sourcify/src/Verification/Verification.ts
Due: run-build-packages

Remove unused getter abiEncodedConstructorArguments in Verification class
  packages/lib-sourcify/src/Verification/Verification.ts
Due: run-build-packages

Refactor Solidity settings type and improve bug handling in verification
  packages/lib-sourcify/src/Compilation/SolidityTypes.ts
  packages/lib-sourcify/src/Validation/SolidityMetadataContract.ts
  packages/lib-sourcify/src/Verification/Verification.ts
  packages/lib-sourcify/test/utils.ts
Due: run-build-packages

Update SolidityBugType and improve error handling in verification tests
  packages/lib-sourcify/src/Verification/Verification.ts
  packages/lib-sourcify/src/Verification/VerificationTypes.ts
  packages/lib-sourcify/test/Verification/Verification.spec.ts
Due: run-build-packages

added XDC Network.
  services/server/src/sourcify-chains-default.json
Due: run-build-server

Add configurable Dune namespace via environment variable
  services/database/dune/DuneDataClient.ts
  services/database/dune/DuneTableClient.ts
  services/database/dune/README.md
Due: none

add SimpleStorage contract.
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

Renamed functions in Transformations.ts to use 'extract' prefix instead of 'checkAndCreate'
  packages/lib-sourcify/src/Verification/Transformations.ts
  packages/lib-sourcify/src/Verification/Verification.ts
Due: run-build-packages

Simplify extra file input bug detection and remove redundant error handling
  packages/lib-sourcify/src/Verification/Verification.ts
  packages/lib-sourcify/src/Verification/VerificationTypes.ts
Due: run-build-packages

Refactor Solidity metadata and compiler settings types
  packages/lib-sourcify/src/Compilation/CompilationTypes.ts
  packages/lib-sourcify/src/Compilation/SolidityTypes.ts
  packages/lib-sourcify/src/Validation/SolidityMetadataContract.ts
Due: run-build-packages

Path conditions:
  run-build-monitor: any of: services/monitor/.*
  run-build-server: any of: services/server/.*
  run-build-repository: any of: h5ai-nginx
  run-build-packages: any of: packages/.*
  run-build-ui: any of: ui/.*
