Repository ethereum/sourcify: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-monitor, run-build-server, run-build-repository, run-build-packages, run-build-ui

Verify via SolidityCompilation directly inside /verify/solc-json endpoint (#2216)
  services/server/src/server/apiv1/verification/solc-json/stateless/solc-json.stateless.handlers.ts
  services/server/src/server/services/utils/etherscan-util.ts
  services/server/src/server/services/utils/parsing-util.ts
  services/server/test/unit/utils/etherscan-util.spec.ts
  services/server/test/unit/utils/parsing-util.spec.ts
Due: run-build-server

Update changelogs
  packages/bytecode-utils/CHANGELOG.md
  packages/compilers/CHANGELOG.md
  packages/lib-sourcify/CHANGELOG.md
  services/database/CHANGELOG.md
  services/monitor/CHANGELOG.md
  services/server/CHANGELOG.md
Due: run-build-monitor, run-build-server, run-build-packages

chore(release): publish
  package-lock.json
  packages/bytecode-utils/package.json
  packages/compilers/package.json
  packages/lib-sourcify/package.json
  services/database/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

Throw in API v1 if there is already a verification job running
  services/server/src/server/services/VerificationService.ts
Due: run-build-server

Implement tests for the new /private/replace-contract endpoints; and fixes after tests implementation
  services/server/src/config/default.js
  services/server/src/config/master.js
  services/server/src/config/staging.js
  services/server/src/openapi.yaml
  services/server/src/server/apiv1/verification/private/stateless/private.stateless.handlers.ts
  services/server/src/server/apiv1/verification/private/stateless/private.stateless.paths.yaml
  services/server/src/server/apiv1/verification/private/stateless/private.stateless.routes.ts
  services/server/src/server/cli.ts
  services/server/src/server/server.ts
  services/server/src/server/services/utils/SourcifyChainMock.ts
  services/server/test/helpers/ServerFixture.ts
  services/server/test/integration/apiv1/verification-handlers/verify.stateless.spec.ts
Due: run-build-server

Improve SourcifyChainMock database constructor parameter
  services/server/src/server/apiv1/verification/private/stateless/private.stateless.handlers.ts
  services/server/src/server/services/utils/Database.ts
  services/server/src/server/services/utils/SourcifyChainMock.ts
Due: run-build-server

Implement shared poolClient when deleting and inserting rows in /private/replace-contract.
  services/server/src/server/apiv1/verification/private/stateless/private.stateless.handlers.ts
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/src/server/services/utils/Database.ts
  services/server/test/integration/apiv1/verification-handlers/verify.stateless.spec.ts
Due: run-build-server

Fix shared poolClient mechanism in AbstractDatabaseService
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/src/server/services/utils/Database.ts
Due: run-build-server

Remove json input from API v1 verify/solc-json log
  services/server/src/server/apiv1/verification/solc-json/stateless/solc-json.stateless.handlers.ts
Due: run-build-server

Execute both `insertOrUpdateVerification` and `insertSourcifyMatch` inside a single sql transaction - Refactor database interactions to utilize withTransaction utility
  services/server/src/server/apiv1/verification/private/stateless/private.stateless.handlers.ts
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/src/server/services/storageServices/AllianceDatabaseService.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/src/server/services/utils/Database.ts
  services/server/src/server/services/utils/database-util.ts
  services/server/test/integration/storageServices/SourcifyDatabaseService.spec.ts
Due: run-build-server

Support for Vyper in /private/replace-contract and test
  services/server/src/server/apiv1/verification/private/stateless/private.stateless.handlers.ts
  services/server/test/integration/apiv1/verification-handlers/verify.stateless.spec.ts
Due: run-build-server

Refactor private/replace-contract tests in a separate file
  services/server/test/integration/apiv1/verification-handlers/private.stateless.spec.ts
  services/server/test/integration/apiv1/verification-handlers/verify.stateless.spec.ts
Due: run-build-server

Remove json input from API v1 verify/solc-json log (#2225)
  services/server/src/server/apiv1/verification/solc-json/stateless/solc-json.stateless.handlers.ts
Due: run-build-server

fix: detect Livepeer ManagerProxy in proxyResolution (#2959)
  package-lock.json
  services/server/package.json
  services/server/src/apiv2.yaml
  services/server/src/server/services/utils/proxy-contract-util.ts
  services/server/test/unit/utils/proxy-bytecodes.json
  services/server/test/unit/utils/proxy-contract-util.spec.ts
Due: run-build-server

fix(compilers): correct historical Solidity layout sizing
  packages/compilers/src/lib/solidityStorageLayout.ts
  packages/compilers/test/solidityStorageLayout.spec.ts
Due: run-build-packages

fix(vyper): preserve transient layouts and scoped type definitions
  package-lock.json
  packages/compilers/src/lib/vyperStorageLayout.ts
  packages/compilers/src/lib/vyperStorageLayoutWorker.py
  packages/compilers/test/vyperStorageLayout.spec.ts
  services/database/massive-replace-script/vyper-storage-layout-backfill/README.md
  services/database/massive-replace-script/vyper-storage-layout-backfill/config-backfill-vyper-storage-layout.js
  services/database/package.json
  services/server/src/server/apiPrivate/customReplaceMethods.ts
  services/server/src/server/apiPrivate/paths.yaml
  services/server/test/integration/apiPrivate/private.spec.ts
  services/server/test/unit/customReplaceMethods.spec.ts
Due: run-build-server, run-build-packages

style(compilers): align layout types with pinned prettier
  packages/compilers/src/lib/solidityStorageLayout.ts
Due: run-build-packages

test(server): load backfill config within workspace boundaries
  services/server/test/unit/customReplaceMethods.spec.ts
Due: run-build-server

test(vyper): align fixtures with recovered transient layouts
  services/server/test/integration/apiPrivate/private.spec.ts
  services/server/test/integration/verification-cases/testdata/vyper/auxdata-0.3.8-different-version.json
  services/server/test/integration/verification-cases/testdata/vyper/auxdata-0.3.8.json
  services/server/test/integration/verification-cases/testdata/vyper/auxdata-0.4.0.json
  services/server/test/integration/verification-cases/testdata/vyper/auxdata-0.4.1-different-integrity.json
  services/server/test/integration/verification-cases/testdata/vyper/auxdata-0.4.1.json
  services/server/test/integration/verification-cases/testdata/vyper/constructor_args_immutables.json
Due: run-build-server

fix(deps): update all patch and minor dependencies
  .circleci/continue_config.yml
  package.json
  packages/bytecode-utils/package.json
  packages/compilers-types/package.json
  packages/compilers/package.json
  packages/lib-sourcify/package.json
  packages/test-helpers/package.json
  services/4byte/package.json
  services/database/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

feat(database): add created_at to compiled_contracts_metadata
  services/database/migrations/20260908145004_add_created_at_to_metadata.sql
  services/database/sourcify-database.sql
Due: none

chore: add release todo for the metadata created_at migration
  .release-todos/2963-metadata-created-at.md
Due: none

feat(database): add created_at to compiled_contracts_metadata (#2963)
  .release-todos/2963-metadata-created-at.md
  services/database/migrations/20260908145004_add_created_at_to_metadata.sql
  services/database/sourcify-database.sql
Due: none

chore(deps): update dependency csv-parse to v7.0.2 [security]
  package-lock.json
  services/4byte/package.json
Due: none

fix(server): reject an unknown TURBO_TOKEN at startup
  services/server/src/server/services/storageServices/TurboRepositoryService.ts
  services/server/test/unit/storage/TurboRepositoryService.spec.ts
Due: run-build-server

fix(server): make an unfundable Turbo wallet loud instead of silent
  services/server/.env.dev
  services/server/README.md
  services/server/src/server/cli.ts
  services/server/src/server/services/storageServices/TurboRepositoryService.ts
  services/server/src/server/types.ts
  services/server/test/unit/storage/TurboRepositoryService.spec.ts
Due: run-build-server

refactor(server): upload through @ardrive/turbo-upload, not the Turbo SDK
  package-lock.json
  services/server/.env.dev
  services/server/README.md
  services/server/package.json
  services/server/src/server/cli.ts
  services/server/src/server/services/storageServices/TurboRepositoryService.ts
  services/server/src/server/types.ts
  services/server/test/unit/storage/TurboRepositoryService.spec.ts
Due: run-build-server

feat(server): add write-only Arweave storage service via ArDrive Turbo
  package-lock.json
  services/server/.env.dev
  services/server/README.md
  services/server/package.json
  services/server/src/server/cli.ts
  services/server/src/server/services/StorageService.ts
  services/server/src/server/services/storageServices/TurboRepositoryService.ts
  services/server/src/server/services/storageServices/identifiers.ts
  services/server/src/server/types.ts
  services/server/test/unit/storage/TurboRepositoryService.spec.ts
Due: run-build-server

chore(server): correct the Turbo upload timeout comment
  services/server/src/server/services/storageServices/TurboRepositoryService.ts
Due: run-build-server

chore(server): depend on the published @ardrive/turbo-upload
  package-lock.json
  services/server/package.json
Due: run-build-server

docs: state the free tier correctly, and warn about the gateway default
  services/server/README.md
Due: run-build-server

docs: list the Turbo backend alongside the other storage services
  CLAUDE.md
Due: none

fix: default the gateway to the one the upload service names
  services/server/.env.dev
  services/server/README.md
  services/server/src/server/services/storageServices/TurboRepositoryService.ts
Due: run-build-server

docs: do not tell operators the free tier will cover them
  services/server/README.md
Due: run-build-server

test: remove the live ipfs.io dependency from monitor and server tests
  services/monitor/test/Monitor.spec.ts
  services/server/src/server/services/VerificationService.ts
  services/server/src/server/services/workers/verificationWorker.ts
  services/server/test/helpers/IpfsMockServer.ts
  services/server/test/helpers/LocalChainFixture.ts
  services/server/test/helpers/ServerFixture.ts
Due: run-build-monitor, run-build-server

feat(server): scope what the Turbo backend archives, by chain and match
  services/server/.env.dev
  services/server/README.md
  services/server/src/server/cli.ts
  services/server/src/server/services/storageServices/TurboRepositoryService.ts
  services/server/src/server/types.ts
  services/server/test/unit/storage/TurboRepositoryService.spec.ts
Due: run-build-server

Path conditions:
  run-build-monitor: any of: services/monitor/.*
  run-build-server: any of: services/server/.*
  run-build-repository: any of: h5ai-nginx
  run-build-packages: any of: packages/.*
  run-build-ui: any of: ui/.*
