Repository ethereum/sourcify: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-monitor, run-build-server, run-build-repository, run-build-packages, run-build-ui

Path conditions:
  run-build-monitor: any of: services/monitor/.*
  run-build-server: any of: services/server/.*
  run-build-repository: any of: h5ai-nginx
  run-build-packages: any of: packages/.*
  run-build-ui: any of: ui/.*

Update README styling
  services/server/README.md
Due: run-build-server

feat: add peaq network blockscout
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

add-chain-3338
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

fix(deps): update all patch and minor dependencies
  package-lock.json
  packages/bytecode-utils/package.json
  packages/compilers/package.json
  packages/lib-sourcify/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

Add database setup docs
  services/server/README.md
Due: run-build-server

Add PreRunCompilation and DatabaseCompilation
  packages/lib-sourcify/src/Compilation/PreRunCompilation.ts
  packages/lib-sourcify/src/Verification/Verification.ts
  packages/lib-sourcify/src/index.ts
  services/server/src/server/apiv1/verification/private/stateless/private.stateless.handlers.ts
  services/server/src/server/services/utils/DatabaseCompilation.ts
Due: run-build-server, run-build-packages

Add issue to add self-hosted instances
  .github/ISSUE_TEMPLATE/self-hosted-instance.md
Due: none

Add chain 3338 (#2185)
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

fix(deps): update all patch and minor dependencies
  package-lock.json
  packages/bytecode-utils/package.json
  packages/compilers/package.json
  packages/lib-sourcify/package.json
  services/database/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

fix(deps): update all patch and minor dependencies (#2192)
  package-lock.json
  packages/bytecode-utils/package.json
  packages/compilers/package.json
  packages/lib-sourcify/package.json
  services/database/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

V2 address lookup on all chains endpoint (#2183)
  services/server/src/apiv2.yaml
  services/server/src/openapi.yaml
  services/server/src/server/apiv2/lookup/lookup.handlers.ts
  services/server/src/server/apiv2/lookup/lookup.routes.ts
  services/server/src/server/services/StorageService.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/src/server/services/utils/Database.ts
  services/server/src/server/services/utils/database-util.ts
  services/server/test/helpers/LocalChainFixture.ts
  services/server/test/helpers/ServerFixture.ts
  services/server/test/helpers/helpers.ts
  services/server/test/integration/apiv2/lookup/all-chains.spec.ts
  services/server/test/integration/apiv2/lookup/contract-details.spec.ts
  services/server/test/integration/apiv2/lookup/contracts-by-chain.spec.ts
Due: run-build-server

Implement changes from the review
  README.md
  services/server/.env.dev
  services/server/.env.docker
  services/server/README.md
Due: run-build-server

Add note on migration environments
  services/server/README.md
Due: run-build-server

Add missing env copy step
  services/server/README.md
Due: run-build-server

Fix command ordering
  services/server/README.md
Due: run-build-server

Update server and database docs (#2188)
  README.md
  services/database/.env.template
  services/server/.env.dev
  services/server/.env.docker
  services/server/README.md
  services/server/docker-compose.yml
  services/server/src/config/default.js
  services/server/src/sourcify-chains-example.json
Due: run-build-server

Update changelogs
  packages/bytecode-utils/CHANGELOG.md
  packages/compilers-types/CHANGELOG.md
  packages/compilers/CHANGELOG.md
  packages/lib-sourcify/CHANGELOG.md
  services/database/CHANGELOG.md
  services/monitor/CHANGELOG.md
  services/server/CHANGELOG.md
Due: run-build-monitor, run-build-server, run-build-packages

chore(release): publish
  package-lock.json
  packages/bytecode-utils/package.json
  packages/compilers-types/package.json
  packages/compilers/package.json
  packages/lib-sourcify/package.json
  services/database/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

Fix wrong package being published when CIRCLE_TAG=@ethereum-sourcify/compilers-types@1.0.4
  .circleci/scripts/publish_to_npm.sh
Due: none

throwOnPartialMatch
  services/server/src/config/default.js
  services/server/src/server/cli.ts
  services/server/src/server/services/StorageService.ts
Due: run-build-server

Update comments
  services/server/src/config/default.js
Due: run-build-server

fix(deps): update all patch and minor dependencies
  package-lock.json
  package.json
  packages/lib-sourcify/package.json
  services/database/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

Fix npm not publishing sourcify-server because of prefix check
  .circleci/config.yml
  .circleci/scripts/publish_to_npm.sh
Due: none

PGUSER
  services/server/src/config/default.js
  services/server/src/server/apiv2/middlewares.ts
  services/server/src/server/cli.ts
  services/server/src/server/server.ts
  services/server/src/server/services/StorageService.ts
Due: run-build-server

Update lib-sourcify link to point to the correct staging branch
  services/server/README.md
Due: run-build-server

Shorten the metadata endpoint debug log
  services/server/src/server/apiv2/verification/verification.handlers.ts
Due: run-build-server

Move CORS settings as the first middleware
  services/server/src/server/server.ts
Due: run-build-server

fix(deps): update all patch and minor dependencies
  package-lock.json
  package.json
  packages/bytecode-utils/package.json
  packages/compilers/package.json
  packages/lib-sourcify/package.json
  services/database/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

fix(deps): update all patch and minor dependencies (#2205)
  package-lock.json
  package.json
  packages/bytecode-utils/package.json
  packages/compilers/package.json
  packages/lib-sourcify/package.json
  services/database/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

Improve DatabaseCompilation constructor
  services/server/src/server/services/utils/Database.ts
  services/server/src/server/services/utils/DatabaseCompilation.ts
Due: run-build-server

fix(deps): update all patch and minor dependencies (#2211)
  package-lock.json
  packages/bytecode-utils/package.json
  packages/compilers/package.json
  packages/lib-sourcify/package.json
  services/database/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

Verify via SolidityCompilation directly inside /verify/solc-json endpoint
  services/server/src/server/apiv1/verification/solc-json/stateless/solc-json.stateless.handlers.ts
  services/server/src/server/services/utils/etherscan-util.ts
  services/server/src/server/services/utils/parsing-util.ts
  services/server/test/unit/utils/etherscan-util.spec.ts
  services/server/test/unit/utils/parsing-util.spec.ts
Due: run-build-server

implement `replaceContract` endpoint
  services/server/src/server/apiv1/verification/private/stateless/private.stateless.handlers.ts
  services/server/src/server/apiv1/verification/private/stateless/private.stateless.routes.ts
  services/server/src/server/services/utils/Database.ts
  services/server/src/server/services/utils/SourcifyChainMock.ts
Due: run-build-server
