Repository ethereum/sourcify: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-monitor, run-build-server, run-build-repository, run-build-packages, run-build-ui

chore(release): publish
  package-lock.json
  packages/lib-sourcify/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

fix(deps): update all patch and minor dependencies
  package-lock.json
  packages/bytecode-utils/package.json
  packages/compilers/package.json
  packages/lib-sourcify/package.json
  services/database/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

Remove creatorTxHash's undefined assignment when creation match fails
  packages/lib-sourcify/src/Verification/Verification.ts
Due: run-build-packages

Split fetching the creation tx data in a separate try catch block from the actual creation match
  packages/lib-sourcify/src/Verification/Verification.ts
Due: run-build-packages

Add test for creation transaction hash mismatch in contract verification
  services/server/test/integration/apiv2/verification/verify.json.spec.ts
Due: run-build-server

add check `isJobCompleted` to "should fail matching with creation" test
  services/server/test/integration/apiv2/verification/verify.json.spec.ts
Due: run-build-server

fix(deps): update all patch and minor dependencies (#2153)
  package-lock.json
  packages/bytecode-utils/package.json
  packages/compilers/package.json
  packages/lib-sourcify/package.json
  services/database/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

In the release script don't merge staging to master
  scripts/release/git_utils.sh
  scripts/release/main.sh
Due: none

Add `supported` field to `etherscanApi` of `SourcifyChain`
  packages/lib-sourcify/src/SourcifyChain/SourcifyChain.ts
  packages/lib-sourcify/src/SourcifyChain/SourcifyChainTypes.ts
  services/server/src/sourcify-chains-default.json
Due: run-build-server, run-build-packages

Update contract-creation-util to use Etherscan API v2
  services/server/src/server/services/utils/contract-creation-util.ts
Due: run-build-server

Update etherscan-util to use Etherscan API v2
  services/server/src/server/services/utils/etherscan-util.ts
  services/server/test/helpers/etherscanResponseMocks.ts
Due: run-build-server

in apiv2 "should fail matching with creation tx" test, check also for non existing error and exact _match for runtime match
  services/server/test/integration/apiv2/verification/verify.json.spec.ts
Due: run-build-server

Remove `apiURL` from `etherscanApi` of `SourcifyChain`
  packages/lib-sourcify/src/SourcifyChain/SourcifyChain.ts
  packages/lib-sourcify/src/SourcifyChain/SourcifyChainTypes.ts
  services/server/README.md
  services/server/src/server/routes.ts
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
  services/server/test/chains/etherscan-instances.spec.ts
  services/server/test/integration/apiv1/verification-handlers/etherscan.spec.ts
Due: run-build-server, run-build-packages

Remove etherscan support for chains not supported by Etherscan API v2
  services/server/src/sourcify-chains-default.json
  services/server/test/helpers/etherscanInstanceContracts.json
Due: run-build-server

Remove creatorTxHash's undefined assignment when creation match fails (#2154)
  packages/lib-sourcify/src/Verification/Verification.ts
  services/server/test/integration/apiv2/verification/verify.json.spec.ts
Due: run-build-server, run-build-packages

Update chains.json
  services/server/src/chains.json
Due: run-build-server

Update chains.json (#2156)
  services/server/src/chains.json
Due: run-build-server

Rename Etherscan API key environment variables
  services/server/.env.dev
  services/server/src/sourcify-chains-default.json
Due: run-build-server

Use Etherscan API v2 (#2158)
  packages/lib-sourcify/src/SourcifyChain/SourcifyChain.ts
  packages/lib-sourcify/src/SourcifyChain/SourcifyChainTypes.ts
  services/server/.env.dev
  services/server/README.md
  services/server/src/server/routes.ts
  services/server/src/server/services/utils/contract-creation-util.ts
  services/server/src/server/services/utils/etherscan-util.ts
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
  services/server/test/chains/etherscan-instances.spec.ts
  services/server/test/helpers/etherscanInstanceContracts.json
  services/server/test/helpers/etherscanResponseMocks.ts
  services/server/test/integration/apiv1/verification-handlers/etherscan.spec.ts
Due: run-build-server, run-build-packages

Fix `findAuxdataPositions` handling the case of multiple equal auxdata - add test
  packages/lib-sourcify/src/Compilation/auxdataUtils.ts
  packages/lib-sourcify/test/Verification/Verification.spec.ts
  packages/lib-sourcify/test/sources/MultipleEqualAuxdatas/artifact.json
  packages/lib-sourcify/test/sources/MultipleEqualAuxdatas/metadata.json
  packages/lib-sourcify/test/sources/MultipleEqualAuxdatas/sources/lib/forge-std/src/console.sol
  packages/lib-sourcify/test/sources/MultipleEqualAuxdatas/sources/lib/openzeppelin-contracts/contracts/access/Ownable.sol
  packages/lib-sourcify/test/sources/MultipleEqualAuxdatas/sources/lib/openzeppelin-contracts/contracts/token/ERC721/ERC721.sol
  packages/lib-sourcify/test/sources/MultipleEqualAuxdatas/sources/lib/openzeppelin-contracts/contracts/token/ERC721/IERC721.sol
  packages/lib-sourcify/test/sources/MultipleEqualAuxdatas/sources/lib/openzeppelin-contracts/contracts/token/ERC721/IERC721Receiver.sol
  packages/lib-sourcify/test/sources/MultipleEqualAuxdatas/sources/lib/openzeppelin-contracts/contracts/token/ERC721/extensions/IERC721Metadata.sol
  packages/lib-sourcify/test/sources/MultipleEqualAuxdatas/sources/lib/openzeppelin-contracts/contracts/utils/Address.sol
  packages/lib-sourcify/test/sources/MultipleEqualAuxdatas/sources/lib/openzeppelin-contracts/contracts/utils/Context.sol
  packages/lib-sourcify/test/sources/MultipleEqualAuxdatas/sources/lib/openzeppelin-contracts/contracts/utils/Strings.sol
  packages/lib-sourcify/test/sources/MultipleEqualAuxdatas/sources/lib/openzeppelin-contracts/contracts/utils/introspection/ERC165.sol
  packages/lib-sourcify/test/sources/MultipleEqualAuxdatas/sources/lib/openzeppelin-contracts/contracts/utils/introspection/IERC165.sol
  packages/lib-sourcify/test/sources/MultipleEqualAuxdatas/sources/src/PeterTraits.sol
  packages/lib-sourcify/test/sources/MultipleEqualAuxdatas/sources/src/PetersMain.sol
  packages/lib-sourcify/test/sources/MultipleEqualAuxdatas/sources/src/TraitCategory.sol
  packages/lib-sourcify/test/sources/MultipleEqualAuxdatas/sources/src/common/Division.sol
  packages/lib-sourcify/test/sources/MultipleEqualAuxdatas/sources/src/common/Random.sol
  packages/lib-sourcify/test/sources/MultipleEqualAuxdatas/sources/src/common/RandomCtx.sol
  packages/lib-sourcify/test/sources/MultipleEqualAuxdatas/sources/src/common/Utils.sol
  packages/lib-sourcify/test/sources/MultipleEqualAuxdatas/sources/src/interfaces/IPeterStorage.sol
  packages/lib-sourcify/test/sources/MultipleEqualAuxdatas/sources/src/interfaces/ITraitStorage.sol
  packages/lib-sourcify/test/sources/MultipleEqualAuxdatas/sources/src/interfaces/TBABoilerplate/IAccountImplementation.sol
  packages/lib-sourcify/test/sources/MultipleEqualAuxdatas/sources/src/interfaces/TBABoilerplate/IAccountProxy.sol
  packages/lib-sourcify/test/sources/MultipleEqualAuxdatas/sources/src/interfaces/TBABoilerplate/IRegistry.sol
  packages/lib-sourcify/test/sources/MultipleEqualAuxdatas/sources/src/renderers/BodyRenderer.sol
  packages/lib-sourcify/test/sources/MultipleEqualAuxdatas/sources/src/renderers/RenderHelper.sol
  packages/lib-sourcify/test/sources/MultipleEqualAuxdatas/sources/src/renderers/TraitsRenderer.sol
Due: run-build-packages

add comment to "should verify a contract with multiple equal auxdatas"
  packages/lib-sourcify/test/Verification/Verification.spec.ts
Due: run-build-packages

Refactor findAuxdataPositions and add comments
  packages/lib-sourcify/src/Compilation/auxdataUtils.ts
Due: run-build-packages

revert `findAuxdataPositions` function comment
  packages/lib-sourcify/src/Compilation/auxdataUtils.ts
Due: run-build-packages

Resolve PR comments
  packages/lib-sourcify/src/Compilation/CompilationTypes.ts
  packages/lib-sourcify/src/Compilation/auxdataUtils.ts
Due: run-build-packages

Remove the unused `.diff` field, refactor var names and add comments to explain better
  packages/lib-sourcify/src/Compilation/CompilationTypes.ts
  packages/lib-sourcify/src/Compilation/auxdataUtils.ts
Due: run-build-packages

In "should verify a contract with multiple equal auxdatas" test check also for cborAxdata compilation artifacts
  packages/lib-sourcify/test/Verification/Verification.spec.ts
  packages/lib-sourcify/test/utils.ts
Due: run-build-packages

remove .only
  packages/lib-sourcify/test/Verification/Verification.spec.ts
Due: run-build-packages

Refactor findAuxdataPositions and add comments (#2160)
  packages/lib-sourcify/src/Compilation/CompilationTypes.ts
  packages/lib-sourcify/src/Compilation/auxdataUtils.ts
  packages/lib-sourcify/test/Verification/Verification.spec.ts
  packages/lib-sourcify/test/utils.ts
Due: run-build-packages

Fix `findAuxdataPositions` handling the case of multiple equal auxdata (#2159)
  packages/lib-sourcify/src/Compilation/CompilationTypes.ts
  packages/lib-sourcify/src/Compilation/auxdataUtils.ts
  packages/lib-sourcify/test/Verification/Verification.spec.ts
  packages/lib-sourcify/test/sources/MultipleEqualAuxdatas/artifact.json
  packages/lib-sourcify/test/sources/MultipleEqualAuxdatas/metadata.json
  packages/lib-sourcify/test/sources/MultipleEqualAuxdatas/sources/lib/forge-std/src/console.sol
  packages/lib-sourcify/test/sources/MultipleEqualAuxdatas/sources/lib/openzeppelin-contracts/contracts/access/Ownable.sol
  packages/lib-sourcify/test/sources/MultipleEqualAuxdatas/sources/lib/openzeppelin-contracts/contracts/token/ERC721/ERC721.sol
  packages/lib-sourcify/test/sources/MultipleEqualAuxdatas/sources/lib/openzeppelin-contracts/contracts/token/ERC721/IERC721.sol
  packages/lib-sourcify/test/sources/MultipleEqualAuxdatas/sources/lib/openzeppelin-contracts/contracts/token/ERC721/IERC721Receiver.sol
  packages/lib-sourcify/test/sources/MultipleEqualAuxdatas/sources/lib/openzeppelin-contracts/contracts/token/ERC721/extensions/IERC721Metadata.sol
  packages/lib-sourcify/test/sources/MultipleEqualAuxdatas/sources/lib/openzeppelin-contracts/contracts/utils/Address.sol
  packages/lib-sourcify/test/sources/MultipleEqualAuxdatas/sources/lib/openzeppelin-contracts/contracts/utils/Context.sol
  packages/lib-sourcify/test/sources/MultipleEqualAuxdatas/sources/lib/openzeppelin-contracts/contracts/utils/Strings.sol
  packages/lib-sourcify/test/sources/MultipleEqualAuxdatas/sources/lib/openzeppelin-contracts/contracts/utils/introspection/ERC165.sol
  packages/lib-sourcify/test/sources/MultipleEqualAuxdatas/sources/lib/openzeppelin-contracts/contracts/utils/introspection/IERC165.sol
  packages/lib-sourcify/test/sources/MultipleEqualAuxdatas/sources/src/PeterTraits.sol
  packages/lib-sourcify/test/sources/MultipleEqualAuxdatas/sources/src/PetersMain.sol
  packages/lib-sourcify/test/sources/MultipleEqualAuxdatas/sources/src/TraitCategory.sol
  packages/lib-sourcify/test/sources/MultipleEqualAuxdatas/sources/src/common/Division.sol
  packages/lib-sourcify/test/sources/MultipleEqualAuxdatas/sources/src/common/Random.sol
  packages/lib-sourcify/test/sources/MultipleEqualAuxdatas/sources/src/common/RandomCtx.sol
  packages/lib-sourcify/test/sources/MultipleEqualAuxdatas/sources/src/common/Utils.sol
  packages/lib-sourcify/test/sources/MultipleEqualAuxdatas/sources/src/interfaces/IPeterStorage.sol
  packages/lib-sourcify/test/sources/MultipleEqualAuxdatas/sources/src/interfaces/ITraitStorage.sol
  packages/lib-sourcify/test/sources/MultipleEqualAuxdatas/sources/src/interfaces/TBABoilerplate/IAccountImplementation.sol
  packages/lib-sourcify/test/sources/MultipleEqualAuxdatas/sources/src/interfaces/TBABoilerplate/IAccountProxy.sol
  packages/lib-sourcify/test/sources/MultipleEqualAuxdatas/sources/src/interfaces/TBABoilerplate/IRegistry.sol
  packages/lib-sourcify/test/sources/MultipleEqualAuxdatas/sources/src/renderers/BodyRenderer.sol
  packages/lib-sourcify/test/sources/MultipleEqualAuxdatas/sources/src/renderers/RenderHelper.sol
  packages/lib-sourcify/test/sources/MultipleEqualAuxdatas/sources/src/renderers/TraitsRenderer.sol
  packages/lib-sourcify/test/utils.ts
Due: run-build-packages

Add `errorData` to job endpoint
  packages/compilers-types/src/CompilationTypes.ts
  packages/compilers-types/src/SolidityTypes.ts
  packages/compilers-types/src/VyperTypes.ts
  packages/compilers/src/lib/common.ts
  packages/compilers/src/lib/solidityCompiler.ts
  packages/compilers/src/lib/vyperCompiler.ts
  packages/lib-sourcify/src/Compilation/AbstractCompilation.ts
  packages/lib-sourcify/src/Compilation/CompilationTypes.ts
  packages/lib-sourcify/src/SourcifyLibError.ts
  services/server/src/apiv2.yaml
  services/server/src/server/apiv2/errors.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/test/integration/apiv2/verification/verify.json.spec.ts
  services/server/test/integration/apiv2/verification/verify.metadata.spec.ts
  services/server/test/sources/vyper/testcontract3_fail/artifact.json
  services/server/test/sources/vyper/testcontract3_fail/test.vy
Due: run-build-server, run-build-packages

Fix failing tests
  packages/lib-sourcify/src/Compilation/CompilationTypes.ts
  services/server/test/integration/apiv2/jobs.spec.ts
  services/server/test/unit/verificationWorker.spec.ts
Due: run-build-server, run-build-packages

Update compilers test
  packages/compilers/test/solidityCompiler.spec.ts
Due: run-build-packages

Update changelogs
  packages/bytecode-utils/CHANGELOG.md
  packages/compilers/CHANGELOG.md
  packages/lib-sourcify/CHANGELOG.md
  services/database/CHANGELOG.md
  services/monitor/CHANGELOG.md
  services/server/CHANGELOG.md
Due: run-build-monitor, run-build-server, run-build-packages

chore(release): publish
  package-lock.json
  packages/bytecode-utils/package.json
  packages/compilers/package.json
  packages/lib-sourcify/package.json
  services/database/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

Fix PR comments
  packages/compilers-types/src/CompilationTypes.ts
  packages/compilers-types/src/SolidityTypes.ts
  packages/compilers-types/src/VyperTypes.ts
  packages/lib-sourcify/README.md
  packages/lib-sourcify/src/Compilation/CompilationTypes.ts
  packages/lib-sourcify/src/SourcifyLibError.ts
  services/server/src/apiv2.yaml
  services/server/test/integration/apiv2/verification/verify.json.spec.ts
Due: run-build-server, run-build-packages

fix types in unit tests
  packages/compilers-types/src/SolidityTypes.ts
  services/server/test/unit/verificationWorker.spec.ts
Due: run-build-server, run-build-packages

Update packages/lib-sourcify/README.md
  packages/lib-sourcify/README.md
Due: run-build-packages

Add `errorData` field to job schema
  services/server/src/apiv2.yaml
Due: run-build-server

Add `errorData` to job endpoint (#2162)
  packages/compilers-types/src/CompilationTypes.ts
  packages/compilers-types/src/SolidityTypes.ts
  packages/compilers-types/src/VyperTypes.ts
  packages/compilers/src/lib/common.ts
  packages/compilers/src/lib/solidityCompiler.ts
  packages/compilers/src/lib/vyperCompiler.ts
  packages/compilers/test/solidityCompiler.spec.ts
  packages/lib-sourcify/README.md
  packages/lib-sourcify/src/Compilation/AbstractCompilation.ts
  packages/lib-sourcify/src/Compilation/CompilationTypes.ts
  packages/lib-sourcify/src/SourcifyLibError.ts
  services/server/src/apiv2.yaml
  services/server/src/server/apiv2/errors.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/test/integration/apiv2/jobs.spec.ts
  services/server/test/integration/apiv2/verification/verify.json.spec.ts
  services/server/test/integration/apiv2/verification/verify.metadata.spec.ts
  services/server/test/sources/vyper/testcontract3_fail/artifact.json
  services/server/test/sources/vyper/testcontract3_fail/test.vy
  services/server/test/unit/verificationWorker.spec.ts
Due: run-build-server, run-build-packages

Path conditions:
  run-build-monitor: any of: services/monitor/.*
  run-build-server: any of: services/server/.*
  run-build-repository: any of: h5ai-nginx
  run-build-packages: any of: packages/.*
  run-build-ui: any of: ui/.*
