Repository ethereum/sourcify: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-monitor, run-build-server, run-build-repository, run-build-packages, run-build-ui

Use default telos RPCs
  services/server/src/sourcify-chains-default.json
Due: run-build-server

Update chains.json
  services/server/src/chains.json
Due: run-build-server

Skip Etherscan tests for external PRs (#2131)
  services/server/test/integration/apiv2/verification/verify.etherscan.spec.ts
Due: run-build-server

Fix missing compilation.metadata field in upgrade script
  services/server/src/server/apiv1/verification/private/stateless/private.stateless.handlers.ts
Due: run-build-server

fix(deps): update all patch and minor dependencies
  package-lock.json
  packages/bytecode-utils/package.json
  packages/compilers/package.json
  packages/lib-sourcify/package.json
  services/database/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

Add upgradeContract endpoint description
  services/server/src/server/apiv1/verification/private/stateless/private.stateless.handlers.ts
Due: run-build-server

fix(deps): update all patch and minor dependencies (#2117)
  package-lock.json
  packages/bytecode-utils/package.json
  packages/compilers/package.json
  packages/lib-sourcify/package.json
  services/database/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

fix(deps): update all patch and minor dependencies
  package-lock.json
  packages/bytecode-utils/package.json
  packages/compilers/package.json
  packages/lib-sourcify/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

improve upgradeContract description comment
  services/server/src/server/apiv1/verification/private/stateless/private.stateless.handlers.ts
Due: run-build-server

Update creation information only if `extractConstructorArgumentsTransformation` doesn't throw
  packages/lib-sourcify/src/Verification/Verification.ts
Due: run-build-packages

fix(deps): update all patch and minor dependencies (#2136)
  package-lock.json
  packages/bytecode-utils/package.json
  packages/compilers/package.json
  packages/lib-sourcify/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

Call internal `_verifyFromJsonInput` inside `_verifyFromEtherscan`
  services/server/src/server/services/workers/verificationWorker.ts
Due: run-build-server

Fix traceId not logged inside worker when verifying via Etherscan import (#2137)
  services/server/src/server/services/workers/verificationWorker.ts
Due: run-build-server

Stop versioning the monorepo
  CHANGELOG.md
  lerna.json
Due: none

Fix missing compilation.metadata field in upgrade script (#2135)
  packages/lib-sourcify/src/Verification/Verification.ts
  services/server/src/server/apiv1/verification/private/stateless/private.stateless.handlers.ts
Due: run-build-server, run-build-packages

Update the release script to do the tagging and releasing on a separate branch
  scripts/release/git_utils.sh
  scripts/release/main.sh
  scripts/release/release.sh
Due: none

Allow lerna version on release branches
  lerna.json
Due: none

Change lerna test command to fix tests
  .circleci/continue_config.yml
  .circleci/new_branch.yml
Due: none

Fix missing function
  scripts/release/main.sh
Due: none

Update the release script (#2139)
  .circleci/continue_config.yml
  .circleci/new_branch.yml
  CHANGELOG.md
  lerna.json
  scripts/release/git_utils.sh
  scripts/release/main.sh
  scripts/release/release.sh
Due: none

Update changelogs
  packages/bytecode-utils/CHANGELOG.md
  packages/compilers-types/CHANGELOG.md
  packages/compilers/CHANGELOG.md
  packages/lib-sourcify/CHANGELOG.md
  services/database/CHANGELOG.md
  services/monitor/CHANGELOG.md
  services/server/CHANGELOG.md
Due: run-build-monitor, run-build-server, run-build-packages

chore(release): publish
  package-lock.json
  packages/bytecode-utils/package.json
  packages/compilers-types/package.json
  packages/compilers/package.json
  packages/lib-sourcify/package.json
  services/database/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

Add temporary package data handling in release scripts
  .gitignore
  scripts/release/main.sh
  scripts/release/release.sh
  scripts/release/release_data_utils.sh
Due: none

Switch lerna to `--include-merged-tags` to fix detecting version changes every time
  scripts/release/release.sh
Due: none

Handle writing changelogs when a GUI editor is called in the release script
  scripts/release/release.sh
Due: none

Ensure changelog entry ends with a newline in release script
  scripts/release/release.sh
Due: none

Release process fix 2 (#2142)
  .gitignore
  scripts/release/main.sh
  scripts/release/release.sh
  scripts/release/release_data_utils.sh
Due: none

Handle `:` characters in metadata library paths
  packages/lib-sourcify/src/Validation/SolidityMetadataContract.ts
  packages/lib-sourcify/src/utils.ts
  packages/lib-sourcify/test/Validation/SolidityMetadataContract.spec.ts
Due: run-build-packages

Use `splitFullyQualifiedName` inside `verification.handlers.ts`
  services/server/src/server/apiv2/verification/verification.handlers.ts
Due: run-build-server

Adapt `database.spec.ts` to handle colon in path
  services/server/test/integration/database.spec.ts
Due: run-build-server

Add contract path and name to contract not found log
  packages/lib-sourcify/src/Compilation/AbstractCompilation.ts
Due: run-build-packages

Use `splitFullyQualifiedName` inside SourcifyDatabaseService
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
Due: run-build-server

Clarify in server README that a database is required for API v2
  services/server/README.md
Due: run-build-server

Return a 404 on /v2 endpoints if no database is configured
  services/server/src/server/apiv2/routes.ts
  services/server/test/integration/apiv2/v2.common.spec.ts
Due: run-build-server

Clarify that a Postgres database is required for API v2 (#2144)
  services/server/README.md
  services/server/src/server/apiv2/routes.ts
  services/server/test/integration/apiv2/v2.common.spec.ts
Due: run-build-server

Add warning log if no database is configured
  services/server/src/server/server.ts
Due: run-build-server

Add warning log if no database is configured (#2147)
  services/server/src/server/server.ts
Due: run-build-server

Handle `:` characters in contract paths correctly (#2143)
  packages/lib-sourcify/src/Compilation/AbstractCompilation.ts
  packages/lib-sourcify/src/Validation/SolidityMetadataContract.ts
  packages/lib-sourcify/src/utils.ts
  packages/lib-sourcify/test/Validation/SolidityMetadataContract.spec.ts
  services/server/src/server/apiv2/verification/verification.handlers.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/test/integration/database.spec.ts
Due: run-build-server, run-build-packages

Add support for zeroed-out placeholders to accept bytecodes from the database
  packages/lib-sourcify/src/Verification/Transformations.ts
Due: run-build-packages

Update changelogs
  packages/lib-sourcify/CHANGELOG.md
  services/monitor/CHANGELOG.md
  services/server/CHANGELOG.md
Due: run-build-monitor, run-build-server, run-build-packages

Path conditions:
  run-build-monitor: any of: services/monitor/.*
  run-build-server: any of: services/server/.*
  run-build-repository: any of: h5ai-nginx
  run-build-packages: any of: packages/.*
  run-build-ui: any of: ui/.*
