Repository ethereum/sourcify: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-monitor, run-build-server, run-build-repository, run-build-packages, run-build-ui

Path conditions:
  run-build-monitor: any of: services/monitor/.*
  run-build-server: any of: services/server/.*
  run-build-repository: any of: h5ai-nginx
  run-build-packages: any of: packages/.*
  run-build-ui: any of: ui/.*

fix legacyVerifyEndpoint missing variables
  services/server/src/server/controllers/verification/verify/stateless/verify.stateless.handlers.ts
Due: run-build-server

add logging token to the server options
  services/server/src/server/cli.ts
  services/server/src/server/server.ts
Due: run-build-server

add `hideIpInLogs` option in rateLimit options
  services/server/src/server/cli.ts
  services/server/src/server/server.ts
  services/server/test/helpers/ServerFixture.ts
Due: run-build-server

fix checkPerfectMatch middleware
  services/server/src/server/controllers/controllers.common.ts
Due: run-build-server

chore(deps): update all patch dependencies
  package-lock.json
  packages/lib-sourcify/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

fix after merge
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
Due: run-build-server

chore(deps): update all patch dependencies (#1656)
  package-lock.json
  packages/lib-sourcify/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

fix(deps): update all minor dependencies
  package-lock.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  services/database/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

fix(deps): update all minor dependencies (#1657)
  package-lock.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  services/database/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

Ahange s3-backup-check to check not the contracts from the previous day, but from 2 days before
  scripts/check-s3-backup.mjs
Due: none

Change `s3-backup-check` to check not the contracts from the previous day, but from 2 days before (#1658)
  scripts/check-s3-backup.mjs
Due: none

Remove running the `cli.js` by default in `server.js`
  package.json
  services/server/Dockerfile.debug
  services/server/src/server/server.ts
Due: run-build-server

fix deployContracts.ts missing import
  services/server/test/chains/deployContracts.ts
Due: run-build-server

Remove getAllMetadataAndSourcesFromSolcJson outside the local compiler file
  services/server/src/server/controllers/verification/solc-json/session/solc-json.session.handlers.ts
  services/server/src/server/controllers/verification/solc-json/stateless/solc-json.stateless.handlers.ts
  services/server/src/server/services/VerificationService.ts
  services/server/src/server/services/compiler/local/solidityCompiler.ts
Due: run-build-server

Check if loggingToken is falsey in auth check
  services/server/src/server/server.ts
Due: run-build-server

Make `compiled_contracts.creation_code_hash` not nullable
  services/database/migrations/20240924163455-make-compiled_contracts-creation-not-null.js
Due: none

Add TixChain Testnet 723107 (#1644)
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

Change monitor RPCs to Blast API
  services/monitor/.env.template
  services/monitor/monitorChains.json
Due: run-build-monitor

Add Ethereum Mainnet to avalancheApi creationTx fetching
  services/server/src/sourcify-chains-default.json
Due: run-build-server

Add routescanApi's for the chains that have it
  services/server/src/sourcify-chains-default.json
Due: run-build-server

Add routescanApi support in getCreatorTx
  services/server/src/server/services/utils/contract-creation-util.ts
Due: run-build-server

Add test for routescanApi, consolidate other Api tests into one
  packages/lib-sourcify/src/lib/types.ts
  services/server/test/unit/utils/contract-creation-util.spec.ts
Due: run-build-server, run-build-packages

Add rename_repov2_sol_extension.sh script
  scripts/rename_repov2_sol_extension.sh
Due: none

Remove .sol extension in repositoryV2 (#1648)
  services/server/src/server/services/storageServices/RepositoryV2Service.ts
Due: run-build-server

Add rename_repov2_sol_extension.sh script (#1664)
  scripts/rename_repov2_sol_extension.sh
Due: none

Fix etherscan instances test after server modularity refactoring
  services/server/test/chains/etherscan-instances.spec.ts
Due: run-build-server

Run typescript compiler during linting of server
  services/server/.prettierignore
  services/server/package.json
  services/server/tsconfig.lint.json
Due: run-build-server

Run build step before lint in CI
  .circleci/continue_config.yml
  .circleci/new_branch.yml
Due: none

Ignore dist/ folder when running prettier for monitor
  services/monitor/.prettierignore
Due: run-build-monitor

Fix etherscan instances test after server modularity refactoring (#1667)
  .circleci/continue_config.yml
  .circleci/new_branch.yml
  services/monitor/.prettierignore
  services/server/.prettierignore
  services/server/package.json
  services/server/test/chains/etherscan-instances.spec.ts
  services/server/tsconfig.lint.json
Due: run-build-monitor, run-build-server

Combine unit and integration tests in single c8 coverage reporter
  services/server/package.json
Due: run-build-server

routescanApi support for getCreatorTx (#1663)
  packages/lib-sourcify/src/lib/types.ts
  services/server/package.json
  services/server/src/server/services/utils/contract-creation-util.ts
  services/server/src/sourcify-chains-default.json
  services/server/test/unit/utils/contract-creation-util.spec.ts
Due: run-build-server, run-build-packages

Fix monitor Avalanche Blast RPC URLs
  services/monitor/monitorChains.json
Due: run-build-monitor

Log chainId and don't throw when can't send to Sourcify server
  services/monitor/src/ChainMonitor.ts
Due: run-build-monitor

Remove lauch.json Monitor with build
  .vscode/launch.json
Due: none

Add support for the new tables `sources` and `compiled_contracts_sources` (#1615)
  services/database/migrations/20240729112258-compiled_contracts-constraints.js
  services/database/migrations/20240918154734-add-sources-table.js
  services/server/src/server/controllers/repository/repository.routes.ts
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/src/server/services/utils/database-util.ts
  services/server/test/helpers/helpers.ts
  services/server/test/integration/database.spec.ts
Due: run-build-server

use source_hash instead of source_hash_keccak when finding sources
  services/server/src/server/services/utils/database-util.ts
Due: run-build-server

use bytes instead of string when searching for existing sources by source_hash
  services/server/src/server/services/utils/database-util.ts
Due: run-build-server
