Repository ethereum/sourcify: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-monitor, run-build-server, run-build-repository, run-build-packages, run-build-ui

Path conditions:
  run-build-monitor: any of: services/monitor/.*
  run-build-server: any of: services/server/.*
  run-build-repository: any of: h5ai-nginx
  run-build-packages: any of: packages/.*
  run-build-ui: any of: ui/.*

Add `v2/contracts/{chainId}` API endpoint
  services/server/src/common/errors/GenericErrorHandler.ts
  services/server/src/common/interfaces.ts
  services/server/src/server/apiv1/repository/repository.handlers.ts
  services/server/src/server/apiv1/repository/repository.routes.ts
  services/server/src/server/apiv2/errors.ts
  services/server/src/server/apiv2/lookup/lookup.handlers.ts
  services/server/src/server/apiv2/lookup/lookup.routes.ts
  services/server/src/server/apiv2/middlewares.ts
  services/server/src/server/apiv2/routes.ts
  services/server/src/server/routes.ts
  services/server/src/server/services/StorageService.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/src/server/services/utils/Database.ts
  services/server/src/server/services/utils/database-util.ts
  services/server/src/server/services/utils/util.ts
  services/server/src/server/types.ts
  services/server/test/helpers/helpers.ts
  services/server/test/integration/apiv1/repository-handlers/files.spec.ts
  services/server/test/integration/apiv2/lookup.spec.ts
Due: run-build-server

push vyper tests (still need refactoring)
  packages/lib-sourcify/src/Compilation/VyperCompilation.ts
  packages/lib-sourcify/test/Compilation/VyperCompilation.spec.ts
Due: run-build-packages

Implement solidity test to get 100% coverage
  packages/lib-sourcify/src/Compilation/SolidityCompilation.ts
  packages/lib-sourcify/test/Compilation/SolidityCompilation.spec.ts
  packages/lib-sourcify/test/sources/NoImmutableField/metadata.json
  packages/lib-sourcify/test/sources/NoImmutableField/sources/NoImmutable.sol
Due: run-build-packages

Create tables, fetch, format and insert rows for all tables
  services/database/dune/DuneDataClient.ts
  services/database/dune/DuneTableClient.ts
  services/database/dune/fetch-rows.ts
  services/database/dune/fetchRows.ts
  services/database/dune/formatRows.ts
  services/database/dune/index.ts
  services/database/pg-types.ts
Due: none

Add custom Dune types
  services/database/dune/DuneDataClient.ts
  services/database/dune/formatRows.ts
Due: none

Clean up unchaned rows in format functions
  services/database/dune/formatRows.ts
Due: none

add-chain-7200-839999
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

Update API v2 spec
  services/server/src/apiv2.yaml
Due: run-build-server

Change pagination to be id based
  services/server/src/server/apiv2/lookup/lookup.handlers.ts
  services/server/src/server/services/StorageService.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/src/server/services/utils/Database.ts
  services/server/src/server/services/utils/database-util.ts
  services/server/src/server/types.ts
  services/server/test/helpers/helpers.ts
  services/server/test/integration/apiv2/lookup.spec.ts
Due: run-build-server

Add `getTotalMatchLevel` util function
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/src/server/services/utils/util.ts
Due: run-build-server

Rename MatchLevel types
  services/server/src/server/apiv1/repository/repository.handlers.ts
  services/server/src/server/services/StorageService.ts
  services/server/src/server/services/storageServices/RepositoryV1Service.ts
  services/server/src/server/services/storageServices/RepositoryV2Service.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/src/server/services/utils/util.ts
  services/server/src/server/types.ts
Due: run-build-server

Add missing Etherscan api key env names
  services/server/src/sourcify-chains-default.json
Due: run-build-server

Add `v2/contracts/{chainId}` API endpoint (#1857)
  services/server/.mocharc.json
  services/server/package.json
  services/server/src/apiv2.yaml
  services/server/src/common/errors/GenericErrorHandler.ts
  services/server/src/common/interfaces.ts
  services/server/src/server/apiv1/controllers.common.ts
  services/server/src/server/apiv1/deprecated.routes.ts
  services/server/src/server/apiv1/repository/repository.handlers.ts
  services/server/src/server/apiv1/repository/repository.routes.ts
  services/server/src/server/apiv1/routes.ts
  services/server/src/server/apiv1/testartifacts/testartifacts.routes.ts
  services/server/src/server/apiv1/verification/etherscan/session/etherscan.session.routes.ts
  services/server/src/server/apiv1/verification/etherscan/stateless/etherscan.stateless.routes.ts
  services/server/src/server/apiv1/verification/session-state/session-state.routes.ts
  services/server/src/server/apiv1/verification/solc-json/session/solc-json.session.routes.ts
  services/server/src/server/apiv1/verification/solc-json/stateless/solc-json.stateless.routes.ts
  services/server/src/server/apiv1/verification/verify/session/verify.session.routes.ts
  services/server/src/server/apiv1/verification/verify/stateless/verify.stateless.routes.ts
  services/server/src/server/apiv1/verification/vyper/stateless/vyper.stateless.routes.ts
  services/server/src/server/apiv2/errors.ts
  services/server/src/server/apiv2/lookup/lookup.handlers.ts
  services/server/src/server/apiv2/lookup/lookup.routes.ts
  services/server/src/server/apiv2/middlewares.ts
  services/server/src/server/apiv2/routes.ts
  services/server/src/server/common.ts
  services/server/src/server/routes.ts
  services/server/src/server/server.ts
  services/server/src/server/services/StorageService.ts
  services/server/src/server/services/storageServices/RepositoryV1Service.ts
  services/server/src/server/services/storageServices/RepositoryV2Service.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/src/server/services/utils/Database.ts
  services/server/src/server/services/utils/database-util.ts
  services/server/src/server/services/utils/util.ts
  services/server/src/server/types.ts
  services/server/test/helpers/helpers.ts
  services/server/test/integration/apiv1/repository-handlers/files.spec.ts
  services/server/test/integration/apiv2/lookup.spec.ts
Due: run-build-server

Implement functionalities to allow sync in batch
  services/database/dune/DuneTableClient.ts
  services/database/dune/README.md
  services/database/dune/SourcifyDuneSyncClient.ts
  services/database/dune/fetchRows.ts
  services/database/dune/index.ts
Due: none

Add missing Etherscan api key env names (#1860)
  services/server/src/sourcify-chains-default.json
Due: run-build-server

Refactor database fetching functions to use lastValue for pagination instead of page number; update SourcifyDuneSyncClient to accommodate new pagination logic and improve data fetching efficiency.
  services/database/dune/SourcifyDuneSyncClient.ts
  services/database/dune/fetchRows.ts
Due: none

fix(deps): update all patch dependencies
  package-lock.json
  package.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  services/database/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

rm some unused fields.
  services/server/src/sourcify-chains-default.json
Due: run-build-server

fix(deps): update all patch dependencies (#1862)
  package-lock.json
  package.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  services/database/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

fix(deps): update all minor dependencies
  package-lock.json
  services/server/package.json
Due: run-build-server

change page size
  services/database/dune/SourcifyDuneSyncClient.ts
Due: none

Implement functionalities to allow sync in batch (#1861)
  services/database/dune/DuneTableClient.ts
  services/database/dune/README.md
  services/database/dune/SourcifyDuneSyncClient.ts
  services/database/dune/fetchRows.ts
  services/database/dune/index.ts
Due: none

fix(deps): update all minor dependencies (#1863)
  package-lock.json
  services/server/package.json
Due: run-build-server

add blockscoutApi fields
  services/server/src/sourcify-chains-default.json
Due: run-build-server

add-chain-7200-839999 (#1858)
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

Add VerifiedContract type
  services/server/src/server/apiv1/repository/repository.handlers.ts
  services/server/src/server/services/utils/database-util.ts
  services/server/src/server/services/utils/proxy-contract-util.ts
  services/server/src/server/types.ts
Due: run-build-server

Add tests for GET /v2/contracts/:chainId/:address endpoint
  services/server/test/helpers/LocalChainFixture.ts
  services/server/test/helpers/helpers.ts
  services/server/test/integration/apiv2/lookup.spec.ts
  services/server/test/testcontracts/Storage/Storage.json
Due: run-build-server

add delay after table creation
  services/database/dune/SourcifyDuneSyncClient.ts
Due: none

add README
  services/database/dune/README.md
Due: none

Refactor Vyper tests
  packages/lib-sourcify/src/Compilation/VyperCompilation.ts
  packages/lib-sourcify/test/Compilation/VyperCompilation.spec.ts
Due: run-build-packages

remove unused code
  services/database/dune/DuneDataClient.ts
Due: none

Add Dune upload script (#1866)
  services/database/.env.template
  services/database/dune/DuneDataClient.ts
  services/database/dune/DuneTableClient.ts
  services/database/dune/README.md
  services/database/dune/SourcifyDuneSyncClient.ts
  services/database/dune/fetchRows.ts
  services/database/dune/formatRows.ts
  services/database/dune/index.ts
  services/database/pg-types.ts
  services/database/tsconfig.json
Due: none

refactor solidity tests
  packages/lib-sourcify/test/Compilation/SolidityCompilation.spec.ts
  packages/lib-sourcify/test/Compilation/VyperCompilation.spec.ts
Due: run-build-packages

Fix matching creation bytecode when no cborAuxdataPositions could be generated
  packages/lib-sourcify/src/lib/verification.ts
  packages/lib-sourcify/test/verification.spec.ts
Due: run-build-packages

Fix matching creation bytecode when no cborAuxdataPositions could be generated (#1867)
  packages/lib-sourcify/src/lib/verification.ts
  packages/lib-sourcify/test/verification.spec.ts
Due: run-build-packages

Update packages/lib-sourcify/src/Compilation/VyperCompilation.ts
  packages/lib-sourcify/src/Compilation/VyperCompilation.ts
Due: run-build-packages

Update packages/lib-sourcify/test/Compilation/VyperCompilation.spec.ts
  packages/lib-sourcify/test/Compilation/VyperCompilation.spec.ts
Due: run-build-packages

fix duplicate check
  packages/lib-sourcify/test/Compilation/SolidityCompilation.spec.ts
Due: run-build-packages
