Repository ethereum/sourcify: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-monitor, run-build-server, run-build-repository, run-build-packages, run-build-ui

fix(deps): update all patch and minor dependencies (#2161)
  package-lock.json
  packages/bytecode-utils/package.json
  packages/compilers/package.json
  packages/lib-sourcify/package.json
  services/database/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

Change Codecov status checks
  codecov.yml
Due: none

Change Codecov status checks (#2170)
  codecov.yml
Due: none

Include errors in the Compiler error log
  packages/lib-sourcify/src/Compilation/AbstractCompilation.ts
Due: run-build-packages

Update database and server README files
  services/database/README.md
  services/server/README.md
Due: run-build-server

add storeType comment to default.js
  services/server/src/config/default.js
Due: run-build-server

Update database and server README files (#2175)
  services/database/README.md
  services/server/README.md
  services/server/src/config/default.js
Due: run-build-server

Throw an error on conflict when inserting a verified_contract
  services/server/src/server/services/utils/Database.ts
Due: run-build-server

Add test for SourcifyDatabaseService
  packages/compilers-types/src/SolidityTypes.ts
  services/server/src/server/services/StorageService.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/test/helpers/mocks.ts
  services/server/test/integration/storageServices/SourcifyDatabaseService.spec.ts
Due: run-build-server, run-build-packages

fix(deps): update all patch and minor dependencies
  package-lock.json
  packages/lib-sourcify/package.json
  services/database/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

fix(deps): update all patch and minor dependencies (#2178)
  package-lock.json
  packages/lib-sourcify/package.json
  services/database/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

Handle invalid json body error
  services/server/src/server/apiv2/errors.ts
Due: run-build-server

Add log.debug statement for all errors
  services/server/src/common/errors/GenericErrorHandler.ts
Due: run-build-server

test for invalid_json
  services/server/test/integration/apiv2/verification/verify.json.spec.ts
Due: run-build-server

Throw if unable to fetch the compiler
  packages/compilers/src/lib/solidityCompiler.ts
  packages/compilers/src/lib/vyperCompiler.ts
  packages/compilers/test/solidityCompiler.spec.ts
Due: run-build-packages

Change genericError's catch error log
  services/server/src/common/errors/GenericErrorHandler.ts
Due: run-build-server

Catch if solc binary fetching fails, but eventually throw
  packages/compilers/src/lib/solidityCompiler.ts
Due: run-build-packages

Throw an error on conflict when inserting a verified_contract (#2176)
  packages/compilers-types/src/SolidityTypes.ts
  services/server/src/server/services/StorageService.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/src/server/services/utils/Database.ts
  services/server/test/helpers/mocks.ts
  services/server/test/integration/storageServices/SourcifyDatabaseService.spec.ts
Due: run-build-server, run-build-packages

Throw on fetching solc and vyper instead of `bool` returns
  packages/compilers/src/lib/solidityCompiler.ts
  packages/compilers/src/lib/vyperCompiler.ts
  services/server/src/server/apiv2/verification/verification.handlers.ts
Due: run-build-server, run-build-packages

Create APIv2 spec for /contract/allChains/{address}
  services/server/src/apiv2.yaml
  services/server/src/openapi.yaml
Due: run-build-server

Add missing matchId field in apiv2.yaml
  services/server/src/apiv2.yaml
Due: run-build-server

Bump API v2.0 to v2.1
  services/server/src/openapi.yaml
Due: run-build-server

Add contract creation transaction fetching via VeChain Stats
  packages/lib-sourcify/src/SourcifyChain/SourcifyChainTypes.ts
  services/server/.env.dev
  services/server/src/server/services/utils/contract-creation-util.ts
  services/server/src/sourcify-chains-default.json
  services/server/test/unit/utils/contract-creation-util.spec.ts
Due: run-build-server, run-build-packages

e2e implementation of /v2/contract/allChains/:address
  services/server/src/server/apiv2/lookup/lookup.handlers.ts
  services/server/src/server/apiv2/lookup/lookup.routes.ts
  services/server/src/server/services/StorageService.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/src/server/services/utils/Database.ts
  services/server/src/server/services/utils/database-util.ts
Due: run-build-server

Add tests for /v2/contract/allChains/:address endpoint
  services/server/test/helpers/LocalChainFixture.ts
  services/server/test/helpers/ServerFixture.ts
  services/server/test/integration/apiv2/lookup.spec.ts
Due: run-build-server

fix(deps): update all patch and minor dependencies
  package-lock.json
  packages/bytecode-utils/package.json
  packages/compilers/package.json
  packages/lib-sourcify/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

Handle invalid json body error, throw if unable to fetch the compiler (#2179)
  packages/compilers/src/lib/solidityCompiler.ts
  packages/compilers/src/lib/vyperCompiler.ts
  packages/compilers/test/solidityCompiler.spec.ts
  services/server/src/common/errors/GenericErrorHandler.ts
  services/server/src/server/apiv2/errors.ts
  services/server/src/server/apiv2/verification/verification.handlers.ts
  services/server/test/integration/apiv2/verification/verify.json.spec.ts
Due: run-build-server, run-build-packages

Add contract creation transaction fetching via VeChain Stats (#2182)
  packages/lib-sourcify/src/SourcifyChain/SourcifyChainTypes.ts
  services/server/.env.dev
  services/server/src/server/services/utils/contract-creation-util.ts
  services/server/src/sourcify-chains-default.json
  services/server/test/unit/utils/contract-creation-util.spec.ts
Due: run-build-server, run-build-packages

fix(deps): update all patch and minor dependencies (#2184)
  package-lock.json
  packages/bytecode-utils/package.json
  packages/compilers/package.json
  packages/lib-sourcify/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

Modify server quick start docs, change READMEs, change default configs
  README.md
  services/database/.env.template
  services/server/.env.dev
  services/server/README.md
  services/server/src/config/default.js
Due: run-build-server

Update server README
  services/server/README.md
Due: run-build-server

Update services/server/src/apiv2.yaml
  services/server/src/apiv2.yaml
Due: run-build-server

Incorporate requested PR changes
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/test/integration/apiv2/lookup.spec.ts
Due: run-build-server

Change allChains endpoint to all-chains
  services/server/src/apiv2.yaml
  services/server/src/openapi.yaml
  services/server/src/server/apiv2/lookup/lookup.routes.ts
  services/server/test/integration/apiv2/lookup.spec.ts
Due: run-build-server

Add assertions to the verify helper function to detect when verification fails for some reason
  services/server/test/helpers/helpers.ts
Due: run-build-server

Fix verifyContract expects when no address was passed (its optional)
  services/server/test/helpers/helpers.ts
Due: run-build-server

Split v2 lookup tests into multiple files
  services/server/test/integration/apiv2/lookup/all-chains.spec.ts
  services/server/test/integration/apiv2/lookup/contract-details.spec.ts
  services/server/test/integration/apiv2/lookup/contracts-by-chain.spec.ts
Due: run-build-server

Add instant Docker run .yaml .env and docs
  services/server/.env.docker
  services/server/README.md
  services/server/docker-compose.yml
  services/server/src/sourcify-chains-example.json
Due: run-build-server

Add notes about postgres user
  services/server/README.md
Due: run-build-server

Add example chains file in qucik start
  services/server/README.md
Due: run-build-server

Path conditions:
  run-build-monitor: any of: services/monitor/.*
  run-build-server: any of: services/server/.*
  run-build-repository: any of: h5ai-nginx
  run-build-packages: any of: packages/.*
  run-build-ui: any of: ui/.*
