Repository ethereum/sourcify: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-monitor, run-build-server, run-build-repository, run-build-packages, run-build-ui

Path conditions:
  run-build-monitor: any of: services/monitor/.*
  run-build-server: any of: services/server/.*
  run-build-repository: any of: h5ai-nginx
  run-build-packages: any of: packages/.*
  run-build-ui: any of: ui/.*

chore(release): publish
  package-lock.json
  package.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  services/database/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

Give different titles to different staging->master PRs
  scripts/release/git_utils.sh
  scripts/release/main.sh
Due: none

Add server tests for Vyper support
  packages/lib-sourcify/test/utils.ts
  services/server/src/server/controllers/verification/vyper/stateless/vyper.stateless.handlers.ts
  services/server/test/integration/verification-handlers/verify.stateless.spec.ts
  services/server/test/integration/verification-handlers/vyper.stateless.spec.ts
  services/server/test/sources/vyper/testcontract/artifact.json
  services/server/test/sources/vyper/testcontract/test.vy
  services/server/test/sources/vyper/testcontract2/artifact.json
  services/server/test/sources/vyper/testcontract2/test.vy
Due: run-build-server, run-build-packages

Remove Lambda compiler code
  package-lock.json
  serverless/compiler-lambda/index.js
  serverless/compiler-lambda/package-lock.json
  serverless/compiler-lambda/package.json
  services/server/.env.dev
  services/server/README.md
  services/server/package.json
  services/server/src/config/default.js
  services/server/src/config/master.js
  services/server/src/config/migration.js
  services/server/src/config/staging.js
  services/server/src/server/cli.ts
  services/server/src/server/services/compiler/lambda-with-fallback/SolcLambdaWithLocalFallback.ts
  services/server/src/server/services/compiler/lambda/SolcLambda.ts
Due: run-build-server

Remove Lambda compiler code (#1782)
  package-lock.json
  serverless/compiler-lambda/index.js
  serverless/compiler-lambda/package-lock.json
  serverless/compiler-lambda/package.json
  services/server/.env.dev
  services/server/README.md
  services/server/package.json
  services/server/src/config/default.js
  services/server/src/config/master.js
  services/server/src/config/migration.js
  services/server/src/config/staging.js
  services/server/src/server/cli.ts
  services/server/src/server/services/compiler/lambda-with-fallback/SolcLambdaWithLocalFallback.ts
  services/server/src/server/services/compiler/lambda/SolcLambda.ts
Due: run-build-server

Add support for Vyper cbor auxdata in bytecode-utils and consequently in VyperCheckedContract
  .vscode/launch.json
  package-lock.json
  packages/bytecode-utils/README.md
  packages/bytecode-utils/package.json
  packages/bytecode-utils/src/lib/bytecode.ts
  packages/bytecode-utils/test/bytecode.spec.ts
  packages/bytecode-utils/test/bytecodes/vyper-cbor-no-array.hex
  packages/bytecode-utils/test/bytecodes/vyper-integrity.hex
  packages/bytecode-utils/test/bytecodes/vyper-no-auxdata-length.hex
  packages/bytecode-utils/test/bytecodes/vyper-no-integrity.hex
  packages/lib-sourcify/src/lib/AbstractCheckedContract.ts
  packages/lib-sourcify/src/lib/SolidityCheckedContract.ts
  packages/lib-sourcify/src/lib/VyperCheckedContract.ts
  packages/lib-sourcify/src/lib/verification.ts
  services/monitor/src/ChainMonitor.ts
  services/monitor/src/util.ts
  services/server/src/server/controllers/verification/session-state/session-state.handlers.ts
Due: run-build-monitor, run-build-server, run-build-packages

handle vyper incorrect semver versions, support auxdata position also for versions < 0.3.10
  packages/lib-sourcify/src/lib/VyperCheckedContract.ts
Due: run-build-packages

Add tests for Vyper support (#1781)
  packages/lib-sourcify/test/functions.spec.ts
  packages/lib-sourcify/test/sources/Vyper/testcontract/artifact.json
  packages/lib-sourcify/test/sources/Vyper/testcontract/test.vy
  packages/lib-sourcify/test/sources/Vyper/testcontract2/artifact.json
  packages/lib-sourcify/test/sources/Vyper/testcontract2/test.vy
  packages/lib-sourcify/test/verification.spec.ts
  services/server/src/server/controllers/verification/vyper/stateless/vyper.stateless.handlers.ts
  services/server/test/integration/verification-handlers/verify.stateless.spec.ts
  services/server/test/integration/verification-handlers/vyper.stateless.spec.ts
  services/server/test/sources/vyper/testcontract/artifact.json
  services/server/test/sources/vyper/testcontract/test.vy
  services/server/test/sources/vyper/testcontract2/artifact.json
  services/server/test/sources/vyper/testcontract2/test.vy
Due: run-build-server, run-build-packages

Add Vyper documentation in READMEs
  README.md
  packages/bytecode-utils/README.md
  packages/lib-sourcify/README.md
  services/server/README.md
Due: run-build-server, run-build-packages

improve lib-sourcify readme
  packages/lib-sourcify/README.md
Due: run-build-packages

improve lib-sourcify documentation
  packages/lib-sourcify/README.md
Due: run-build-packages

Refactor Solidity and Vyper contract handling to improve auxdata extraction
  packages/lib-sourcify/src/lib/SolidityCheckedContract.ts
  packages/lib-sourcify/src/lib/VyperCheckedContract.ts
  services/monitor/src/ChainMonitor.ts
  services/server/src/server/controllers/verification/session-state/session-state.handlers.ts
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
Due: run-build-monitor, run-build-server, run-build-packages

add comment to explain `generateCborAuxdataPositions` return conditions
  packages/lib-sourcify/src/lib/SolidityCheckedContract.ts
  packages/lib-sourcify/src/lib/VyperCheckedContract.ts
Due: run-build-packages

fix version type in docs
  packages/bytecode-utils/README.md
Due: run-build-packages

Refactor bytecode decoding to replace `compiler` with `vyperVersion` in Vyper-related types and tests.
  packages/bytecode-utils/src/lib/bytecode.ts
  packages/bytecode-utils/test/bytecode.spec.ts
Due: run-build-packages

Add support for Vyper cbor auxdata in bytecode-utils and in VyperCheckedContract (#1783)
  .vscode/launch.json
  package-lock.json
  packages/bytecode-utils/README.md
  packages/bytecode-utils/package.json
  packages/bytecode-utils/src/lib/bytecode.ts
  packages/bytecode-utils/test/bytecode.spec.ts
  packages/bytecode-utils/test/bytecodes/vyper-cbor-no-array.hex
  packages/bytecode-utils/test/bytecodes/vyper-integrity.hex
  packages/bytecode-utils/test/bytecodes/vyper-no-auxdata-length.hex
  packages/bytecode-utils/test/bytecodes/vyper-no-integrity.hex
  packages/lib-sourcify/src/lib/AbstractCheckedContract.ts
  packages/lib-sourcify/src/lib/SolidityCheckedContract.ts
  packages/lib-sourcify/src/lib/VyperCheckedContract.ts
  packages/lib-sourcify/src/lib/verification.ts
  services/monitor/src/ChainMonitor.ts
  services/monitor/src/util.ts
  services/server/src/server/controllers/verification/session-state/session-state.handlers.ts
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
Due: run-build-monitor, run-build-server, run-build-packages

Add Vyper documentation in READMEs (#1786)
  README.md
  packages/bytecode-utils/README.md
  packages/lib-sourcify/README.md
  services/server/README.md
Due: run-build-server, run-build-packages

fix comment in decode byper bytecode function
  packages/bytecode-utils/src/lib/bytecode.ts
Due: run-build-packages

wip
  packages/lib-sourcify/test/sources/Vyper/testcontract/vyper-0.3.4/artifact.json
  packages/lib-sourcify/test/verification.spec.ts
Due: run-build-packages

chore(deps): update all patch dependencies
  package-lock.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

chore(deps): update all patch dependencies (#1787)
  package-lock.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

fix(deps): update all minor dependencies
  package-lock.json
  packages/lib-sourcify/package.json
  services/server/package.json
Due: run-build-server, run-build-packages

fix(deps): update all minor dependencies (#1788)
  package-lock.json
  packages/lib-sourcify/package.json
  services/server/package.json
Due: run-build-server, run-build-packages

Add support for immutables
  packages/lib-sourcify/src/lib/VyperCheckedContract.ts
  packages/lib-sourcify/src/lib/verification.ts
  packages/lib-sourcify/test/sources/Vyper/withImmutables/artifact.json
  packages/lib-sourcify/test/sources/Vyper/withImmutables/test.vy
  packages/lib-sourcify/test/verification.spec.ts
  services/server/src/server/controllers/verification/verify/stateless/verify.stateless.handlers.ts
Due: run-build-server, run-build-packages

Remove exclusive test execution for Vyper in verification.spec.ts
  packages/lib-sourcify/test/verification.spec.ts
Due: run-build-packages

future-proof getImmutableReferences
  packages/lib-sourcify/src/lib/VyperCheckedContract.ts
Due: run-build-packages

Add support for immutables in Vyper (#1790)
  packages/lib-sourcify/src/lib/AbstractCheckedContract.ts
  packages/lib-sourcify/src/lib/SolidityCheckedContract.ts
  packages/lib-sourcify/src/lib/VyperCheckedContract.ts
  packages/lib-sourcify/src/lib/types.ts
  packages/lib-sourcify/src/lib/verification.ts
  packages/lib-sourcify/test/sources/Vyper/withImmutables/artifact.json
  packages/lib-sourcify/test/sources/Vyper/withImmutables/test.vy
  packages/lib-sourcify/test/verification.spec.ts
  services/server/src/server/controllers/verification/verify/stateless/verify.stateless.handlers.ts
Due: run-build-server, run-build-packages

Add database tests for Vyper contract auxdata
  packages/lib-sourcify/src/lib/VyperCheckedContract.ts
  services/server/test/helpers/assertions.ts
  services/server/test/integration/database.spec.ts
  services/server/test/verifier-alliance/vyper/auxdata-0.3.4.json
  services/server/test/verifier-alliance/vyper/auxdata-0.3.8.json
  services/server/test/verifier-alliance/vyper/auxdata-0.4.0.json
  services/server/test/verifier-alliance/vyper/auxdata-0.4.1.json
Due: run-build-server, run-build-packages

Add database test for Vyper constructor arguments and immutables transformations
  services/server/test/integration/database.spec.ts
  services/server/test/verifier-alliance/vyper/constructor_args_immutables.json
Due: run-build-server

Add verify endpoint test for auxdata transformation with wrong integrity hash
  services/server/test/integration/verification-handlers/vyper.stateless.spec.ts
Due: run-build-server

Updated the Etherscan verification handler to process Vyper contracts alongside Solidity contracts
  packages/lib-sourcify/src/lib/IVyperCompiler.ts
  packages/lib-sourcify/src/lib/types.ts
  services/server/src/server/controllers/verification/etherscan/etherscan.common.ts
  services/server/src/server/controllers/verification/etherscan/stateless/etherscan.stateless.handlers.ts
Due: run-build-server, run-build-packages

Add verify endpoint tests for auxdata transformation with wrong vyper version
  services/server/test/integration/verification-handlers/vyper.stateless.spec.ts
Due: run-build-server

Add lib-sourcify test for auxdata transformation
  packages/lib-sourcify/test/sources/Vyper/testcontract/wrongAuxdata/artifact.json
  packages/lib-sourcify/test/verification.spec.ts
Due: run-build-packages

Update README.md
  README.md
Due: none

Fix typo (#1805)
  README.md
Due: none

Add Issue Board and Milestones to README
  README.md
Due: none
