Repository ethereum/sourcify: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-monitor, run-build-server, run-build-repository, run-build-packages, run-build-ui

Path conditions:
  run-build-monitor: any of: services/monitor/.*
  run-build-server: any of: services/server/.*
  run-build-repository: any of: h5ai-nginx
  run-build-packages: any of: packages/.*
  run-build-ui: any of: ui/.*

Update all minor dependencies
  package-lock.json
  packages/lib-sourcify/package.json
  services/server/package.json
Due: run-build-server, run-build-packages

point `check-s3-backup` test to Filebase S3
  scripts/check-s3-backup.mjs
Due: none

GCP type log severities for monitor
  services/monitor/src/logger.ts
Due: run-build-monitor

Point `check-s3-backup` test to Filebase S3 (#1580)
  scripts/check-s3-backup.mjs
Due: none

GCP type log severities for monitor (#1581)
  services/monitor/src/logger.ts
Due: run-build-monitor

Fix overwriting the files passed to the server when they have the same name
  packages/lib-sourcify/src/lib/validation.ts
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server, run-build-packages

in `readFilesRecursively` use absolute path instead as file key
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

Fix filename collusion (#1582)
  packages/lib-sourcify/src/lib/validation.ts
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server, run-build-packages

Fix overwriting the files passed to the server when they have the same name
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

Remove chain 1433, remove duplicate chain test sources
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
  services/server/test/chains/sources/1127469/multicall3.metadata.json
  services/server/test/chains/sources/1285/Incrementer.sol
  services/server/test/chains/sources/1285/metadata.json
  services/server/test/chains/sources/1287/Incrementer.sol
  services/server/test/chains/sources/1287/metadata.json
  services/server/test/chains/sources/1433/metadata.json
  services/server/test/chains/sources/1433/stg.sol
  services/server/test/chains/sources/2037/multicall3.metadata.json
  services/server/test/chains/sources/2038/multicall3.metadata.json
  services/server/test/chains/sources/2044/multicall3.metadata.json
  services/server/test/chains/sources/333000333/multicall3.metadata.json
  services/server/test/chains/sources/78430/multicall3.metadata.json
  services/server/test/chains/sources/78431/multicall3.metadata.json
  services/server/test/chains/sources/78432/multicall3.metadata.json
  services/server/test/chains/sources/incrementer/Incrementer.sol
  services/server/test/chains/sources/incrementer/metadata.json
  services/server/test/chains/sources/multicall-avalabs/metadata.json
  services/server/test/chains/sources/multicall-avalabs/sources/Multicall3.sol
  services/server/test/chains/sources/multicall-literal-contents/multicall3.metadata.json
  services/server/test/chains/sources/multicall-src/metadata.json
  services/server/test/chains/sources/multicall-src/sources/Multicall3.sol
  services/server/test/chains/sources/multicall/Multicall3.sol
  services/server/test/chains/sources/multicall/multicall3.metadata.json
Due: run-build-server

Update monitored chains
  services/monitor/monitorChains.json
Due: run-build-monitor

Add chain 1625
  package-lock.json
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

Update all minor dependencies (#1578)
  package-lock.json
  packages/lib-sourcify/package.json
  services/server/package.json
Due: run-build-server, run-build-packages

Update all patch dependencies (#1577)
  package-lock.json
  packages/lib-sourcify/package.json
  services/monitor/package.json
  services/server/package.json
  ui/Dockerfile
  ui/package.json
Due: run-build-monitor, run-build-server, run-build-packages, run-build-ui

Throw HTTP 409 when a partial match already exists on partial verification
  services/server/src/common/errors/ConflictError.ts
  services/server/src/server/services/StorageService.ts
  services/server/test/integration/verification-handlers/verify.stateless.spec.ts
Due: run-build-server

Add database script to import all contracts with creator-tx-hash.txt
  services/database/scripts.mjs
Due: none

Refactor import scripts
  services/database/scripts.mjs
Due: none

Don't catch the error in verify handler
  services/server/src/server/controllers/verification/verify/stateless/verify.stateless.handlers.ts
Due: run-build-server

Support for custom sync tables in sync script
  services/database/scripts.mjs
Due: none

Fix extra-file-input test expected HTTP status
  services/server/test/integration/verification-handlers/verify.stateless.spec.ts
Due: run-build-server

Remove ValidationError in favor of BadRequestError
  services/server/src/common/errors/ValidationError.ts
  services/server/src/common/errors/index.ts
  services/server/src/server/controllers/verification/session-state/session-state.handlers.ts
  services/server/src/server/controllers/verification/solc-json/session/solc-json.session.handlers.ts
  services/server/src/server/controllers/verification/solc-json/stateless/solc-json.stateless.handlers.ts
  services/server/src/server/controllers/verification/verification.common.ts
  services/server/src/server/controllers/verification/verify/stateless/verify.stateless.handlers.ts
  services/server/src/sourcify-chains.ts
Due: run-build-server

Fix test
  services/server/test/integration/verification-handlers/verify.stateless.spec.ts
Due: run-build-server

Abstract pathParts processing
  services/database/scripts.mjs
Due: none

minor fixes to logs text
  services/database/scripts.mjs
Due: none

Add 409 response in API docs
  services/server/src/server/controllers/verification/etherscan/stateless/etherscan.stateless.paths.yaml
  services/server/src/server/controllers/verification/solc-json/stateless/solc-json.stateless.paths.yaml
  services/server/src/server/controllers/verification/verify/stateless/verify.stateless.paths.yaml
Due: run-build-server

throw when cannot process contract from pathParts
  services/database/scripts.mjs
Due: none

Throw HTTP 409 when a partial match already exists on partial verification (#1587)
  services/server/src/common/errors/ConflictError.ts
  services/server/src/common/errors/ValidationError.ts
  services/server/src/common/errors/index.ts
  services/server/src/server/controllers/verification/etherscan/stateless/etherscan.stateless.paths.yaml
  services/server/src/server/controllers/verification/session-state/session-state.handlers.ts
  services/server/src/server/controllers/verification/solc-json/session/solc-json.session.handlers.ts
  services/server/src/server/controllers/verification/solc-json/stateless/solc-json.stateless.handlers.ts
  services/server/src/server/controllers/verification/solc-json/stateless/solc-json.stateless.paths.yaml
  services/server/src/server/controllers/verification/verification.common.ts
  services/server/src/server/controllers/verification/verify/stateless/verify.stateless.handlers.ts
  services/server/src/server/controllers/verification/verify/stateless/verify.stateless.paths.yaml
  services/server/src/server/services/StorageService.ts
  services/server/src/sourcify-chains.ts
  services/server/test/integration/verification-handlers/verify.stateless.spec.ts
Due: run-build-server

Refactor path processing
  services/database/scripts.mjs
Due: none

Remove support for 9977, 192837465, and 842. Update chains.json
  services/server/src/chains.json
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

Implement script to import contracts with `creator-tx-hash.txt` and re-verify them after (#1589)
  services/database/scripts.mjs
Due: none

Update dependency @aws-sdk/client-lambda to v3.637.0
  package-lock.json
  services/server/package.json
Due: run-build-server

Don't return false when auxdata differs in creation code but find by edited-recompilation
  packages/lib-sourcify/src/lib/CheckedContract.ts
Due: run-build-packages

Fix wrong match check in verification logic. Change logs
  packages/lib-sourcify/src/lib/SourcifyChain.ts
  packages/lib-sourcify/src/lib/verification.ts
Due: run-build-packages

Add comment
  packages/lib-sourcify/src/lib/verification.ts
Due: run-build-packages
